<div class="card mb-4">
  <div class="card-content pb-0">
    <h1 class="card-heading">Contact requests</h1>
  </div>

  <div class="table-responsive-md">
    <table class='table mb-0'>
      <thead>
      <tr>
        <th class="column-md"><%= t('public.contact_us.table.headings.name') %></th>
        <th class="column-md">
          <%= t('public.contact_us.table.headings.email') %><br />
          <%= t('public.contact_us.table.headings.telephone') %>
        </th>
        <th class="column-xl"><%= t('public.contact_us.table.headings.comments') %></th>
        <th class="column-md"><%= t('public.contact_us.table.headings.created_at') %></th>
      </tr>
      </thead>
      <tbody>
      <% @contact_requests.each.with_index do |cr, index|%>
        <tr>
          <td class="column-md"><%= cr.name %></td>
          <td class="column-md">
            <%= cr.email_address %><br />
            <%= cr.telephone %>
          </td>
          <td class="column-xl small">
            <%= cr.comments.truncate(100) %>
            <% if cr.comments.length > 100 %>
              <a data-toggle="modal" data-target="#messageModal<%=index%>" class="text-muted" href="">Show full text</a>
              <div class="modal fade" id="messageModal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title">Message from <%= cr.name %></h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body"><%= cr.comments %></div>
                  </div>
                </div>
              </div>
            <% end %>
          </td>
          <td class="column-md"><%= cr.created_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
