<h1 class="mb-4">Edit My Details</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :username, class: "form-label" %>
        <%= f.text_field :username, autofocus: true,
                         autocomplete: "username",
                         class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" do %>
          Password
          <small>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</small>
          <% if @minimum_password_length %>
            <small><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
          <% end %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control'  %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :current_password, class: 'required form-label' do %>
          Current Password <small>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</small>
        <% end %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="mb-3 actions">
        <%= f.submit t('.update'), class: 'btn btn-md btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to :back, class: 'text-muted' do %>
  <i class="fa-solid fa-arrow-left me-1 mt-4"></i> Back
<% end %>
