<h1 class="mb-4"><%= t('.sign_up') %></h1>

<div class="row">
  <div class="col-md-6 mb-4 mb-md-0">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :username, class: 'required form-label' do %>
          Username <small>(letters, numbers and dots allowed)</small>
        <% end %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :email, class: 'required form-label' do %>
          Email <small>(encrypted on disc)</small>
        <% end %>
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: 'required form-label' do %>
          Password
          <% if @minimum_password_length %>
            <small><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
          <% end %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class: 'required form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit t('.sign_up'), class: 'btn btn-md btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6 ps-md-4 ps-lg-5">
    <%= render "devise/shared/side_banner" %>

    <h2 class="h4">
      Already have an account?<br />
      <%= link_to 'Click to sign in.', new_user_session_path %>
    </h2>
  </div>
</div>

