<div class="card mb-4">
  <div class="card-content pb-0">
    <h1 class="card-heading">Privacy Requests</h1>
  </div>

  <div class="table-responsive-lg">
    <table class='table'>
      <thead>
      <tr>
        <th class="column-xs">ID</th>
        <th class="column-sm">Name</th>
        <th class="column-md">Address</th>
        <th class="column-lg">Meta</th>
        <th class="column-sm">Timestamp</th>
        <th class="column-xs"></th>
      </tr>
      </thead>
      <tbody>
      <% @opt_out_requests.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= r.name %></td>
          <td class="small">
            <%= r.street_address %><br />
            <%= r.city %>, <%= r.state %> <%= r.postal_code %>
          </td>
          <td class="small"><%= r.meta_data %></td>
          <td class="small"><%= r.created_at %></td>
          <td>
            <%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end%>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= paginate @opt_out_requests %>
  </div>
</div>
