<h1 class="mb-4"><%= t('.resend_unlock_instructions') %></h1>

<div class="row">
  <div class="col-md-6 mb-4 mb-md-0">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true,
                         autocomplete: "username",
                         class: 'form-control' %>
      </div>

      <div class="form-group actions">
        <%= f.submit t('.resend_unlock_instructions'), class: 'btn btn-md btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6 pl-md-4 pl-lg-5">
    <%= render "devise/shared/sign_up_link" %>
    <hr class="short" />
    <%= render "devise/shared/links" %>
  </div>
</div>
