<h1 class="page-header"><%= params[:network].capitalize %> Autonomous System Number</h1>

<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      <table class='table mb-0'>
        <thead>
          <tr>
            <th colspan="2">
              <strong> ASN: </strong>
              <%= params[:asn] %>
            </th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td class="column-sm"><strong>Data Centers</strong></td>
          <td>
            <% @data_centers.each do |dc| %>
              <%= link_to dc, data_center_url(network: params[:network], key: dc.gsub('/', '-slash-')) %>
              <br \>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-4">
      <table class='table mb-0'>
        <thead>
        <tr>
          <th colspan="2">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Population</strong></td>
            <td><%= @population %></td>
          </tr>
          <tr>
            <td><strong>Total Stake</strong></td>
            <td>
              <%= number_with_delimiter(lamports_to_sol(@asn_stake).round(0)) %>
              (<%= number_to_percentage((@asn_stake/@total_stake.to_f)*100.0,
                                        precision: 2) %>)
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'Filter by delinquent',
    asn_url(network: params[:network], asn: params[:asn], filter_by: :delinquent),
    class: "btn btn-sm btn-secondary mr-1 mb-4 #{'active' if params[:filter_by] == 'delinquent'}" %>

<%= link_to 'Filter by inactive',
    asn_url(network: params[:network], asn: params[:asn], filter_by: :inactive),
    class: "btn btn-sm btn-secondary mr-1 mb-4 #{'active' if params[:filter_by] == 'inactive'}" %>

<% unless params[:filter_by].blank? %>
  <%= link_to 'Reset filters',
      asn_url(network: params[:network], asn: params[:asn]),
      class: 'btn btn-sm btn-tertiary mr-1 mb-4 float-md-right' %>
<% end %>

<div class="card mb-4">
  <%= render 'validators/table',
             batch: @batch,
             validators: @validators,
             show_ip_and_gateway: true,
             show_version: false,
             items_per_page: @per %>
  <%= paginate @scores %>
</div>

<%= link_to 'Back to ASN list',
    data_centers_url(network: params[:network], sort_by: 'asn'),
    class: 'btn btn-sm btn-secondary mr-1 mb-4' %>
