<section class="page-header">
  <h1><%= params[:network].capitalize %> Stats</h1>
  <%= link_to 'Back to Homepage',
              root_url(order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]),
              class: 'btn btn-sm btn-secondary' %>
</section>

<div class="row">
  <div class="col-12 col-md-6 mb-4">
    <%= render partial: "root_distance" %>
  </div>
  <div class="col-12 col-md-6 mb-4">
    <%= render partial: "vote_distance" %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 mb-4">
    <%= render partial: "skipped_vote" %>
  </div>
  <div class="col-12 col-md-6 mb-4">
    <%= render partial: "skipped_slot" %>
  </div>
</div>

<div class="card">
  <div class="card-content pb-0">
    <h2 class="h3 card-heading">Top Validators by:</h2>
  </div>

  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active"
         data-bs-toggle="tab"
         href="#menu1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.active_stake') %>">
         Stake
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         data-bs-toggle="tab"
         href="#menu2"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.skipped_vote') %>">
        Skipped Vote&nbsp;&percnt;
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         data-bs-toggle="tab"
         href="#menu3"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.root_distance') %>">
         Root Distance
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         data-bs-toggle="tab"
         href="#menu4"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.vote_distance') %>">
         Vote Distance
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         data-bs-toggle="tab"
         href="#menu5"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.skipped_slot') %>">
         Skipped Slot&nbsp;&percnt;
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="menu1">
      <div class="table-responsive-md">
        <table class='table mb-0'>
          <thead>
          <tr>
            <th>#</th>
            <th>Validator</th>
            <th class="column-md">Stake</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @stats[:top_staked_validators].each.with_index do |record, index| %>
            <tr>
              <td><%= index + 1 %>.</td>
              <td class="small-md">
                <%= link_to record.last,
                            validator_path(network: params[:network], account: record.last),
                            class: 'word-break' %>
              </td>
              <td><%= number_with_delimiter( lamports_to_sol(record.first).round(0), delimiter: ',')  %></td>
              <td class="text-end">
                <%= link_to validator_path(network: params[:network], account: record.last) do %>
                  <i class="fas fa-external-link-alt"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="menu2">
      <div class="table-responsive-md">
        <table class='table mb-0'>
          <thead>
          <tr>
            <th>#</th>
            <th>Validator</th>
            <th class="column-md">Skipped Vote</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @stats[:top_skipped_vote_validators].each.with_index do |record, index| %>
            <tr>
              <td><%= index + 1 %>.</td>
              <td class="small-md">
                <%= link_to record.last,
                            validator_path(network: params[:network], account: record.last),
                            class: 'word-break' %>
              </td>
              <td><%= (record.first.to_f * 100).round(2).to_s + "%" %></td>
              <td class="text-end">
                <%= link_to validator_path(network: params[:network], account: record.last) do %>
                  <i class="fas fa-search text-purple"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="menu3">
      <div class="table-responsive-md">
        <table class='table mb-0'>
          <thead>
          <tr>
            <th>#</th>
            <th>Validator</th>
            <th class="column-md">Root Distance</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @stats[:top_root_distance_validators].each.with_index do |record, index| %>
            <tr>
              <td><%= index + 1 %>.</td>
              <td class="small-md">
                <%= link_to record.last,
                            validator_path(network: params[:network], account: record.last),
                            class: 'word-break'%>
              </td>
              <td><%= record.first.to_f.round(3) %></td>
              <td class="text-end">
                <%= link_to validator_path(network: params[:network], account: record.last) do %>
                  <i class="fas fa-search text-purple"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="menu4">
      <div class="table-responsive-md">
        <table class='table mb-0'>
          <thead>
          <tr>
            <th>#</th>
            <th>Validator</th>
            <th class="column-md">Vote Distance</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @stats[:top_vote_distance_validators].each.with_index do |record, index| %>
            <tr>
              <td><%= index + 1 %>.</td>
              <td class="small-md">
                <%= link_to record.last,
                            validator_path(network: params[:network], account: record.last),
                            class: 'word-break' %>
              </td>
              <td><%= record.first.to_f.round(3) %></td>
              <td class="text-end">
                <%= link_to validator_path(network: params[:network], account: record.last) do %>
                  <i class="fas fa-search text-purple"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="menu5">
      <div class="table-responsive-md">
        <table class='table mb-0'>
          <thead>
          <tr>
            <th>#</th>
            <th>Validator</th>
            <th class="column-md">Skipped Slot</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @stats[:top_skipped_slot_validators].each.with_index do |record, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td class="small-md">
                <%= link_to record.last,
                            validator_path(network: params[:network], account: record.last),
                            class: 'word-break' %>
              </td>
              <td><%= (record.first.to_f * 100).round(3).to_s + "%" %></td>
              <td class="text-end">
                <%= link_to validator_path(network: params[:network], account: record.last) do %>
                  <i class="fas fa-search text-purple"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <%= render 'validators/software_versions',
             software_versions: @stats[:software_version],
             batch: @batch %>
  <%= render 'stats',
    title: 'General stats',
    this_epoch: @this_epoch,
    validators_count: @validators_count,
    batch: @batch,
    total_active_stake: @total_active_stake %>
</div>
