<h2><%= t('.forgot_your_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group col-md-4"">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, 
                                autocomplete: "username",
                                class: 'form-control' %>
  </div>

  <div class="form-group col-md-4">
    <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="form-group col-md-4">
  <%= render "devise/shared/links" %>
</div>