<div class="table-responsive-md">
  <table class='table mb-0'>
    <thead>
    <tr>
      <th class='column-md text-end'>
        Credits Total<br />
        Last Vote
      </th>
      <th class='column-lg text-end'>
        Credits Current<br />
        Slots Current
      </th>
      <th class='column-sm text-end'>Vote Credit</th>
      <th class='column-sm text-end'>Vote Credit&nbsp;&percnt;</th>
      <th class="column-md">Timestamp</th>
    </tr>
    </thead>
    <tbody>
    <% @vote_account_histories.each do |vote| %>
      <tr>
        <td class='text-end'>
          <%= number_with_delimiter vote.credits %><br />
          <%= number_with_delimiter vote.last_vote %>
        </td>

        <td class='text-end'>
          <%= number_with_delimiter vote.credits_current %><br />
          <%= number_with_delimiter vote.slot_index_current %>
        </td>
        <td class='text-end'>
          <%= number_with_delimiter(vote.slot_index_current.to_i * 8 - (vote.credits_current.to_i) / 2) %>
        </td>
        <td class='text-end'>
          <%=
            number_to_percentage(
              vote.skipped_vote_percent*100.0,
              precision: 2
            )
          %>
        </td>
        <td>
          <%= vote.created_at %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
