<h3>Recent Vote Account Activity</h3>
<table class='table table-striped'>
  <thead class="thead-dark">
    <tr>
      <th>Last<br />Vote</th>
      <th>Credits<br />Total</th>
      <th>Credits<br />Current Epoch</th>
      <th>Slot Index<br />Current Epoch</th>
      <th>Skipped Vote &percnt;</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @vote_account.vote_account_histories.order('id desc').limit(60).each do |vote| %>
    <tr>
      <td class='text-right'>
        <%= number_with_delimiter vote.last_vote %>
      </td>
      <td class='text-right'>
        <%= number_with_delimiter vote.credits %>
      </td>
      <td class='text-right'>
        <%= number_with_delimiter vote.credits_current %>
      </td>
      <td class='text-right'>
        <%= number_with_delimiter vote.slot_index_current %>
      </td>
      <td class='text-right'>
        <%=
          number_to_percentage(
            (vote.slot_index_current.to_i - vote.credits_current.to_i)/vote.slot_index_current.to_f,
            precision: 1
          )
        %>
      </td>
      <td>
        <%= vote.created_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
