<h1 class="page-header"><%= params[:network].capitalize %> Vote Account</h1>

<div class="card">
  <div class="card-content pb-0">
    <h2 class="h2 card-heading">Account Details</h2>
  </div>
  <table class='table table-block-sm mb-0'>
    <tbody>
    <tr>
      <td><strong>Network:</strong></td>
      <td><%= params[:network] %></td>
    </tr>
    <tr>
      <td><strong>Vote Account:</strong></td>
      <td><%= @vote_account.account %></td>
    </tr>
    <tr>
      <td><strong>Identity Account:</strong></td>
      <td>
        <%= link_to @vote_account.validator.account, validator_url(
          network: params[:network],
          account: @vote_account.validator.account
        ) %>
      </td>
    </tr>
    <tr>
      <td><strong>Commission:</strong></td>
      <td><%= @vote_account.vote_account_histories.last.commission rescue 'N/A' %> &percnt;</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="card mb-4">
  <div class="card-content pb-0">
    <h2 class="h2 card-heading">Recent Activity</h2>
  </div>
  <%= render partial: 'vote_account_histories_table' %>
</div>


<%= link_to 'Back to All Validators',
            validators_path(network: params[:network]),
            class: 'btn btn-sm btn-secondary' %>
