<div class="col-12 mb-4">
  <%= form_with(validator: @validator, vote_account: @vote_account, method: :get) do |f| %>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
        <%= f.label :withdrawer, class: "form-label" %>
        <%= f.text_field :withdrawer, class: "form-control", value: params[:withdrawer] %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.label :staker, class: "form-label" %>
        <%= f.text_field :staker, class: "form-control", value: params[:staker] %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="mb-3 col-md-6 col-sm-12">
        <%= f.label :vote_account, class: "form-label" %>
        <%= f.text_field :vote_account, class: "form-control", value: @vote_account&.account, disabled: !@validator.nil? %>
      </div>
      <div class="mb-2 col-md-6 col-sm-12">
        <%= f.label :stake_pubkey, class: "form-label" %>
        <%= f.text_field :stake_pubkey, class: "form-control", value: params[:stake_pubkey] %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% if @validator %>
          <%= link_to "reset filters", validator_vote_account_path(@validator.account, @vote_account.account), class: "mt-1 btn btn-sm btn-tertiary float-end" %>
        <% else %>
          <%= link_to "reset filters", explorer_url, class: "mt-1 btn btn-sm btn-tertiary float-end" %>
        <% end %>
        <%= f.submit "apply", class: "mt-1 btn btn-sm btn-primary float-end me-2" %>
      </div>
    </div>
  <% end %>
</div>
