<table class='table table-block-sm mb-0'>
  <thead>
    <td>stake pubkey</td>
    <td>
      staker <br />
      withdrawer
    </td>
    <td>delegated stake (SOL)</td>
    <td>stake pool</td>
  </thead>
  <tbody>
    <% @explorer_stake_accounts.each do |e_stake_acc| %>
      <tr>
        <td><%= e_stake_acc.stake_pubkey %></td>
        <td>
          <%= link_to stake_acc.staker, 
                      url_for(account: @validator&.account, vote_account: @vote_account&.account, staker: e_stake_acc.staker) 
          %>
          <% if @validator %>
            <%= link_to explorer_stake_accounts_path(staker: e_stake_acc.staker) do %>
              <i class="fa-solid fa-up-right-from-square small ms-2"></i>
            <% end %>
          <% end %>
          <br />
          <%= link_to \
              e_stake_acc.withdrawer,
              url_for(account: @validator&.account, vote_account: @vote_account&.account, withdrawer: e_stake_acc.withdrawer)
          %>
          <% if @validator %>
            <%= link_to explorer_stake_accounts_path(withdrawer: e_stake_acc.withdrawer) do %>
              <i class="fa-solid fa-up-right-from-square small ms-2"></i>
            <% end %>
          <% end %>
        </td>
        <td class="text-center">
          <%= (stake = lamports_to_sol(e_stake_acc.delegated_stake).round(2)) == 0 ? " < 0.01" : stake %>
        </td>
        <td>
          <% if stake_acc = @stake_accounts.find_by(stake_pubkey: e_stake_acc.stake_pubkey) %>
            <% logo = stake_pool_logos([stake_acc.stake_pool.name])&.first %>
            <%= link_to stake_pools_path, data: { turbolinks: false } do%>
              <%= image_tag(
                    logo[:image],
                    class: 'img-xs me-1',
                    title: logo[:name] + " stake pool",
                    alt: logo[:name])
              %>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="card-footer">
  <%= paginate @explorer_stake_accounts %>
</div>
