<div class="col-md-12 mb-4">
  <div class="card mb-4 h-100">
    <div class="card-heading">
      <h2 class="h3 mt-3">Account History</h2>
    </div>
      <div class="table-responsive-xl">
        <table class='table mb-0'>
          <thead>
            <tr class="text-center">
              <th>Rent Exempt Reserve</th>
              <th>Account Balance</th>
              <th>Delegated Stake</th>
              <th>Active Stake</th>
              <th>Deactivating Stake</th>
              <th>Credits Observed</th>
              <th>Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <% @audits.reverse.each do |audit| %>
              <tr class="text-center">
                <td>
                  <%= display_sol_difference(audit.audited_changes["rent_exempt_reserve"]) %>
                </td>
                <td>
                  <%= display_sol_difference(audit.audited_changes["account_balance"])%>
                </td>
                <td>
                  <%= display_sol_difference(audit.audited_changes["delegated_stake"])%>
                </td>
                <td>
                  <%= display_sol_difference(audit.audited_changes["active_stake"])%>
                </td>
                <td>
                  <%= display_sol_difference(audit.audited_changes["deactivating_stake"])%>
                </td>
                <td>
                  <%= display_sol_difference(audit.audited_changes["credits_observed"])%>
                </td>
                <td><%= audit.created_at.strftime("%d-%m-%Y %H:%m") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
