<h1 class="mb-4"><%= t('.sign_in') %></h1>

<div class="row">
  <div class="col-md-6 mb-4 mb-md-0">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3">
        <%= f.label :username, class: 'form-label' %><br />
        <%= f.text_field :username, autofocus: true,
                         autocomplete: "username",
                         class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: 'form-label' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-3 checkbox-custom">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me do %>
            <span class="checkbox"><i class="fa-solid fa-check"></i></span> Remember me
          <% end %>
        </div>
      <% end %>

      <div class="mb-3 actions">
        <%= f.submit t('.sign_in'), class: 'btn btn-md btn-primary mt-0'  %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6 ps-md-4 ps-lg-5">
    <%= render "devise/shared/sign_up_link" %>
    <hr class="short" />
    <%= render "devise/shared/links" %>
  </div>
</div>
