<% @results[:results].each do |_, asn_data| %>
  <tr>
    <td>
      <%= link_to asn_data[:asn], asn_url(network: params[:network], asn:asn_data[:asn]) %>
      <p><%= asn_data[:aso] %></p>
    </td>
    <td class="narrower-column">
      <%
        asn_stat = @asn_stat.find { |stat| stat.traits_autonomous_system_number == asn_data[:asn] }
      %>
      <%= render 'asn_speedometer',
                  canvas_name: "average_score_#{asn_data[:asn]}",
                  value: asn_stat&.average_score || 0,
                  chart_steps: [4, 7, 10],
                  min_value: 0
      %> 
      <div class="text-center">
        <%= asn_stat.average_score.round(3) rescue ''%>
      </div>
    </td>
    <td>
      <% asn_data[:data_centers].each do |dc| %>
        <%= link_to dc, data_center_url(network: params[:network], key: dc.gsub('/', '-slash-')) %>
        <br \>
      <% end %>
    </td>
    <td><%= asn_data[:count] %></td>
    <td>
      <%= number_with_delimiter lamports_to_sol(asn_data[:active_stake]).round(0) %>
      (<%= percent_of_total_stake(asn_data[:active_stake], @results[:total_stake]) %>)
    </td>
  </tr>
<% end %>
