<% @results[:results].each do |_, asn_data| %>
  <tr data-turbolinks="false">
    <td>
      <%= link_to asn_data[:asn], asn_url(network: params[:network], asn: asn_data[:asn]) %>
      <br />
      <%= asn_data[:aso] %>
    </td>

    <td style="max-width: 180px;">
      <%
        asn_average_score = @asn_stat.find { |stat| stat.traits_autonomous_system_number == asn_data[:asn] }&.average_score
        needle_value = set_speedometer_needle_position(value: asn_average_score,
                                                       single_range_size: 11/3.to_f)
      %>
      <%= render 'validators/speedometer_chart',
                 canvas_name: "average_score_#{asn_data[:asn]}",
                 needle_value: needle_value %>
      <div class="text-center small mt-2">
        <%= asn_average_score.round(2) rescue '' %>
      </div>
    </td>

    <td class="small pe-0">
      <% asn_data[:data_centers].each do |dc| %>
        <%= link_to dc, data_center_url(network: params[:network], key: dc.gsub('/', '-slash-')) %>
        <br />
      <% end %>
    </td>

    <td><%= asn_data[:count] %></td>

    <td>
      <% if asn_data[:delinquent_validators] > 0 %>
        <%= link_to asn_data[:delinquent_validators],
            asn_url(network: params[:network], asn: asn_data[:asn], filter_by: ["delinquent"]) %>
        <small class="text-muted ps-1">
          (<%= (count_percentage(asn_data[:delinquent_validators], asn_data[:count])) %>%)
        </small>
      <% else %>
        <%= asn_data[:delinquent_validators] %>
      <% end %>

      <% if params[:network] == 'mainnet' %>
        <br />
        <% if asn_data[:private_validators] > 0 %>
          <%= link_to asn_data[:private_validators],
                      asn_url(network: params[:network], asn: asn_data[:asn], filter_by: ["private"]) %>
          <small class="text-muted ps-1">
            (<%= (count_percentage(asn_data[:private_validators], asn_data[:count])) %>%)
          </small>
        <% else %>
          <%= asn_data[:private_validators] %>
        <% end %>
      <% end %>
    </td>

    <td>
      <small>
        <%= number_with_delimiter lamports_to_sol(asn_data[:active_stake_from_active_validators]).round(0) %>
        (<%= percent_of_total_stake(asn_data[:active_stake_from_active_validators], @results[:total_stake]) %>)
      </small>
      <br />
      <small>
        <%= number_with_delimiter lamports_to_sol(asn_data[:active_stake_from_all_validators]).round(0) %>
        (<%= percent_of_total_stake(asn_data[:active_stake_from_all_validators], @results[:total_stake]) %>)
      </small>
    </td>
  </tr>
<% end %>
