<tr>
  <th class="column-sm">
    ASN
    <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="<%= t('definitions.asn_full_name')%>">
    </i>
  </th>

  <th class="column-sm">
    Average score
    <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
       data-bs-toggle="tooltip"
       data-bs-placement="top"
       title="<%= t('definitions.average_score') %>"></i>
  </th>

  <th class="column-lg">
    Data Centers
  </th>

  <th class="column-md text-nowrap">
    Population
    <small class="text-muted">(<%= @results[:total_population] %>)</small>
    <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
       data-bs-toggle="tooltip"
       data-bs-placement="top"
       title="<%= t('definitions.population_asn') %>">
    </i>
  </th>

  <th class="column-lg">
    <div class="text-nowrap">
      Delinquent
      <small class="text-muted">
        (<%= @results[:total_delinquent] %> |
        <%= (count_percentage(@results[:total_delinquent], @results[:total_population])) %>%)
      </small>
      <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.delinquent_asn') %>">
      </i>
    </div>
    <% if params[:network] == 'mainnet' %>
      Private
      <small class="text-muted">
        (<%= @results[:total_private] %> |
        <%= (count_percentage(@results[:total_private], @results[:total_population])) %>%)
      </small>
      <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.private') %>">
      </i>
    <% end %>
  </th>

  <th class="column-xl">
    <div class="text-nowrap">
      Active Stake
      <small class="text-muted">
        (<%= number_with_delimiter lamports_to_sol(@results[:total_active_stake_from_active_validators]).round(0) %>)
      </small>
      <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.active_stake') %>"></i>
    </div>
    <div class="text-nowrap">
      Total Stake
      <small class="text-muted">
        (<%= number_with_delimiter lamports_to_sol(@results[:total_stake]).round(0) %>)
      </small>
      <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.total_stake') %>"></i>
    </div>
  </th>
</tr>
