<% @results[:results].each do |_, asn_data| %>
  <tr>
    <td class="column-md">
      <%= link_to asn_data[:asn], asn_url(network: params[:network], asn: asn_data[:asn]) %>
      <br />
      <%= asn_data[:aso] %>
    </td>
    <td class="column-sm" style="max-width: 180px;">
      <%
        asn_stat = @asn_stat.find { |stat| stat.traits_autonomous_system_number == asn_data[:asn] }
      %>
      <%= render 'validators/speedometer_chart',
                 canvas_name: "average_score_#{asn_data[:asn]}",
                 value: [asn_stat&.average_score || 0, 11].min,
                 chart_steps: [4, 7, 11],
                 min_value: 0,
                 max_value: 11
      %>
      <div class="text-center small mt-2">
        <%= asn_stat.average_score.round(3) rescue '' %>
      </div>
    </td>
    <td class="column-md small">
      <% asn_data[:data_centers].each do |dc| %>
        <%= link_to dc, data_center_url(network: params[:network], key: dc.gsub('/', '-slash-')) %>
        <br />
      <% end %>
    </td>
    <td class="column-md"><%= asn_data[:count] %></td>
    <td class="column-md">
      <% if asn_data[:delinquent_validators] > 0 %>
        <%= link_to asn_data[:delinquent_validators],
            asn_url(network: params[:network], asn: asn_data[:asn], filter_by: :delinquent) %>
        <small class="text-muted">
          (<%= (count_percentage(asn_data[:delinquent_validators], asn_data[:count])) %>%)
        </small>
      <% else %>
        <%= asn_data[:delinquent_validators] %>
      <% end %>
    </td>
    <% if params[:network] == 'mainnet' %>
      <td class="column-md">
        <% if asn_data[:private_validators] > 0 %>
          <%= link_to asn_data[:private_validators],
            asn_url(network: params[:network], asn: asn_data[:asn], filter_by: :private) %>
          <small class="text-muted">
            (<%= (count_percentage(asn_data[:private_validators], asn_data[:count])) %>%)
          </small>
        <% else %>
          <%= asn_data[:private_validators] %>
        <% end %>
      </td>
    <% end %>
    <td class="column-xl">
      <small>
        <%= number_with_delimiter lamports_to_sol(asn_data[:active_stake_from_active_validators]).round(0) %>
        (<%= percent_of_total_stake(asn_data[:active_stake_from_active_validators], @results[:total_stake]) %>)
      </small>
      <br />
      <small>
        <%= number_with_delimiter lamports_to_sol(asn_data[:active_stake_from_all_validators]).round(0) %>
        (<%= percent_of_total_stake(asn_data[:active_stake_from_all_validators], @results[:total_stake]) %>)
      </small>
    </td>
  </tr>
<% end %>
