<h1><%= params[:network].capitalize %> Data Centers</h1>
<% if params[:key] %>
  <h3><%= params[:key].gsub('-slash-', '/') %></h3>
<% end %>
<p><%= link_to 'Back to Data Centers', data_centers_url(network: params[:network]) %></p>
<table class='table table-striped table-borderless'>
  <thead class="thead-dark">
    <tr>
      <th class="avatar-column">Name</th>
      <th class="name-column">
        Account
      </th>
      <th>
        Active Stake<br />
        <span class='small'> <%= number_with_delimiter lamports_to_sol(@total_stake) %> </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each do |sc| %>
      <% this_validator = sc.validator %>
    <tr>
      <td>
        <span class="avatar">
          <% if this_validator && this_validator.avatar_url %>
            <%= image_tag this_validator.avatar_url, class: 'img-circle' %>
          <% else %>
            <%= image_tag 'https://keybase.io/images/no-photo/placeholder-avatar-180-x-180@2x.png', class: 'img-circle' %>
          <% end %>
        </span>
        <br />
        <%= this_validator.name %>
      </td>
      <td>
        <%= link_to this_validator.account, validator_url(network: params[:network], account: this_validator.account) %>
      </td>
      <td>
        <%= number_with_delimiter lamports_to_sol(sc.active_stake) %>
        (  <%= number_to_percentage(
                 (sc.active_stake / @total_stake.to_f)*100.0,
                 precision: 2
              )
           %>)
      </td>
    </tr>
    <% end %>
  </tbody>


</table>
<p><%= link_to 'Back to Data Centers', data_centers_url(network: params[:network]) %></p>
