<h1 class="page-header"><%= params[:network].capitalize %> Data Center</h1>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <table class='table mb-0'>
        <thead>
          <tr>
            <th colspan="2">
              <h2 class="h6 mb-0">
                <% if params[:key] %>
                  <%= params[:key].gsub('-slash-', '/') %>
                <% else %>
                  &nbsp;
                <% end %>
              </h2>
            </th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td class="column-lg"><strong>ASN</strong></td>
          <td><%= @dc_info.traits_autonomous_system_number %></td>
        </tr>
        <tr>
          <td><strong>Country</strong></td>
          <td><%= @dc_info.country_name %></td>
        </tr>
        <tr>
          <td><strong>Population</strong></td>
          <td><%= @population %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <table class='table mb-0'>
        <thead>
        <tr>
          <th colspan="2">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td class="column-lg"><strong>ASO</strong></td>
            <td><%= @dc_info.traits_autonomous_system_organization %></td>
          </tr>
          <tr>
            <td><strong>Location</strong></td>
            <td>
              <%= @dc_info.city_name || @dc_info.location_time_zone %>
            </td>
          </tr>
          <tr>
            <td><strong>Total Stake</strong></td>
            <td>
              <%= number_with_delimiter(lamports_to_sol(@dc_stake).round(0)) %>
              <span class="text-muted">
                (<%= number_to_percentage((@dc_stake / @total_stake.to_f)*100.0, precision: 2) %>)
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between flex-wrap gap-3 mb-4">
  <%= render "filters", { view: "data_center" } %>

  <% unless params[:filter_by].blank? %>
    <%= link_to 'Reset filters',
                data_center_url(network: params[:network], key: params[:key]),
                class: 'btn btn-sm btn-tertiary' %>
  <% end %>
</div>

<div class="card mb-4">
  <%= render 'validators/table',
             batch: @batch,
             validators: @validators,
             show_ip_and_gateway: true,
             items_per_page: @per,
             show_watchlist_btn: false %>
  <div class="card-footer">
    <%= paginate @validators %>
  </div>
</div>

<%= link_to 'Back to All Data Centers',
    data_centers_url(network: params[:network]),
    class: 'btn btn-sm btn-secondary' %>
