<%= javascript_pack_tag "data_centers/data_center_charts.js" %>

<section class="page-header">
  <h1>
    <%= params[:network].capitalize %> Data Centers
    <span class="text-muted">(<%= @results[:results].count %>)</span>
  </h1>

  <div class="btn-group btn-group-toggle me-2" aria-label="filter">
    <%= link_to "Data Center",
                data_centers_url(network: params[:network], sort_by: :data_center),
                class: "btn btn-sm #{[nil, 'data_center'].include?(@sort_by) ? 'btn-primary' : 'btn-secondary'}" %>
    <%= link_to "ASN",
                data_centers_url(network: params[:network], sort_by: :asn),
                class: "btn btn-sm #{@sort_by == 'asn' ? 'btn-primary' : 'btn-secondary'}" %>
  </div>
  <a href="#data-center-charts-component" class="btn btn-sm btn-secondary">Data Center Stats</a>
</section>

<div class="card mb-4">
  <div class="table-responsive-xl">
    <table class='table mb-0'>
      <thead>
        <%= render_table_header_by(@sort_by) %>
      </thead>

      <tbody>
        <%= render_table_content_by(@sort_by) %>
      </tbody>
    </table>
  </div>
</div>

<div id="data-center-charts-component"></div>
