<%= javascript_pack_tag "data_centers/data_center_charts.js" %>

<section class="page-header">
  <h1>
    <%= params[:network].capitalize %> Data Centers
    <span class="text-muted">(<%= @results[:results].count %>)</span>
  </h1>

  <div id="data-center-charts-component" chart_by=<%= params[:secondary_sort]%>></div>

  <div class="btn-group btn-group-toggle me-2" aria-label="filter">
    <%= link_to "Data Center",
                data_centers_url(network: params[:network], sort_by: :data_center, secondary_sort: params[:secondary_sort]),
                class: "btn btn-sm #{[nil, 'data_center'].include?(@sort_by) ? 'btn-primary' : 'btn-secondary'}",
                data: { turbolinks: false } %>
    <%= link_to "ASN",
                data_centers_url(network: params[:network], sort_by: :asn, secondary_sort: params[:secondary_sort]),
                class: "btn btn-sm #{@sort_by == 'asn' ? 'btn-primary' : 'btn-secondary'}",
                data: { turbolinks: false } %>
  </div>

  <div class="btn-group btn-group-toggle me-2" aria-label="filter">
    <%= link_to "stake",
                data_centers_url(network: params[:network], sort_by: params[:sort_by], secondary_sort: :stake),
                class: "btn btn-sm #{[nil, 'stake'].include?(params[:secondary_sort]) ? 'btn-primary' : 'btn-secondary'}",
                data: { turbolinks: false } %>
    <%= link_to "count",
                data_centers_url(network: params[:network], sort_by: params[:sort_by], secondary_sort: :count),
                class: "btn btn-sm #{params[:secondary_sort] == 'count' ? 'btn-primary' : 'btn-secondary'}",
                data: { turbolinks: false } %>
  </div>
</section>

<div class="card mb-4">
  <div class="table-responsive-xl">
    <table class='table mb-0'>
      <thead>
        <%= render_table_header_by(@sort_by) %>
      </thead>

      <tbody>
        <%= render_table_content_by(@sort_by) %>
      </tbody>
    </table>
  </div>
</div>
