<h1><%= params[:network].capitalize %> Data Centers</h1>
<table class='table table-striped table-borderless'>
  <thead class="thead-dark">
    <tr>
      <th>Key</th>
      <th>ISP</th>
      <th>Country</th>
      <th>Location</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @data_centers.each do |dc| %>
    <tr>
      <td><%= dc[0] %></td>
      <td><%= dc[1] %></td>
      <td><%= dc[2] %></td>
      <td><%= dc[3] %></td>
      <td><%= dc[4] %></td>
    </tr>
    <% end %>
  </tbody>


</table>
