<h1 class="page-header"><%= params[:network].capitalize %> Data Centers</h1>
<div class="row">
  <div class=" mb-4 col-12" role="toolbar" aria-label="filter">
    <%= link_to "Data Centers", \
                data_centers_url(network: params[:network], sort_by: :data_center), \
                class: "btn btn-sm mr-1 #{[nil, 'data_center'].include?(@sort_by) ? 'btn-primary' : 'btn-secondary'}" %>
    <%= link_to "ASN",\
                data_centers_url(network: params[:network], sort_by: :asn), \
                class: "btn btn-sm mr-1 #{@sort_by == 'asn' ? 'btn-primary' : 'btn-secondary'}" %>
  </div>
</div>
<div class="card mb-4">
  <div class="table-responsive-md">
    <table class='table mb-0'>
      <thead>
        <%= render_table_header_by(@sort_by) %>
      </thead>

      <tbody>
        <%= render_table_content_by(@sort_by) %>
      </tbody>
    </table>
  </div>
</div>
