<section class="page-header">
  <h1>My Dashboard</h1>
  <div class="page-header-tags row">
    <div class="col-sm-8 form-inline">
      <%= link_to 'Edit My Details', edit_user_registration_url, class: 'btn btn-sm btn-secondary mb-3 mb-sm-0 mr-3' %>
      <%= button_to 'Cancel My Account', registration_path(@user),
                    data: { confirm: 'Are you sure? This operation is irreversible.' }, method: :delete,
                    class: 'btn btn-sm btn-secondary mb-3 mb-sm-0 mt-0' %>
    </div>
    <div class="col-sm-4 text-sm-right">
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-tertiary mb-3 mb-sm-0 mt-0' %>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content pb-0">
        <h2 class="card-heading">Personal Data</h2>
      </div>

      <table class="table table-block-sm mb-0">
        <tbody>
          <tr>
            <td><strong>Username:</strong></td>
            <td><%= @user.username %></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content pb-0">
        <h2 class="card-heading">API</h2>
      </div>

      <table class="table table-block-sm mb-0">
        <tbody>
        <tr>
          <td><strong>API Token:</strong></td>
          <td>
            <%= @user.api_token %><br />
            <%= button_to 'Regenerate Token', you_regenerate_token_url, class: 'btn btn-xs btn-secondary my-3' %>
            <p class="small text-muted">
              Regenerate only if your current API token was compromised.<br />
              Change takes effect immediately.
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if @validators.present? %>
  <div class="card mb-4">
    <div class="card-content pb-0">
      <h2 class="card-heading">Fav Validators (<%= params[:network] %>)</h2>
    </div>

    <%= render 'validators/table',
               batch: @batch,
               validators: @validators,
               show_ip_and_gateway: true,
               show_version: false,
               items_per_page: @per,
               show_watchlist_btn: false %>
    <%= paginate @validators %>
  </div>
  <%= link_to 'Find more Validators',
              validators_path(network: params[:network]),
              class: 'btn btn-sm btn-secondary' %>
<% end %>

