<h1>Your Dashboard</h1>
<div class="row you-dashboard">
  <div class="col-sm-6">
    User Name:
  </div>
  <div class="col-sm-6">
    <%= @user.username %>
  </div>
</div>
<div class="row you-dashboard">
  <div class="col-sm-6">
  Email:
  </div>
  <div class="col-sm-6">
    <%= @user.email %>
  </div>
</div>
<div class="row you-dashboard">
  <div class="col-sm-6">
    API Token:
  </div>
  <div class="col-sm-6">
    <%= @user.api_token %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    &nbsp;
  </div>
  <div class="col-sm-6">
    <%= button_to 'Regenerate Token', you_regenerate_token_url, class: 'btn  btn-light' %>
    Regenerate only if your current API token was compromised.<br />
    Change takes effect immediately.
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= link_to 'Edit Your Details', edit_user_registration_url, class: 'you-dashboard' %>
  </div>
  <div class="col-sm-6">
    &nbsp;
  </div>
</div>
