<section class="page-header">
  <h1>My Account</h1>
  <div class="d-flex justify-content-between flex-wrap gap-3">
    <div>
      <%= link_to 'Edit My Details', edit_user_registration_url, class: 'btn btn-sm btn-secondary me-2' %>
      <%= button_to 'Cancel My Account', registration_path(@user),
                    data: { confirm: 'Are you sure? This operation is irreversible.' },
                    method: :delete,
                    form_class: "d-inline-block",
                    class: 'btn btn-sm btn-secondary m-0' %>
    </div>
    <div>
      <%= button_to 'Sign Out', destroy_user_session_path,
          method: :delete,
          form_class: "d-inline-block",
          class: 'btn btn-sm btn-tertiary m-0' %>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content pb-0">
        <h2 class="h4 card-heading">Personal Data</h2>
      </div>

      <table class="table table-block-sm mb-0">
        <tbody>
          <tr>
            <td><strong>Username:</strong></td>
            <td><%= @user.username %></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content pb-0">
        <h2 class="h4 card-heading">API</h2>
      </div>

      <table class="table table-block-sm mb-0">
        <tbody>
        <tr>
          <td class="align-top"><strong>API Token:</strong></td>
          <td>
            <%= @user.api_token %><br />
            <%= button_to 'Regenerate Token', you_regenerate_token_url, class: 'btn btn-sm btn-secondary my-3' %>
            <p class="small text-muted">
              Regenerate only if your current API token was compromised.<br />
              Change takes effect immediately.
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if @validators.present? %>
  <div class="card mb-4">
    <div class="card-content pb-0">
      <h2 class="h4 card-heading d-none d-md-block">Favourite Validators (<%= params[:network] %>)</h2>
      <h2 class="h4 card-heading d-md-none">Fav Validators (<%= params[:network] %>)</h2>
    </div>

    <%= render 'validators/table',
               batch: @batch,
               validators: @validators,
               show_ip_and_gateway: true,
               items_per_page: @per,
               show_watchlist_btn: false %>
    <div class="card-footer">
      <%= paginate @validators %>
    </div>
  </div>
  <%= link_to 'Find more Validators',
              validators_path(network: params[:network]),
              class: 'btn btn-sm btn-secondary' %>
<% end %>

