<% # EXAMPLE: render '/validators/as_row', score: ValidatorScoreV1.first %> 

<tr id="row-<%=i%>">
  <td class="avatar-column">
    <div class="avatar">
      <% if validator.private_validator? %>
        <div class="img-circle-medium-private">
          <span class='fas fa-users-slash' title="Private Validator"></span>
        </div>
      <% elsif validator.avatar_url %>
        <%= image_tag validator.avatar_url, class: 'img-circle-medium' %>
      <% else %>
        <%= image_tag 'https://keybase.io/images/no-photo/placeholder-avatar-180-x-180@2x.png', class: 'img-circle-medium' %>
      <% end %>
    </div>
    <% if validator.delinquent? %>
      <small class="text-danger">delinquent</small>
    <% end %>
  </td>

  <td class="name-column">
    <%= link_to validator_url(network: params[:network], account: validator.account, order: params[:order], page: params[:page], refresh: params[:refresh]),
                class: 'font-weight-bold' do %>
      <span><%= i %>.&nbsp;</span><%= validator_display_name(validator) %>
    <% end %>
    <% unless validator.private_validator? %>
      <small>
        (<span class="d-inline-block d-lg-none">Commission:&nbsp;</span><%= validator.commission %>%)
      </small>
    <% end %>
    <br />
    <span class="d-inline-block d-lg-none">Active Stake:&nbsp;</span>
    <small>
      <%= number_with_delimiter lamports_to_sol(validator.active_stake).round(0) %>
      (<%= number_to_percentage(validator.stake_concentration.to_f * 100.0, precision: 1) %>)
    </small>
    <br />
    <small>
      <%= validator.score.ip_address%>
    </small>
    <br />
    <% if score_ip&.data_center_host %>
      <small>
        <%= score_ip.data_center_host %>
      </small>
      <br />
    <% end %>
    <span class="d-inline-block d-lg-none">Scores:&nbsp;</span>
    <%= render 'validators/scores', validator: validator %>
  </td>

  <!-- SKIPPED VOTE % -->
  <td class="percent-column align-middle" id="skipped-vote-column-<%=i%>">
    <% skipped_vote_percent = skipped_vote_percent(validator, @batch) %>
    <% if skipped_vote_percent %>
      <div class="d-none d-lg-block">
        <%= render 'validators/spark_line_skipped_vote',
                    account: validator.account,
                    value: [skipped_vote_percent, @batch.skipped_vote_all_median.to_f * 3].max,
                    chart_steps: [@batch.skipped_vote_all_median.to_f * 2, @batch.skipped_vote_all_median.to_f, 0.05],
                    min_value: @batch.skipped_vote_all_median.to_f * 3
        %>
        <div class="text-center text-muted small mt-3">
          <%= number_to_percentage(skipped_vote_percent, precision: 2) %>
        </div>
      </div>
    <% else %>
      <span class="d-none d-lg-block text-center text-muted">N/A</span>
    <% end %>
    <span class="d-inline-block d-lg-none">
      Skipped Vote&nbsp;% (distance from leader):
      <%= skipped_vote_percent ? number_to_percentage(skipped_vote_percent, precision: 2) : "N/A" %>
    </span>
  </td>

  <td class="d-lg-none pt-0">
    <div class="row mb-3">
      <div class="col pr-0">
        <a class="chart-link" data-iterator="<%=i%>" data-target="root-distance" href="">
          Root <br class="d-xxs-inline-block" />Distance
        </a>
      </div>
      <div class="col pr-0">
        <a class="chart-link" data-iterator="<%=i%>" data-target="vote-distance" href="">
          Vote <br class="d-xxs-inline-block" />Distance
        </a>
      </div>
      <div class="col">
        <a class="chart-link" data-iterator="<%=i%>" data-target="skipped-slots" href="">
          Skipped <br class="d-xxs-inline-block" />Slots
        </a>
      </div>
    </div>
  </td>
  <!-- ROOT DISTANCE -->
  <td class="chart-column d-none d-lg-table-cell" id="root-distance-<%=i%>">
    <%
      vl = chart_x_scale(validator.score&.root_distance_history.to_a.count)
      line_color = chart_line_color(validator.root_distance_score)
      fill_color = chart_fill_color(validator.root_distance_score)
      vector = validator.score&.root_distance_history.to_a[-vl..-1]
    %>
    <% max_value = vector&.max %>
    <% if max_value && max_value > Y_ROOT_DISTANCE_MAX %>
      <% max_value_position = max_value_position(vector) %>
      <% max_value_position_mobile = max_value_position(vector, min_position: false) %>
      <div class="chart-top-container">
        <div class="chart-top-value d-lg-none" style="width: <%=max_value_position_mobile%>">
          <%= max_value %>
        </div>
        <div class="chart-top-value d-none d-lg-block" style="width: <%=max_value_position%>">
          <%= max_value %>
        </div>
      </div>
    <% end %>
    <%= render 'validators/spark_line_block_distance',
                account: validator.account,
                vector: vector,
                line_color: line_color,
                fill_color: fill_color
    %>
  </td>

  <!-- VOTE DISTANCE -->
  <td class="chart-column d-none d-lg-table-cell" id=vote-distance-<%=i%>>
    <%
      vl = chart_x_scale(validator.score&.vote_distance_history.to_a.count)
      line_color = chart_line_color(validator.vote_distance_score)
      fill_color = chart_fill_color(validator.vote_distance_score)
      vote_vector = validator.score&.vote_distance_history.to_a[-vl..-1]
    %>
    <% max_value = vote_vector&.max %>
    <% if max_value && max_value > Y_VOTE_DISTANCE_MAX %>
      <% max_value_position = max_value_position(vote_vector) %>
      <% max_value_position_mobile = max_value_position(vote_vector, min_position: false) %>
      <div class="chart-top-container">
        <div class="chart-top-value d-lg-none" style="width: <%=max_value_position_mobile%>">
          <%= max_value %>
        </div>
        <div class="chart-top-value d-none d-lg-block" style="width: <%=max_value_position%>">
          <%= max_value %>
        </div>
      </div>
    <% end %>
    <%= render 'validators/spark_line_vote_distance',
                account: validator.account,
                vector: vote_vector,
                line_color: line_color,
                fill_color: fill_color
    %>
  </td>

  <!-- SKIPPED SLOTS  -->
  <td class="chart-column d-none d-lg-table-cell" id="skipped-slots-<%=i%>">
    <%
      vl = chart_x_scale(validator.score&.skipped_slot_history.to_a.count)
      ma = chart_x_scale(validator.score&.skipped_slot_moving_average_history.to_a.count)

      skipped_slots_moving_avg = validator.score&.skipped_slot_moving_average_history.to_a[-ma..-1]&.map { |v| (v.to_f*100.0).round(1) }
      slot_vector = validator.score&.skipped_slot_history.to_a[-vl..-1].map { |v| (v.to_f*100.0).round(1) }

      line_color = chart_line_color(validator.skipped_slot_score)
      fill_color = chart_fill_color(validator.skipped_slot_score)
    %>
    <%= render 'validators/spark_line_skipped_slots',
                account: validator.account,
                vector: slot_vector,
                line_color: line_color,
                fill_color: fill_color,
                moving_avg: skipped_slots_moving_avg
    %>
  </td>
</tr>
