<% # EXAMPLE: render '/validators/as_row', score: ValidatorScoreV1.first %> 

<% this_validator = score.validator %>
<tr>
  <td class="d-none d-lg-table-cell">
    <span class="avatar">
      <%= display_avatar(this_validator) %>
    </span>
    <% if score.delinquent? %>
      <small class="text-danger">delinquent</small>
    <% end %>
  </td>
  <td>
    <div class="mb-2">
      <div class="d-lg-none">Name & Stake:</div>
      <%= link_to validator_display_name(this_validator) + ":",
                  validator_url(network: params[:network], account: this_validator.account),
                  class: 'font-weight-bold' %>
      <%= number_with_delimiter lamports_to_sol(score.active_stake).round(2) %>
      (<%= percent_of_total_stake(score.active_stake, @total_stake) %>)
    </div>
    <div class="d-lg-none">Account:</div>
    <%= link_to this_validator.account,
                validator_url(network: params[:network],account: this_validator.account),
                class: 'word-break-md' %>
    <br />
    <%= render 'validators/scores', validator: this_validator %>
  </td>
  <td>
    <div class="mb-2">
      <div class="d-lg-none">IP Address: </div>
      <%= score.ip_address %>
    </div>
    <% if score_ip %>
      <div class="d-lg-none">Data Center Gateway: </div>
      <%= score_ip&.data_center_host %>
    <% end %>
  </td>
</tr>
