<section class="banner">
  <div class="heading-primary">Meet the <span>validators</span> who power Solana</div>
  <% unless @validators.blank? %>
    <p class="lead">
      The tables below show each validator by name and include some recent statistics for each. See our
      <%= link_to 'Getting Started', faq_url(anchor: 'score'), target: '_blank' %> page for a&nbsp;description of the&nbsp;scores shown
      below. Special thanks to <%= link_to 'Staking Facilities', 'https://stakingfacilities.com/', target: '_blank' %>
      for their support!
    </p>
  <% end %>
  <p class="lead">
    NEW! &mdash; You can now improve the&nbsp;security of the&nbsp;Solana blockchain by participating in stake pools.
    A&nbsp;stake pool spreads your delegation across hundreds of validators.
    Liquid stake pools allow you to move in and out of the&nbsp;pool without warm-up or cool-down periods.
    See <%= link_to 'Lido', 'https://lido.fi/solana', target: "_blank" %>, <%= link_to 'Marinade Finance', 'https://marinade.finance', target: "_blank" %> 
    & <%= link_to 'Socean', 'https://www.socean.fi', target: "_blank" %> to learn more about liquid staking.
  </p>
</section>
