<section class="banner">
  <div class="heading-primary">Meet the <span>validators</span> who power Solana</div>
  <% unless @validators.blank? %>
    <p class="lead">
      The tables below show each validator by name and include some recent statistics for each. See our
      <%= link_to 'Getting Started', faq_url(anchor: 'score'), target: '_blank' %> page for a&nbsp;description of the&nbsp;scores shown
      below. Special thanks to <%= link_to 'Staking Facilities', 'https://stakingfacilities.com/', target: '_blank' %>
      for their support!
    </p>
  <% end %>
</section>
<div class="card">
  <div class="card-content">
    <h2 class="card-heading mb-4">NEW! Stake Pools</h2>
    <p class="lead">
      You can now improve the security of the&nbsp;Solana blockchain by participating in&nbsp;stake pools.
      A&nbsp;stake pool spreads your delegation across hundreds of&nbsp;validators. Liquid stake pools allow you
      to&nbsp;move in and out of the&nbsp;pool without warm-up or cool-down periods. See
      <%= link_to 'Lido', 'https://lido.fi/solana', target: "_blank" %>, <%= link_to 'Marinade Finance', 'https://marinade.finance', target: "_blank" %>
      &&nbsp;<%= link_to 'Socean', 'https://www.socean.fi', target: "_blank" %> to&nbsp;learn more about liquid staking.
    </p>
    <div class="row text-center mt-4 mb-3">
      <div class="col-sm-4 offset-md-1 col-md mb-4 mb-sm-0">
        <a href="https://lido.fi/solana" title="Lido" target="_blank">
          <%= image_tag 'lido.png', class: 'w-100 px-4 px-sm-0 px-lg-4' %>
        </a>
      </div>
      <div class="col-sm-4 col-md mb-4 mb-sm-0">
        <a href="https://marinade.finance" title="Marinade Finance" target="_blank">
          <%= image_tag 'marinade.png', class: 'w-100 px-4 px-sm-0 px-lg-4' %>
        </a>
      </div>
      <div class="col-sm-4 col-md mb-4 mb-sm-0">
        <a href="https://www.socean.fi" title="Socean" target="_blank">
          <%= image_tag 'socean.png', class: 'w-100 px-4 px-sm-0 px-lg-4' %>
        </a>
      </div>
      <div class="d-none d-md-block col-md-1"></div>
    </div>
  </div>
</div>
