<section class="banner">
  <h1 class="heading-primary">Meet the <span>validators</span> who power Solana</h1>
  <% unless @validators.blank? %>
    <p class="lead mb-4">
      The&nbsp;tables below show each validator by&nbsp;name and include some recent statistics for&nbsp;each. If you appreciate
      this website, please delegate to <%= link_to "Block Logic", "https://www.blocklogic.net/", target: "_blank" %>.
      Your delegations keep this&nbsp;website running!
    </p>
    <%= link_to 'Getting Started', faq_path(anchor: ''), class: 'btn btn-md btn-secondary me-2 mb-3' %>
    <%= link_to 'Choosing the right validator', faq_path(anchor: 'choosing-validator'), class: 'btn btn-md btn-secondary me-2 mb-3 d-none d-md-inline-block' %>
    <%= link_to 'Choosing validator', faq_path(anchor: 'choosing-validator'), class: 'btn btn-md btn-secondary me-2 mb-3 d-md-none' %>
    <%= link_to 'Our Scoring System', faq_path(anchor: 'score'), class: 'btn btn-md btn-secondary me-2 mb-3' %>
    <%= link_to 'FAQ', faq_path(anchor: 'questions'), class: 'btn btn-md btn-secondary mb-3' %>
  <% end %>
</section>
<div class="card">
  <div class="card-content">
    <p class="lead">
      You can now improve the&nbsp;security of the&nbsp;Solana blockchain by participating in
      <%= link_to 'Stake Pools', stake_pools_path, target: '_blank' %>.
      A&nbsp;stake pool spreads your delegation across hundreds of&nbsp;validators. Liquid stake pools allow you
      to&nbsp;move in and out of the&nbsp;pool without warm-up or cool-down periods. See the&nbsp;links below to&nbsp;learn more
      about liquid staking.
    </p>

    <div id="carouselLogos" class="carousel slide d-none d-md-block px-lg-5 mb-3" data-bs-ride="carousel" data-bs-interval="4000">
      <div class="carousel-inner">
        <% shuffle_logos.each_slice(3).to_a.each_with_index do |group, index_slide| %>
          <div class="carousel-item <%= 'active' if index_slide == 0 %>">
            <div class="row text-center px-lg-5 mt-4">
              <% group.each_with_index do |logo, index_col| %>
                <div class="col-md-4 mb-4 mb-sm-0 <%= 'offset-md-4' if index_slide == 2 %>">
                  <%= link_to logo[0], target: "_blank" do %>
                    <%= image_tag logo[1], class: 'img-link w-100 px-4 px-sm-1 px-lg-3 mb-4' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="carouselLogosMobile" class="carousel slide d-md-none" data-bs-ride="carousel" data-bs-interval="4000">
      <div class="carousel-inner">
        <% shuffle_logos.each_with_index do |logo, index_slide| %>
          <div class="carousel-item <%= 'active' if index_slide == 0 %>">
            <%= link_to logo[0], target: "_blank" do %>
              <%= image_tag logo[1], class: 'img-link w-100 px-4 px-sm-1' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <ol class="carousel-indicators">
        <% shuffle_logos.count.times do |index| %>
          <li data-bs-target="#carouselLogosMobile" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
        <% end %>
      </ol>
    </div>

    Need to unstake SOL in a&nbsp;hurry? Try the new <%= link_to 'Unstake It', 'https://www.unstake.it/en/', target: '_blank' %>
    tool and get paid immediately for your active stake account.
  </div>
</div>
