<section class="banner">
  <div class="heading-primary">Meet the <span>validators</span> who power Solana</div>
  <% unless @validators.blank? %>
    <p class="lead mb-4">
      The tables below show each validator by name and include some recent statistics for each. Special thanks
      to <%= link_to 'Staking Facilities', 'https://stakingfacilities.com/', target: '_blank' %>
      for their support! See the links below to learn more about our website.
    </p>
    <%= link_to 'Getting Started', faq_path(anchor: ''), class: 'btn btn-md btn-secondary mr-1 mb-3' %>
    <%= link_to 'Choosing the right validator', faq_path(anchor: 'choosing-validator'), class: 'btn btn-md btn-secondary mr-1 mb-3' %>
    <%= link_to 'Our Scoring System', faq_path(anchor: 'score'), class: 'btn btn-md btn-secondary mr-1 mb-3' %>
    <%= link_to 'FAQ', faq_path(anchor: 'questions'), class: 'btn btn-md btn-secondary mr-1 mb-3' %>
  <% end %>
</section>
<div class="card">
  <div class="card-content">
    <h2 class="card-heading mb-4">NEW! Stake Pools</h2>
    <p class="lead">
      You can now improve the security of the&nbsp;Solana blockchain by participating in&nbsp;stake pools.
      A&nbsp;stake pool spreads your delegation across hundreds of&nbsp;validators. Liquid stake pools allow you
      to&nbsp;move in and out of the&nbsp;pool without warm-up or cool-down periods. See the&nbsp;links below to&nbsp;learn more
      about liquid staking.
    </p>

    <div id="carouselLogos" class="carousel slide d-none d-md-block" data-ride="carousel">
      <div class="carousel-inner">
        <% shuffle_logos.each_slice(3).to_a.each_with_index do |group, index_slide| %>
          <div class="carousel-item <%= 'active' if index_slide == 0 %>">
            <div class="row text-center px-lg-5 mt-4">
              <% group.each_with_index do |logo, index_col| %>
                <div class="col-md-4 mb-4 mb-sm-0 <%= 'offset-md-2' if index_slide == 1 && index_col == 0 %>">
                  <%= link_to logo[0], target: "_blank" do %>
                    <%= image_tag logo[1], class: 'w-100 px-4 px-sm-1 px-lg-3 mb-4' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="carouselLogosMobile" class="carousel slide d-md-none" data-ride="carousel">
      <div class="carousel-inner">
        <% shuffle_logos.each_with_index do |logo, index_slide| %>
          <div class="carousel-item <%= 'active' if index_slide == 0 %>">
            <%= link_to logo[0], target: "_blank" do %>
              <%= image_tag logo[1], class: 'w-100 px-4 px-sm-1' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <ol class="carousel-indicators">
        <% shuffle_logos.count.times do |index| %>
          <li data-target="#carouselLogosMobile" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
