<h3>Validator Recent Block Production</h3>
<table class='table table-striped'>
  <thead class="thead-dark">
    <tr>
      <th>Epoch</th>
      <th>Leader Slots<br />Total Slots</th>
      <th>Blocks Produced<br />Total Blocks</th>
      <th>Skipped Slots<br />Total Skipped</th>
      <th>Skipped Slot Percent<br />Total Percent</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @validator.validator_block_histories.order('id desc').limit(60).each do |history| %>
    <% block_stats = ValidatorBlockHistoryStat.where(batch_id: history.batch_id)
                                              .first %>
    <tr>
      <td class='text-right'>
        <%= number_with_delimiter history.epoch %>
      </td>
      <td class='text-right'>
        <%= number_with_delimiter history.leader_slots %><br />
        <%= number_with_delimiter block_stats.total_slots \
              unless block_stats.nil? %>
      </td>
      <td class='text-right'>
        <%= number_with_delimiter history.blocks_produced %><br />
        <%= number_with_delimiter block_stats.total_blocks_produced \
              unless block_stats.nil? %>
      </td>
      <td class='text-right'>
        <%= number_with_delimiter history.skipped_slots %><br />
        <%= number_with_delimiter block_stats.total_slots_skipped \
             unless block_stats.nil? %>
      </td>
      <td class='text-right'>
        <%= number_to_percentage (history.skipped_slot_percent*100.0) %><br />
        <%= number_to_percentage (
              block_stats.total_slots_skipped/block_stats.total_slots.to_f
              )*100.0 unless block_stats.nil? %>
      </td>
      <td>
        <%= history.created_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
