<%= form_with(model: validator, local: true) do |form| %>
  <% if validator.errors.any? %>
    <div class="form-errors alert alert-danger">
      <h6><%= pluralize(validator.errors.count, "error") %> prohibited this validator from being saved:</h6>
      <ul>
        <% validator.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :network, class: 'form-label' %>
    <%= form.text_field :network, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :account_identity, class: 'form-label' %>
    <%= form.text_field :account_identity, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :account_vote, class: 'form-label' %>
    <%= form.text_field :account_vote, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.submit 'Save', class: 'btn btn-md btn-primary' %>
  </div>
<% end %>
