<div class="card map">
  <div class="map-background">
    <div class="map-points">
      <%
        # fake validators data - TODO to replace
        #
        # TODO group by data center - the same dc = the same geo coord
        #      sort from the lowest to the highest sum of validators in DC
        # TODO another option: group by country (except large countries like US, CA, RU?)
        #
        @api_response = {
          network: 'mainnet',
          validators_count: '2037',
          nodes_count: '1542',
          validators: [
            { validator_name: 'Valhall Validator', account: '9XBZbtW61oRypcCyKko9Q9k41yFHAoCGwqs7XrNTfTf3', latitude: '59.9452', longitude: '10.7559', country: 'Norway', country_iso_code: 'NO', data_center_key: '34989-NO-Europe/Oslo', },
            { validator_name: 'Block Logic', account: 'DDnAqxJVFo2GVTujibHt5cjevHMSE9bo8HJaydHoshdp', latitude: '52.3716', longitude: '4.8883', country: 'Netherlands', country_iso_code: 'NL', data_center_key: '20326-NL-Amsterdam',},
            { validator_name: 'Aquanode', account: 'J2jV3gQsvX2htBXHeNStAVvMJaPe3RgNotwfav9pyS6y', latitude: '39.0481', longitude: '-77.4728', country: 'United States', country_iso_code: 'US', data_center_key: '14618-US-Ashburn',},
            { validator_name: 'NodesGuru', account: '8n9KRHDRDuZErZwdwzhtsTFJxmHqgCQ4ddZcdk6GMzvQ', latitude: '48.8582', longitude: '2.3387', country: 'France', country_iso_code: 'FR', data_center_key: '16276-FR-Roubaix',},
            { validator_name: 'StakeCraft', account: 'WUNoB9YQXmXXRcJsjY1G8PfVag5aAfnyGmFd6YwJVwp', latitude: '48.8582', longitude: '2.3387', country: 'France', country_iso_code: 'FR', data_center_key: '16276-FR-Roubaix',},
            { validator_name: 'LunaNova', account: 'LunaowJnt875WWoqDkhHhE93SNYHa6tfFNVn1rqc57c', latitude: '51.4964', longitude: '-0.1224', country: 'United Kingdom', country_iso_code: 'UK', data_center_key: '60945-GB-Europe/London',},
            { validator_name: 'StakeArmy', account: 'AAHSdsnRREfdQNzDGRxai8CLXh9EPCoRdwULPqBYd9fb', latitude: '60.1719', longitude: '24.9347', country: 'Finland', country_iso_code: 'FI', data_center_key: '24940-FI-Helsinki',},
            { validator_name: 'DimAn', account: 'Diman2GphWLwECE3swjrAEAJniezpYLxK1edUydiDZau', latitude: '37.751', longitude: '-97.822', country: 'United States', country_iso_code: 'US', data_center_key: '23470-US-America/Chicago',},
            { validator_name: 'blxpro', account: 'Gb1JYQqwcWvrEp8rxmjiUJtnGVSJGeWFrzifxeZUC5w5', latitude: '51.5164', longitude: '-0.093', country: 'Germany', country_iso_code: 'DE', data_center_key: '16276-DE-Frankfurt',},
            { validator_name: 'Andisol', account: '89Pze9jFewDXbFwAjqgwbCGKbkxGza7KomodAmK5YmBh', latitude: '60.1719', longitude: '24.9347', country: 'Finland', country_iso_code: 'FI', data_center_key: '24940-FI-Helsinki',},
            { validator_name: 'POSTHUMAN', account: '9PViHDmiezXQfeYDveJrcfkXCQVCcsfhpo32cjHUeZVj', latitude: '45.3161', longitude: '-73.8736', country: 'Canada', country_iso_code: 'CA', data_center_key: '16276-CA-Beauharnois',},
            { validator_name: 'Solana State', account: '8n4pc4sCJtBeLfJdGyJn6EcZuhtfTiepRa9ExdJFdmEN', latitude: '37.751', longitude: '-97.822', country: 'United States', country_iso_code: 'US', data_center_key: '3356-US-America/Chicago',},
            { validator_name: 'Kudesnik', account: '2xKfuXN8HqaEi5L6Dwy2qZ3a5AJPM2hmZ88ZhgZgscom', latitude: '45.3161', longitude: '-73.8736', country: 'Canada', country_iso_code: 'CA', data_center_key: '16276-CA-Beauharnois',},
            { validator_name: 'ramuchi.tech', account: '8dv4modWJNvb1r94nzknoS8H34iY4PkKgrYhbGXVX833', latitude: '60.1719', longitude: '24.9347', country: 'Finland', country_iso_code: 'FI', data_center_key: '24940-FI-Helsinki',},
            { validator_name: 'Solbase.info', account: 'Bkucd9XTD2geqNsgcbMcqsSnLhqfHUuDvAUSGCXsJBdK', latitude: '60.1719', longitude: '24.9347', country: 'Finland', country_iso_code: 'FI', data_center_key: '24940-FI-Helsinki',},
            { validator_name: 'FSVdqB...zTJ2', account: 'FSVdqBzx5D4UsqBLnvmH5dFx2dCm1pTPAbQWJ1PYzTJ2', latitude: '35.6289', longitude: '139.7915', country: 'Japan', country_iso_code: 'JPN', data_center_key: '54825-JP-Tokyo',},
            { validator_name: 'Chainflow', account: '2mMGsb5uy1Q4Dvezr8HK2E8SJoChcb2X7b61tJPaVHHd', latitude: '40.4163', longitude: '-3.6934', country: 'Spain', country_iso_code: 'ESP', data_center_key: '54825-ES-Madrid',},
            { validator_name: 'a16z', account: 'BpyjeG4SY9r3TNnc3rP22DP3wpsStFA1FaZWywNPy6dr', latitude: '53.3331', longitude: '-6.2489', country: 'Ireland', country_iso_code: 'IRL', data_center_key: '16509-IE-Dublin',},
            { validator_name: 'Nava', account: '6RmSMaZbyb7SGKLp34MXY2qkFePZh41Frs79xJgEg5R6', latitude: '55.7483', longitude: '37.6171', country: 'Russia', country_iso_code: 'RU', data_center_key: '16143-RU-Moscow',},
            { validator_name: 'Feline', account: '3m5QHq24vbPVhtbcHbaDjvij58WExvfy16UgcCPLfDXP', latitude: '1.3446', longitude: '103.7373', country: 'Singapore', country_iso_code: 'SGP', data_center_key: '54825-SG-Jurong West',},
            { validator_name: 'Jump Crypto', account: 'Certusm1sa411sMpV9FPqU5dXAYhmmhygvxJ23S6hJ24', latitude: '49.0099', longitude: '8.3592', country: 'Germany', country_iso_code: 'DE', data_center_key: '199610-DE-Karlsruhe',},
            { validator_name: 'OptimusPr', account: '6M6aAEdhcWZGUeaRdc7cd81YFZ9UahgZP5D1x3MzXxmJ', latitude: '52.2488', longitude: '21.0024', country: 'Poland', country_iso_code: 'PL', data_center_key: '16276-PL-Warsaw',},
            { validator_name: 'Heisenberg', account: 'AqGAaaACTDNGrVNVoiyCGiMZe8pcM1YjGUcUdVwgUtud', latitude: '52.2488', longitude: '21.0024', country: 'Poland', country_iso_code: 'PL', data_center_key: '16276-PL-Warsaw',},
            { validator_name: 'StakeWolf', account: 'HzrEstnLfzsijhaD6z5frkSE2vWZEH5EUfn3bU9swo1f', latitude: '51.2993', longitude: '9.491', country: 'Germany', country_iso_code: 'DE', data_center_key: '24940-DE-Falkenstein',},
            { validator_name: 'MoonletWallet', account: '5XKJwdKB2Hs7pkEXzifAysjSk6q7Rt6k5KfHwmAMPtoQ', latitude: '51.2993', longitude: '9.491', country: 'Germany', country_iso_code: 'DE', data_center_key: '24940-DE-Falkenstein',},
            { validator_name: 'ChainTech', account: 'Ev8D9dwYdfebkdLgAjwiJtCkqS882Uvrit5qN6NTeHMy', latitude: '51.2993', longitude: '9.491', country: 'Germany', country_iso_code: 'DE', data_center_key: '24940-DE-Falkenstein',},
            { validator_name: 'Lido / Forbole', account: '2v1RkcDHudBLYV73jbiNw46JtFtNmxyXfUG6eMhJYMz2', latitude: '51.2993', longitude: '9.491', country: 'Germany', country_iso_code: 'DE', data_center_key: '24940-DE-Falkenstein',},
            { validator_name: 'JokeyKitty', account: '94HgFvsD8zm7UXJ5KJxN4zW5nsdhZWY2LFREjfaFEHwR', latitude: '51.2993', longitude: '9.491', country: 'Germany', country_iso_code: 'DE', data_center_key: '24940-DE-Falkenstein',},
            { validator_name: 'Cyberili', account: 'E6cyDdEH8fiyCTusmWcZVhapAvvp2LK24zMLg4KrrAkt', latitude: '51.2993', longitude: '9.491', country: 'Germany', country_iso_code: 'DE', data_center_key: '24940-DE-Falkenstein',},
            { validator_name: 'r3dub', account: '5p8qKVyKthA9DUb1rwQDzjcmTkaZdwN97J3LiaEywUjd', latitude: '51.2993', longitude: '9.491', country: 'Germany', country_iso_code: 'DE', data_center_key: '24940-DE-Falkenstein',},
            { validator_name: '646wp...TxGq', account: '646wp7gnRUojM2TSSDZJvXrxWcZ7DYAnLMD4HmrUTxGq', latitude: '43.3736', longitude: '5.3547', country: 'France', country_iso_code: 'FR', data_center_key: '54825-FR-Marseille',},
            { validator_name: 'Parrot.fi', account: '8YFzWnK8xvkLeAb98rCNHUbpHGDQvqe5xCkGWfqXkRGE', latitude: '43.3736', longitude: '5.3547', country: 'France', country_iso_code: 'FR', data_center_key: '54825-FR-Marseille',},
            { validator_name: 'SOL Community', account: 'EgxVyTgh2Msg781wt9EsqYx4fW8wSvfFAHGLaJQjghiL', latitude: '39.9653', longitude: '-83.0235', country: 'United States', country_iso_code: 'US', data_center_key: '16509-US-Columbus',},
            { validator_name: 'Coinbase Cloud', account: 'XkCriyrNwS3G4rzAXtG5B1nnvb5Ka1JtCku93VqeKAr', latitude: '39.9653', longitude: '-83.0235', country: 'United States', country_iso_code: 'US', data_center_key: '16509-US-Columbus',},
            { validator_name: 'CVMTEU...TPax', account: 'CVMTEUTWYEFCJ9bJS1WJdWbD3GEKDJhorLmDJEpXTPax', latitude: '39.9653', longitude: '-83.0235', country: 'United States', country_iso_code: 'US', data_center_key: '16509-US-Columbus',},
            { validator_name: 'Stake DAO [Retail] (run by Stake Capital)', account: '3A3xHQgmY5EcbKKC3aaZ7ftJrhpKxZDh3Gyb5GPukNTd', latitude: '39.9653', longitude: '-83.0235', country: 'United States', country_iso_code: 'US', data_center_key: '16509-US-Columbus',},
            { validator_name: 'CVMT...TPax', account: 'CVMTEUTWYEFCJ9bJS1WJdWbD3GEKDJhorLmDJEpXTPax', latitude: '39.9653', longitude: '-83.0235', country: 'United States', country_iso_code: 'US', data_center_key: '16509-US-Columbus',},
            { validator_name: 'Crebaco', account: 'BmhaQq3vFRW282nHE7tYgiHmxrMbyAPgBcTmNsznWm1C', latitude: '19.0748', longitude: '72.8856', country: 'India', country_iso_code: 'IND', data_center_key: '24560-IN-Mumbai',},
            { validator_name: 'Naho Validator3', account: 'BAiYVZh4k9PphqDPYwvY7z8YAfTk242n1bHgq3AKGd1s', latitude: '37.5794', longitude: '126.9754', country: 'South Korea', country_iso_code: 'KOR', data_center_key: '3786-KR-Seoul',},
            { validator_name: 'JBKb...BB4S', account: 'JBKb5SrSLmaxVXgZMn8QKCBmCFRy92F7u6QCF64VBB4S', latitude: '35.685', longitude: '139.7514', country: 'Japan', country_iso_code: 'JPN', data_center_key: '16509-JP-Tokyo',},
            { validator_name: '4Zcq...JL6X', account: '4Zcqys34S3wzbWECaypfaMczdM4nggk6kXzrdLdBJL6X', latitude: '35.685', longitude: '139.7514', country: 'Japan', country_iso_code: 'JPN', data_center_key: '16509-JP-Tokyo',},
            { validator_name: '5hqM...ZE6W', account: '5hqMpEYqpTFfC9YWvaud3nbUcrHf6VvXM5Emrg35ZE6W', latitude: '35.685', longitude: '139.7514', country: 'Japan', country_iso_code: 'JPN', data_center_key: '16509-JP-Tokyo',},
            # { validator_name: '', account: '', latitude: '', longitude: '', country: '', country_iso_code: '', data_center_key: '',},
            # orientation points
            # { validator_name: 'Greenwitch', account: 'ASD', latitude: '51.4780', longitude: '0', country: 'United Kingdom', country_iso_code: 'UK'},
            # { validator_name: 'Null Island (0,0)', account: '(0,0)', latitude: '0', longitude: '0', country: 'International Waters', country_iso_code: 'INT'},
            # { validator_name: 'Sydney', account: 'xx', latitude: '-33.8473567', longitude: '150.65', country: 'Australia', country_iso_code: 'AU'},
            # { validator_name: 'Greenland South', account: 'xx', latitude: '60.150508', longitude: '-44.2937399', country: 'Greenland', country_iso_code: 'GR'},
            # { validator_name: 'Warsaw', account: 'xx', latitude: '52.22', longitude: '21.0011131', country: 'Poland', country_iso_code: 'PL'},
            # { validator_name: 'Florida', account: 'xx', latitude: '28.0624178', longitude: '-82.0173992', country: 'US', country_iso_code: 'US'},
            # { validator_name: 'Chile', account: 'xx', latitude: '-54.9362301', longitude: '-67.6176433', country: 'Chile', country_iso_code: 'XX'},
            # { validator_name: 'Norway north', account: 'xx', latitude: '70', longitude: '25.0291581', country: 'Norway', country_iso_code: 'XX'},
            # { validator_name: 'South', account: 'xx', latitude: '-70', longitude: '25.0291581', country: 'Norway', country_iso_code: 'XX'},
            # { validator_name: 'East', account: 'xx', latitude: '51', longitude: '157', country: 'Norway', country_iso_code: 'XX'},
            # { validator_name: 'West', account: 'xx', latitude: '58.41', longitude: '-157', country: 'Norway', country_iso_code: 'XX'},
            # { validator_name: 'Afrika', account: 'xx', latitude: '-35.06', longitude: '19.60', country: 'Norway', country_iso_code: 'XX'},
            # { validator_name: 'Madagaskar', account: 'xx', latitude: '-25.53', longitude: '46.00', country: 'Norway', country_iso_code: 'XX'},
            # { validator_name: 'Greece', account: 'xx', latitude: '36.47', longitude: '22.52', country: 'Norway', country_iso_code: 'XX'},
          ]
        }
        @validators_groups = [
          { latitude: '59.9452', longitude: '10.7559', country: 'Norway', country_iso_code: 'NO', data_center_key: '34989-NO-Europe/Oslo', validators_count: '2'},
          { latitude: '52.3716', longitude: '4.8883', country: 'Netherlands', country_iso_code: 'NL', data_center_key: '20326-NL-Amsterdam', validators_count: '12'},
          { latitude: '39.0481', longitude: '-77.4728', country: 'United States', country_iso_code: 'US', data_center_key: '14618-US-Ashburn', validators_count: '5'},
          { latitude: '48.8582', longitude: '2.3387', country: 'France', country_iso_code: 'FR', data_center_key: '16276-FR-Roubaix', validators_count: '101'},
          { latitude: '51.4964', longitude: '-0.1224', country: 'United Kingdom', country_iso_code: 'UK', data_center_key: '60945-GB-Europe/London', validators_count: '2'},
          { latitude: '60.1719', longitude: '24.9347', country: 'Finland', country_iso_code: 'FI', data_center_key: '24940-FI-Helsinki', validators_count: '362'},
          { latitude: '37.751', longitude: '-97.822', country: 'United States', country_iso_code: 'US', data_center_key: '23470-US-America/Chicago', validators_count: '31'},
          { latitude: '51.5164', longitude: '-0.093', country: 'Germany', country_iso_code: 'DE', data_center_key: '16276-DE-Frankfurt', validators_count: '57'},
          { latitude: '45.3161', longitude: '-73.8736', country: 'Canada', country_iso_code: 'CA', data_center_key: '16276-CA-Beauharnois', validators_count: '87'},
          { latitude: '37.751', longitude: '-97.822', country: 'United States', country_iso_code: 'US', data_center_key: '3356-US-America/Chicago', validators_count: '3'},
          { latitude: '35.6289', longitude: '139.7915', country: 'Japan', country_iso_code: 'JPN', data_center_key: '54825-JP-Tokyo', validators_count: '3'},
          { latitude: '40.4163', longitude: '-3.6934', country: 'Spain', country_iso_code: 'ESP', data_center_key: '54825-ES-Madrid', validators_count: '3'},
          { latitude: '53.3331', longitude: '-6.2489', country: 'Ireland', country_iso_code: 'IRL', data_center_key: '16509-IE-Dublin', validators_count: '24'},
          { latitude: '55.7483', longitude: '37.6171', country: 'Russia', country_iso_code: 'RU', data_center_key: '16143-RU-Moscow', validators_count: '13'},
          { latitude: '1.3446', longitude: '103.7373', country: 'Singapore', country_iso_code: 'SGP', data_center_key: '54825-SG-Jurong West', validators_count: '2'},
          { latitude: '49.0099', longitude: '8.3592', country: 'Germany', country_iso_code: 'DE', data_center_key: '199610-DE-Karlsruhe', validators_count: '1'},
          { latitude: '52.2488', longitude: '21.0024', country: 'Poland', country_iso_code: 'PL', data_center_key: '16276-PL-Warsaw', validators_count: '56'},
          { latitude: '51.2993', longitude: '9.491', country: 'Germany', country_iso_code: 'DE', data_center_key: '24940-DE-Falkenstein', validators_count: '301'},
          { latitude: '43.3736', longitude: '5.3547', country: 'France', country_iso_code: 'FR', data_center_key: '54825-FR-Marseille', validators_count: '2'},
          { latitude: '39.9653', longitude: '-83.0235', country: 'United States', country_iso_code: 'US', data_center_key: '16509-US-Columbus', validators_count: '8'},
          { latitude: '19.0748', longitude: '72.8856', country: 'India', country_iso_code: 'IND', data_center_key: '24560-IN-Mumbai', validators_count: '1'},
          { latitude: '37.5794', longitude: '126.9754', country: 'South Korea', country_iso_code: 'KOR', data_center_key: '3786-KR-Seoul', validators_count: '1'},
          { latitude: '35.685', longitude: '139.7514', country: 'Japan', country_iso_code: 'JPN', data_center_key: '16509-JP-Tokyo', validators_count: '3'},
          { latitude: '51.5095', longitude: '-0.0955', country: 'United Kingdom', country_iso_code: 'UK', data_center_key: '54825-GB-London', validators_count: '11'},
          { latitude: '51.2993', longitude: '9.491', country: 'Germany', country_iso_code: 'DE', data_center_key: '24940-DE-Nuremburg', validators_count: '129'},
          { latitude: '22.3539', longitude: '114.1342', country: 'Hong Kong', country_iso_code: 'HKG', data_center_key: '54825-HK-Kwai Chung', validators_count: '4'},
          { latitude: '48.8582', longitude: '2.3387', country: 'France', country_iso_code: 'FR', data_center_key: '16276-FR-Gravelines', validators_count: '76'},
          { latitude: '51.5164', longitude: '-0.093', country: 'United Kingdom', country_iso_code: 'UK', data_center_key: '16276-EN-London', validators_count: '60'},
        ]
      %>
      <%# @api_response[:validators].group_by{ |key, value| key[:data_center_key]}.sort_by{ |group_key, group_values| group_values.count }.each do |group| %>
      <% @validators_groups.sort_by{ |group| group[:validators_count].to_i}.each do |group| %>
        <%
          # TODO position translator here
          # latitude - north south - top bottom
          # longitude - east west - right left
          # point = group[-1][0]
          point = group
          position_horizontal = 50 + (point[:longitude].to_f / 160 * 50)
          position_vertical = if point[:latitude].to_f < 0
                                50 + ((point[:latitude].to_f / 85) * 50)
                              else
                                50 + ((point[:latitude].to_f / 75) * 50)
                              end
          # validators_in_group_count = group[-1].count
          validators_in_group_count = group[:validators_count].to_i
        %>
        <div class="map-point <%= set_map_point_class(validators_in_group_count) %>"
             style="left: <%=position_horizontal%>%; bottom: <%=position_vertical%>%;"
             title="<%= point[:data_center_key] %> (<%= point[:country] %>, <%= point[:country_iso_code] %>)">
          <%= validators_in_group_count %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="map-legend">
    <small class="text-muted">Total in <%= @api_response[:network] %></small>
    <div class="small fw-bold">
      <strong class="text-success">
        <%= @api_response[:validators_count] %>
      </strong> Validators
    </div>
    <div class="small mb-5">
      <strong class="text-success">
        <%= @api_response[:nodes_count] %>
      </strong> RPC Nodes
    </div>

    <strong id="dataCenterName" class="text-purple">24940-DE-Falkenstein</strong>
    <div id="dataCenterValidatorsCount" class="small text-muted">302 validators</div>
  </div>
</div>
