<h3>Recent Ping Times (ms)</h3>
<p>The Batch Time represents the overall times for this batch of samples. You can use this to compare your ping times to the rest of the cluster. If you do not see ping times for your node, please enable the ping/ICMP service on your server.</p>
<table class='table table-striped table-borderless table-full-width'>
  <thead class="thead-dark">
    <tr>
      <th>From Account</th>
      <th class='text-right'>Min. Time<br />Batch Min.</th>
      <th class='text-right'>Avg. Time<br />Batch Avg.</th>
      <th class='text-right'>Max. Time<br />Batch Max.</th>
      <th class='text-right'>Observed At</th>
    </tr>
  </thead>
  <tbody>
    <% @ping_times.each do |ping_time| %>
    <% ping_stats = PingTimeStat.where(batch_uuid: ping_time.batch_uuid).first %>
    <tr>
      <td>
        <%= shorten_key(ping_time.from_account) %>
      </td>
      <td class='text-right'>
        <%= ping_time.min_ms %><br />
        <%= ping_stats.overall_min_time unless ping_stats.nil? %>
      </td>
      <td class='text-right'>
        <%= ping_time.avg_ms %><br />
        <%= ping_stats.overall_average_time unless ping_stats.nil? %>
      </td>
      <td class='text-right'>
        <%= ping_time.max_ms %><br />
        <%= ping_stats.overall_max_time unless ping_stats.nil? %>
      </td>
      <td class='text-right'>
        <%= ping_time.observed_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
