<a class="small text-nowrap base-color modal-trigger"
   data-bs-toggle="modal"
   data-bs-target="#scoresModal"
   data-account="<%= validator.account %>">
  <i class="fa-solid fa-circle me-1 score-<%= validator.root_distance_score.to_i %>"
     title="Root Distance Score = <%= validator.root_distance_score %>"></i>

  <i class="fa-solid fa-circle me-1 score-<%= validator.vote_distance_score.to_i %>"
     title="Vote Distance Score = <%= validator.vote_distance_score %>"></i>

  <i class="fa-solid fa-circle me-1 score-<%= validator.skipped_slot_score.to_i %>"
     title="Skipped Slot Score = <%= validator.skipped_slot_score %>"></i>

  <i class="fa-solid fa-circle me-1 score-<%= validator.published_information_score.to_i %>"
     title="Published Information Score = <%= validator.published_information_score.to_i %>"></i>

  <i class="fa-solid fa-circle me-1 score-<%= validator.software_version_score.to_i %>"
     title="Software Version Score = <%= validator.software_version_score %>"></i>

  <i class="fa-solid fa-circle me-1 score-<%= validator.security_report_score.to_i %>"
     title="Bonus Point = <%= validator.security_report_score.to_i %>"></i>

  <% if validator.consensus_mods_score.to_i < 0 %>
    <i class="fa-solid fa-circle-minus me-1 text-warning"
       title="Consensus Mods Score = <%= validator.consensus_mods_score %>. Validator appears to use software modifications with an unproven effect on consensus."></i>
  <% end %>

  <% if validator.authorized_withdrawer_score.to_i < 0 %>
    <i class="fa-solid fa-circle-minus me-1 text-warning"
       title="Authorized Withdrawer Score = <%= validator.authorized_withdrawer_score.to_i %>"></i>
  <% end %>

  <% if validator.stake_concentration_score.to_i < 0 %>
    <i class="fa-solid fa-circle-minus me-1 text-warning"
       title="Stake Concentration Score = <%= validator.stake_concentration_score %>"></i>
  <% end %>

  <% if validator.data_center_concentration_score.to_i < 0 %>
    <i class="fa-solid fa-circle-minus me-1 text-warning"
       title="Data Center Concentration Score = <%= validator.data_center_concentration_score %>"></i>
  <% end %>

  (<%= validator.score.displayed_total_score %>)
</a>
