<a class="small text-nowrap" data-toggle="modal" data-target="#scoresModal<%=validator.account%>">
  <i class="fas fa-circle mr-1 score-<%= validator.root_distance_score %>"
     title="Root Distance Score = <%= validator.root_distance_score %>"></i>

  <i class="fas fa-circle mr-1 score-<%= validator.vote_distance_score %>"
     title="Vote Distance Score = <%= validator.vote_distance_score %>"></i>

  <i class="fas fa-circle mr-1 score-<%= validator.skipped_slot_score %>"
     title="Skipped Slot Score = <%= validator.skipped_slot_score %>"></i>

  <i class="fas fa-circle mr-1 score-<%= validator.published_information_score.to_i %>"
     title="Published Information Score = <%= validator.published_information_score.to_i %>"></i>

  <i class="fas fa-circle mr-1 score-<%= validator.software_version_score %>"
     title="Software Version Score = <%= validator.software_version_score %>"></i>

  <i class="fas fa-circle mr-1 score-<%= validator.security_report_score.to_i %>"
     title="Bonus Point = <%= validator.security_report_score.to_i %>"></i>

  <% if validator.consensus_mods_score < 0 %>
    <i class="fas fa-minus-circle mr-1 <%= score_class %>"
       title="Consensus Mods Score = <%= validator.consensus_mods_score %>. Validator appears to use software modifications with an unproven effect on consensus."></i>
  <% end %>

  <% if validator.authorized_withdrawer_score.to_i < 0 %>
    <i class="fas fa-minus-circle mr-1 <%= score_class %>"
       title="Authorized Withdrawer Score = <%= validator.authorized_withdrawer_score.to_i %>"></i>
  <% end %>

  <% if above_33percent_concentration?(validator) %>
    <i class="fas fa-minus-circle mr-1 <%= score_class %>"
       title="Stake Concentration Score = <%= validator.stake_concentration_score %>"></i>
  <% end %>

  <% if validator.data_center_concentration_score < 0 %>
    <i class="fas fa-minus-circle mr-1 <%= score_class %>"
       title="Data Center Concentration Score = <%= validator.data_center_concentration_score %>"></i>
  <% end %>

  (<span class="d-inline-block d-lg-none">Total:&nbsp;</span><%= validator.score.displayed_total_score %>)
</a>

<div class="modal modal-large fade" id="scoresModal<%=validator.account%>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Scores</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-0">
        <table class="table table-scores mb-0">
          <tbody>
          <tr>
            <td class="column-md font-weight-bold">Root Distance Score</td>
            <td class="column-xs">sda</td>
            <td class="column-md small">sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Vote Distance Score</td>
            <td class="column-xs">asd</td>
            <td class="column-md small">sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Skipped Slot Score</td>
            <td class="column-xs">asd</td>
            <td class="column-md small">sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Published Information Score</td>
            <td class="column-xs">asd</td>
            <td class="column-md small">sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Software Version Score</td>
            <td class="column-xs">asd</td>
            <td class="column-md small">sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Software Version Score</td>
            <td class="column-xs">asd</td>
            <td class="column-md small">sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Bonus Point</td>
            <td class="column-xs">asd</td>
            <td class="column-md small">sda sda sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Stake Concentration Score</td>
            <td class="column-xs">ad</td>
            <td class="column-md small">sda sda sdasda sda sdasdasda sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Data Center Concentration Score</td>
            <td class="column-xs">asd</td>
            <td class="column-md small">sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Authorized Withdrawer Score</td>
            <td class="column-xs">asd</td>
            <td class="column-md small">sda sdasda sdasdasdasda sdasda sda sda</td>
          </tr>
          <tr>
            <td class="column-md font-weight-bold">Consensus Mods Score</td>
            <td class="column-xs">asd</td>
            <td class="column-md small">sda</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
