<small>
  <i class="fas fa-circle score-<%= validator.root_distance_score %>"
     title="Root Distance Score = <%= validator.root_distance_score %>"></i>&nbsp;

  <i class="fas fa-circle score-<%= validator.vote_distance_score %>"
     title="Vote Distance Score = <%= validator.vote_distance_score %>"></i>&nbsp;

  <i class="fas fa-circle score-<%= validator.skipped_slot_score %>"
     title="Skipped Slot Score = <%= validator.skipped_slot_score %>"></i>&nbsp;

  <i class="fas fa-circle score-<%= validator.published_information_score.to_i %>"
     title="Published Information Score = <%= validator.published_information_score.to_i %>"></i>&nbsp;

  <i class="fas fa-circle score-<%= validator.software_version_score %>"
     title="Software Version Score = <%= validator.software_version_score %>"></i>&nbsp;

  <i class="fas fa-circle score-<%= validator.security_report_score.to_i %>"
     title="Security Report Score = <%= validator.security_report_score.to_i %>"></i>&nbsp;

  <% if validator.stake_concentration_score < 0 %>
    <% score_class = score_class(validator.stake_concentration_score) %>
    <i class="fas fa-minus-circle <%= score_class %>" title="Stake Concentration Score = <%= validator.stake_concentration_score %>"></i>&nbsp;
  <% end %>

  <% if validator.data_center_concentration_score < 0 %>
    <% score_class = score_class(validator.data_center_concentration_score) %>
    <i class="fas fa-minus-circle <%= score_class %>" title="Data Center Concentration Score = <%= validator.data_center_concentration_score %>"></i>&nbsp;
  <% end %>

  (<span class="d-inline-block d-lg-none">Total:&nbsp;</span><%= validator.total_score %>)

  <% if validator.total_score == 0 %>

  <% end %>
</small>