<%= form_with(method: :get, local: true) do %>
  <div class="form-group-row">
    <div class="input-group mb-4">
      <%= text_field_tag(
            :q, '', 
            placeholder: 'Starts with... (validator name, validator account or data center key)',
            class: 'form-control',
            value: params[:q],
            required: true
      ) %>
      <%= hidden_field_tag(:network, params[:network]) %>
      <%= hidden_field_tag(:order, params[:order]) %>
      <%= hidden_field_tag(:refresh, params[:refresh]) %>
      <div class="input-group-append">
        <%= submit_tag("Search", class: 'btn btn-xs btn-primary') %>
      </div>
    </div>
  </div>
<% end %>
