<div class="col-md-7 col-lg-8 mb-4 pb-2 mb-md-0 pb-md-0">
  <% if software_versions %>
    <div class="card">
      <div class="card-content pb-0">
        <h2 class="h4 card-heading">Software Versions</h2>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>Software Version</th>
          <th>Stake %</th>
          <th>No. of validators</th>
        </tr>
        </thead>
        <tbody>
        <% sort_software_versions(software_versions).first(6).each do |group| %>
          <% if group.first[1].is_a?(Hash) %>
            <tr>
              <td class="<%= group.first[0].to_s == current_software_version(batch, params[:network]).to_s ? 'h4 text-success' : '' %>">
                <%= link_to group.first[0], validators_path(q: group.first[0]), title: 'Click to show validators with this version' %>
              </td>
              <td class="<%= group.first[0].to_s == current_software_version(batch, params[:network]).to_s ? 'h4 text-success' : '' %>">
                <%= group.first[1][:stake_percent].to_f %>%
              </td>
              <td class="<%= group.first[0].to_s == current_software_version(batch, params[:network]).to_s ? 'h4 text-success' : '' %>">
                <%= group.first[1][:count] %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>

      <% if software_versions.length > 6 %>
        <div class="px-3 pb-3 text-center">
          <a data-bs-toggle="modal" data-bs-target="#versionsModal" class="text-muted" href="">Show older versions</a>
        </div>
        <%= render "validators/software_versions_modal", {
          software_versions: software_versions,
          batch: batch,
          network: params[:network]
        } %>
      <% end %>
    </div>

  <% end %>
</div>
