<div class="modal modal-large modal-top fade" id="versionsModal" tabindex="-1" role="dialog" aria-labelledby="versionsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">All active validators</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-0">
        <table class="table table-condensed mb-0">
          <thead>
          <tr>
            <th>Software Version</th>
            <th>Stake %</th>
            <th>No. of validators</th>
          </tr>
          </thead>
          <tbody>
          <% sort_software_versions(software_versions).each do |group| %>
            <% if group.first[1].is_a?(Hash) %>
              <tr>
                <td class="<%= group.first[0].to_s == current_software_version(batch, network).to_s ? 'h4 text-success' : '' %>">
                  <%= link_to group.first[0], validators_path(q: group.first[0]), title: 'Click to show validators with this version' %>
                </td>
                <td class="<%= group.first[0].to_s == current_software_version(batch, network).to_s ? 'h4 text-success' : '' %>">
                  <%= group.first[1][:stake_percent].to_f %>%
                </td>
                <td class="<%= group.first[0].to_s == current_software_version(batch, network).to_s ? 'h4 text-success' : '' %>">
                  <%= group.first[1][:count] %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
