<div class="row">
  <div class="col-md-4 col-lg-3 mb-2">
    <%= link_to 'Score',
                url_for(order: 'score', page: params[:page], network: params[:network], refresh: params[:refresh]),
                class: "btn btn-xs mr-1 mb-3 btn-secondary #{ 'active' unless %w[random name stake].include?(params[:order]) }" %>
    
    <%= link_to 'Stake',
                url_for(order: 'stake', page: params[:page], network: params[:network], refresh: params[:refresh]),
                class: "btn btn-xs mr-1 mb-3 btn-secondary #{ 'active' if params[:order] == 'stake' }" %>
  </div>

  <div class="col-md-8 col-lg-9">
    <%= form_with(method: :get, local: true) do %>
      <div class="form-group-row">
        <div class="input-group mb-4">
          <%= text_field_tag(:q, '', placeholder: 'Starts with...', class: 'form-control') %>
          <%= hidden_field_tag(:network, params[:network]) %>
          <%= hidden_field_tag(:order, params[:order]) %>
          <%= hidden_field_tag(:refresh, params[:refresh]) %>
          <div class="input-group-append">
            <%= button_tag(type: "submit", class: 'btn btn-xs btn-primary') do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
