<h3 class="text-center">Block &amp; Vote History</h3>
<canvas id="spark_line_block_distance_<%= local_assigns[:account] %>"></canvas>
<script type="text/javascript">
  var ctx = document.getElementById("spark_line_block_distance_<%= local_assigns[:account] %>").getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        // x-axis labels
        labels: <%= local_assigns[:vector_block].to_a.count.downto(1).to_a %>,
        // An Array of JSON hashes for each dataset to plot. The y-axis is
        // dynamicly calculated. Look for othe options to control the y-axis if
        // desired.
        datasets: [
          {
            label: 'Block Distance',
            fill: false,
            backgroundColor: 'Green', // 'rgb(85, 239, 196)',
            borderColor: 'Green',
            borderWidth: 1,
            radius: 0,
            data: <%= local_assigns[:vector_block] %>
          },
          {
            label: 'Vote Distance',
            fill: false,
            backgroundColor: 'Blue', // 'rgb(85, 239, 196)',
            borderColor: 'Blue',
            borderWidth: 1,
            radius: 0,
            data: <%= local_assigns[:vector_vote] %>
          }
        ]
    },

    // Configuration options go here
    options: {
      animation: { duration: 0 }, // general animation time
      elements: { line: { tension: 0 } }, // disables bezier curves
      hover: { animationDuration: 0 }, // duration of animations when hovering
      responsiveAnimationDuration: 0, // animation duration after a resize
      // legend: { display: false },
      scales: {
				xAxes: [{
					display: true,
          ticks: {display: false},
          gridLines: {display: false},
					scaleLabel: {
						display: true,
						labelString: "Previous <%= local_assigns[:vector_block].to_a.count %> Observations"
					}
				}],
				yAxes: [{
					display: true,
          ticks: { min: 0},
          gridLines: {display: false},
					scaleLabel: {
						display: true,
						labelString: 'Distance Behind'
					}
				}]
			}
    }
  });
</script>
