<%= javascript_pack_tag 'validators/components/validator_score_modal.js' %>

<table class='table table-block-sm validators-table'>
  <thead>
  <tr>
    <th class="column-info">
      <div class="column-info-row">
        <% if show_watchlist_btn %>
          <div class="column-info-avatar">
            <%= link_to url_for(
                          order: params[:order],
                          page: 1,
                          network: params[:network],
                          refresh: params[:refresh],
                          jito: params[:jito],
                          is_dz: params[:is_dz],
                          watchlist: params[:watchlist] ? nil : true) do %>
              <i class="<%= params[:watchlist] ? 'fa-solid' : 'fa-regular' %> fa-star text-warning"
                 data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 title="<%= params[:watchlist] ? 'Show all' : 'Show favourites' %>">
              </i>
            <% end %>
          </div>
        <% end %>
        <div class="column-info-name">
          Name <small class="text-muted">(Commission)</small>
          <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
             data-bs-toggle="tooltip"
             data-bs-placement="top"
             title="<%= t('definitions.commission') %>">
          </i>
          <br />
          Scores <small class="text-muted">(total)</small>
          <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
             data-bs-toggle="tooltip"
             data-bs-placement="top"
             title="<%= t('definitions.scores') %>">
          </i>
          <br />
          <% if show_ip_and_gateway %>
            IP & Gateway
            <br />
          <% end %>
          Active Stake <small class="text-muted">(% of total)</small>
          <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="<%= t('definitions.active_stake') %>">
          </i>
        </div>
      </div>
    </th>

    <%
=begin%>
 <th class='column-speedometer pe-0'>
      Vote Credit <br />Distance
      <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.skipped_vote') %>">
      </i>
    </th>
<%
=end%>

    <th class='column-chart py-3'>
      Root Distance
      <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.root_distance') %>">
      </i>
      <br />
      <small class="text-muted">Last 60 Observations</small>
    </th>

    <th class='column-chart py-3'>
      Vote Distance
      <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.vote_distance') %>">
      </i>
      <br />
      <small class="text-muted">Last 60 Observations</small>
    </th>

    <th class='column-chart py-3'>
      Skipped Slot&nbsp;&percnt;
      <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.skipped_slot') %>">
      </i>
      <br />
      <small class="text-muted">Last 60 Observations</small>
    </th>

    <th class='column-chart py-3'>
      Vote Latency
      <i class="fa-solid fa-circle-info font-size-xs text-muted ms-1"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<%= t('definitions.vote_latency') %>">
      </i>
      <br />
      <small class="text-muted">Last 60 Observations</small>
    </th>
  </tr>
  </thead>

  <tbody>
  <% i = [params[:page].to_i - 1, 0].max * items_per_page %>
  <% validators.each do |validator| %>
    <% i += 1 %>
    <tr id="row-<%= i %>">
      <td class="column-info">
        <div class="column-info-row" data-turbolinks="false">
          <div class="column-info-avatar">
            <%= create_avatar_link(validator) %>
            <% if current_user && show_watchlist_btn %>
              <i class="watch-button <%= validator.watchers.include?(current_user) ? 'fa-solid' : 'fa-regular' %> fa-star"
                 data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 data-network="<%= validator.network%>"
                 data-account="<%= validator.account%>"
                 title="<%= validator.watchers.include?(current_user) ? 'Remove from favourites' : 'Add to favourites' %>">
              </i>
            <% end %>
          </div>
          <div class="column-info-name">
            <%= link_to validator_url(network: params[:network], account: validator.account), class: "column-info-link fw-bold #{'no-watchlist' unless (current_user && show_watchlist_btn)}" do %>
              <%= displayed_validator_name(validator) %> <%= displayed_validator_commission(validator) %>
            <% end %>
            <br />

            <%= render 'validators/scores', validator: validator %>
            <br />

            <% if show_ip_and_gateway %>
              <div class="small text-muted">
                <span class="d-inline-block d-lg-none">IP:&nbsp;</span>
                <%= validator.score.ip_address %>
              </div>
              <div class="small text-muted">
                <% data_center_host = validator&.data_center_host&.host %>
                <% if data_center_host %>
                  <span class="d-inline-block d-lg-none">Gateway:&nbsp;</span>
                  <%= data_center_host %>
                <% end %>
              </div>
            <% end %>
            <div class="mt-2 mt-lg-0 small">
              <div class="d-lg-inline-block">
                <span class="d-inline-block d-lg-none">Active Stake:&nbsp;</span>
                <span class="me-2">
                <%= number_with_delimiter lamports_to_sol(validator.active_stake).round(0) %>
                  <span class="text-muted">(<%= number_to_percentage(validator.stake_concentration.to_f * 100.0, precision: 1) %>)</span>
              </span>
              </div>
              <div class="d-lg-inline-block">
                <span class="d-inline-block d-lg-none">Software Version:&nbsp;</span>
                <span class="d-none d-lg-inline-block">V:&nbsp;</span>
                <%= validator.score&.software_version %>
              </div>
            </div>
            <div>
              <% if validator.score.software_client == "firedancer" %>
                <div class="mt-2 mt-lg-0 d-none d-lg-inline-block">
                  <%= link_to validators_path(network: params[:network], q: validator.score.software_version) do %>
                    <%= image_tag("firedancer.svg", class: 'img-xs me-1', title: "Show Firedancer validators", alt: "F") %>
                  <% end %>
                </div>
              <% elsif validator.score.software_client == "agave" %>
                <div class="mt-2 mt-lg-0 d-none d-lg-inline-block">
                  <%= link_to validators_path(network: params[:network], q: validator.score.software_version) do %>
                    <%= image_tag("agave.svg", class: 'img-xs me-1', title: "Show Agave validators", alt: "A") %>
                  <% end %>
                </div>
              <% end %>

              <% if validator.stake_pools_list.present? %>
                <div class="mt-2 mt-lg-0 d-inline-block">
                  <small class="d-inline-block d-lg-none">Pools:&nbsp;</small>
                  <%= link_to stake_pools_path(network: params[:network]), target: "_blank" do %>
                    <% stake_pool_logos(validator.stake_pools_list).each do |logo| %>
                      <%= image_tag(
                            logo[:image],
                            class: 'img-xs me-1',
                            title: logo[:name] + " stake pool",
                            alt: logo[:name])
                      %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <% if validator.jito_maximum_commission? || validator.is_dz %>
                <div class="d-lg-inline-block">
                  <small class="d-inline-block d-lg-none">Associations:&nbsp;</small>
                  <% if validator.jito_maximum_commission? %>
                    <div class="mt-2 mt-lg-0 d-inline-block">
                      <%= link_to validators_path(network: params[:network], jito: true, page: 1) do %>
                        <%= image_tag("jito.svg", class: 'img-xxs me-1', title: "Show Jito validators", alt: "J") %>
                      <% end %>
                    </div>
                  <% end %>
                  <% if validator.is_dz %>
                    <div class="mt-2 mt-lg-0 d-inline-block">
                      <%= link_to validators_path(network: params[:network], is_dz: true, page: 1) do %>
                        <%= image_tag("doublezero.svg", class: 'img-xs', title: "Show DoubleZero validators", alt: "DZ") %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <% if validator.delinquent? || validator.score.authorized_withdrawer_score == -2 || validator.admin_warning %>
          <div class="mt-2">
            <% if validator.delinquent? %>
              <small class="text-danger me-2">delinquent</small>
            <% end %>
            <% if validator.score.authorized_withdrawer_score == -2 %>
              <%= link_to '/faq#withdraw-authority-warning', title: "Withdrawer matches validator identity." do %>
                <small class="text-warning me-2">withdrawer</small>
              <% end %>
            <% end %>
            <% if validator.admin_warning %>
              <%= link_to '/faq#admin-warning', title: "#{validator.admin_warning}" do %>
                <small class="text-danger">warning</small>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </td>

      <!-- Skipped Vote / Vote Credit Distance -->
<%
=begin%>
      <td class="column-speedometer">
        <% skipped_vote_percent = skipped_vote_percent(validator, batch) %>
        <% if skipped_vote_percent %>
          <% needle_value = set_speedometer_needle_position(value: skipped_vote_percent,
                                                            single_range_size: batch.skipped_vote_all_median.to_f) %>
          <div class="d-none d-lg-block">
            <%= render 'validators/speedometer_chart',
                       canvas_name: "skipped_vote_#{validator.account}",
                       needle_value: needle_value %>
            <div class="text-center text-muted small mt-2">
              <%= number_to_percentage(skipped_vote_percent, precision: 2) %>
            </div>
          </div>
        <% else %>
          <span class="d-none d-lg-block text-center text-muted">N/A</span>
        <% end %>
        <small class="d-inline-block d-lg-none">
          Vote Credit Distance:
          <%= skipped_vote_percent ? number_to_percentage(skipped_vote_percent, precision: 2) : "N/A" %>
        </small>
      </td>
<%
=end%>

      <!-- Charts menu -->
      <td class="d-lg-none pt-2">
        <div class="row small mb-3">
          <div class="col pe-0">
            <a class="chart-link" data-iterator="<%=i%>" data-bs-target="root-distance" href="">
              Root <br class="d-xxs-inline-block" />Distance
            </a>
          </div>
          <div class="col pe-0">
            <a class="chart-link" data-iterator="<%=i%>" data-bs-target="vote-distance" href="">
              Vote <br class="d-xxs-inline-block" />Distance
            </a>
          </div>
          <div class="col">
            <a class="chart-link" data-iterator="<%=i%>" data-bs-target="skipped-slots" href="">
              Skipped <br class="d-xxs-inline-block" />Slots
            </a>
          </div>
          <div class="col">
            <a class="chart-link" data-iterator="<%=i%>" data-bs-target="vote-latency" href="">
              Vote <br class="d-xxs-inline-block" />Latency
            </a>
          </div>
        </div>
      </td>

      <!-- ROOT DISTANCE -->
      <td class="column-chart d-none d-lg-table-cell" id="root-distance-<%=i%>">
        <%
          vl = chart_x_scale(validator.score&.root_distance_history.to_a.count)
          line_color = chart_line_color(validator.root_distance_score)
          fill_color = chart_fill_color(validator.root_distance_score)
          vector = validator.score&.root_distance_history.to_a[-vl..-1]
        %>
        <% max_value = vector&.max %>
        <% if max_value && max_value > Y_ROOT_DISTANCE_MAX %>
          <div class="chart-top-container">
            <div class="chart-top-value" style="left: <%= max_value_position(vector) %>">
              <%= max_value %>
            </div>
          </div>
        <% end %>
        <%= render 'validators/validator_small_chart',
                   chart_name: "block_distance_#{validator.account}",
                   vector: vector,
                   line_color: line_color,
                   fill_color: fill_color,
                    max_y: Y_ROOT_DISTANCE_MAX
        %>
      </td>

      <!-- VOTE DISTANCE -->
      <td class="column-chart d-none d-lg-table-cell" id=vote-distance-<%=i%>>
        <%
          vl = chart_x_scale(validator.score&.vote_distance_history.to_a.count)
          line_color = chart_line_color(validator.vote_distance_score)
          fill_color = chart_fill_color(validator.vote_distance_score)
          vote_vector = validator.score&.vote_distance_history.to_a[-vl..-1]
        %>
        <% max_value = vote_vector&.max %>
        <% if max_value && max_value > Y_VOTE_DISTANCE_MAX %>
          <div class="chart-top-container">
            <div class="chart-top-value" style="left: <%= max_value_position(vote_vector) %>">
              <%= max_value %>
            </div>
          </div>
        <% end %>
        <%= render 'validators/validator_small_chart',
                   chart_name: "vote_distance_#{validator.account}",
                   vector: vote_vector,
                   line_color: line_color,
                   fill_color: fill_color,
                    max_y: Y_VOTE_DISTANCE_MAX
        %>
      </td>

      <!-- SKIPPED SLOTS  -->
      <td class="column-chart d-none d-lg-table-cell text-center" id="skipped-slots-<%=i%>">
        <%
          vl = chart_x_scale(validator.score&.skipped_slot_history.to_a.count)
          ma = chart_x_scale(validator.score&.skipped_slot_moving_average_history.to_a.count)

          skipped_slots_moving_avg = validator.score&.skipped_slot_moving_average_history.to_a[-ma..-1]&.map { |v| (v.to_f*100.0).round(1) }
          slot_vector = validator.score&.skipped_slot_history.to_a[-vl..-1].map { |v| (v.to_f*100.0).round(1) }

          line_color = chart_line_color(validator.skipped_slot_score)
        %>
        <% if slot_vector.count > 0 %>
          <%= render 'validators/validator_skipped_slots_chart',
                    chart_name: "skipped_slots_#{validator.account}",
                    account: validator.account,
                    vector: slot_vector,
                    line_color: line_color,
                    moving_avg_vector: skipped_slots_moving_avg
          %>
        <% else %>
          <span class="text-muted">N/A</span>
        <% end %>
      </td>

      <td class="column-chart d-none d-lg-table-cell" id=vote-latency-<%=i%>>
        <%
          vl = chart_x_scale(validator.score&.vote_latency_history.to_a.count)
          line_color = chart_line_color(validator.vote_latency_score)
          fill_color = chart_fill_color(validator.vote_latency_score)
          vote_vector = validator.score&.vote_latency_history.to_a[-vl..-1]
        %>
        <% max_value = vote_vector&.max %>
        <% if max_value && max_value > Y_VOTE_LATENCY_MAX %>
          <div class="chart-top-container">
            <div class="chart-top-value" style="left: <%= max_value_position(vote_vector) %>">
              <%= max_value %>
            </div>
          </div>
        <% end %>
        <%= render 'validators/validator_small_chart',
                   chart_name: "vote_latency_#{validator.account}",
                   vector: vote_vector,
                   line_color: line_color,
                   fill_color: fill_color,
                   max_y: Y_VOTE_LATENCY_MAX
        %>
      </td>
    </tr>

    <% at_33_stake_index ||= nil %>
    <% if at_33_stake_index && i == at_33_stake_index %>
      <tr class="heading-secondary text-center">
        <td colspan="6" class="p-3">
          Cumulative stake above can halt the network&nbsp;&#8212;&nbsp;improve decentralization
          and delegate to validators below
        </td>
      </tr>
    <% end %>

  <% end %>
  </tbody>
</table>

<div id="validator-score-modal" validator=""></div>
