<%= render 'validators/welcome_banner' %>

<%= javascript_pack_tag 'transactions/transactions_stats_component' %>
<div id="transactions-stats-component"></div>

<%= javascript_pack_tag 'sol_prices/sol_price_component' %>
<div id="sol-price-component"></div>

<%= render 'validators/ping_stats_banner' %>

<%= render 'validators/stake_pools_banner' %>

<%= render 'validators/watchlist_info_banner' %>

<div class="card">
  <div class="card-content pb-3">
    <%= render 'validators/sort_bar' %>
    <%= render 'validators/toggle_bar' %>
  </div>
</div>
