<%= render 'validators/welcome_banner' %>

<%= javascript_pack_tag 'transactions/transactions_stats_component' %>
<%= javascript_pack_tag 'sol_prices/sol_price_component' %>
<%= javascript_pack_tag 'epoch/epoch_stats_component' %>

<section class="row">
  <!-- placeholder for visualization -->
  <div class="col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="h5 card-heading-left">Stake</h2>
        <div>
          <span class="text-muted me-1">Active Stake:</span>
          <strong class="text-success">TBA</strong>
        </div>
        <div>
          <span class="text-muted me-1">Circulating:</span>
          <strong class="text-success">TBA</strong>
          <small class="small">(X% of XXXM)</small>
        </div>
      </div>
    </div>
  </div><!-- end of placeholder -->

  <div id="transactions-stats-component"></div>
  <div id="sol-price-component"></div>
</section>

<%= render 'validators/ping_stats_banner' %>

<div class="row">
  <div id="epoch-stats-component"></div>

  <div class="col-md-6 mb-4">
    <%= render 'validators/watchlist_info_banner' %>
  </div>
</div>

<%= render 'validators/stake_pools_banner' %>


<div class="card">
  <div class="card-content pb-3">
    <%= render 'validators/sort_bar' %>
    <%= render 'validators/toggle_bar' %>
  </div>
</div>
