<%= javascript_pack_tag "validators/validators_map.js" %>
<%= javascript_pack_tag 'transactions/transactions_stats_component' %>
<%= javascript_pack_tag 'sol_prices/sol_price_component' %>
<%= javascript_pack_tag 'epoch/epoch_stats_component' %>
<%= javascript_pack_tag 'validators/circulating_supply.js' %>
<%= javascript_pack_tag 'leaders/leaders_stats_component.js' %>

<% if @network == "mainnet" %>
  <%= render "validators/ping_stats_banner" %>
<% end %>

<div id="validators-map">
  <validators-map network="<%= @network %>"/>
</div>

<section class="row">
  <div id="leader-stats-component"></div>
  <div id="epoch-stats-component"></div>
</section>

<section class="row">
  <div class="col-sm-4 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="h5 card-heading-left">Cluster</h2>
        <div class="mb-2">
          <span class="text-muted me-1">Software Version:</span>
          <strong class="text-success">XXX</strong>
        </div>
        <div>
          <span class="text-muted me-1">Validators:</span>
          <strong class="text-success">XXX</strong>
        </div>
        <div>
          <span class="text-muted me-1">RPC nodes:</span>
          <strong class="text-success">XXX</strong>
        </div>
      </div>
    </div>
  </div>
  <div id="circulating-supply-component"></div>
  <div id="transactions-stats-component"></div>
</section>

<section class="row">
  <div id="sol-price-component"></div>
  <div class="col-md-8 mb-4">
    <%= render 'validators/watchlist_info_banner' %>
  </div>
</section>

<%= render 'validators/stake_pools_banner' %>
