<%= render 'validators/banner' %>

<% unless @validators.empty? %>
  <div class="card">
    <div class="card-content pb-0">
      <h1 class="h2 card-heading">Solana <%= params[:network].capitalize %> Validators</h1>

      <%= render 'validators/sort_bar', version: 'v1' %>

      <div class="row">
        <div class="col-md-9 col-lg-10">
          <p class="small muted">
            Score updated at <%= @batch&.created_at || 'N/A' %> in batch <%= @batch&.uuid || 'N/A' %>.
            <%= link_to 'See Data Centers', data_centers_url(network: params[:network]) %>
          </p>
        </div>
        <div class='col-md-3 col-lg-2 toggle-container'>
          <% if params[:refresh] == 'true' %>
            <%= link_to raw('<i class="fas fa-toggle-on toggle"></i>'),
                        url_for(order: params[:order], page: params[:page], network: params[:network], q: params[:q], refresh: false) %>
            <p class="small muted toggle-label">REFRESH ON</p>
          <% else %>
            <%= link_to raw('<i class="fas fa-toggle-off toggle"></i>'),
                        url_for(order: params[:order], page: params[:page], network: params[:network], q: params[:q], refresh: true) %>
            <p class="small muted toggle-label">REFRESH OFF</p>
          <% end %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <%= render 'validators/table',
                   batch: @batch,
                   validators: @validators,
                   at_33_stake_index: @at_33_stake_index,
                   show_ip_and_gateway: false,
                   show_version: true,
                   items_per_page: @per %>

          <p class="px-3 small muted">
            Score updated at <%= @batch&.created_at || 'N/A' %> in batch <%= @batch&.uuid || 'N/A' %>
          </p>
          <%= paginate @validators %>

      </div>
    </div>
  </div>
<% end %>

<% if @validators.blank? && !params[:q].blank? %>
  <%= render 'validators/no_search_results' %>
<% end %>
