<%= render 'validators/banner' %>

<% unless @validators.empty? %>
  <div class="card">
    <div class="card-content pb-0">
      <h1 class="h2 card-heading">Solana <%= params[:network].capitalize %> Validators</h1>

      <%= render 'validators/sort_bar' %>

      <div class="row">
        <div class="col-md-9 col-lg-10">
          <p class="small muted">
            Score updated at <%= @batch&.created_at || 'N/A' %> in batch <%= @batch&.uuid || 'N/A' %>.
            <%= link_to 'See Data Centers', data_centers_url(network: params[:network]) %>
          </p>
        </div>
        <div class='col-md-3 col-lg-2 toggle-container'>
          <% if params[:refresh] == 'true' %>
            <%= link_to raw('<i class="fas fa-toggle-on toggle"></i>'),
                        url_for(order: params[:order], page: params[:page], network: params[:network], q: params[:q], refresh: false) %>
            <p class="small muted toggle-label">Refresh ON</p>
          <% else %>
            <%= link_to raw('<i class="fas fa-toggle-off toggle"></i>'),
                        url_for(order: params[:order], page: params[:page], network: params[:network], q: params[:q], refresh: true) %>
            <p class="small muted toggle-label">Refresh OFF</p>
          <% end %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <table id="validators-table" class='table table-block-sm'>
          <%= render 'validators/validators_table_head',
                     show_subhead: true,
                     show_ip_and_gateway: false,
                     show_mobile_head: false %>
          <%= render 'validators/validators_table_body',
                     show_ip_and_gateway: false,
                     items_per_page: @per %>
        </table>
        <div class="px-15">
          <p class="small muted">
            Score updated at <%= @batch&.created_at || 'N/A' %> in batch <%= @batch&.uuid || 'N/A' %>
          </p>
          <%= paginate @validators %>
        </div>


      </div>
    </div>
  </div>
<% end %>

<% unless @validators.empty? %>
  <div class="row">
    <%= render 'validators/software_versions' %>
    <%= render 'validators/stats' %>
  </div>
<% end %>