<!-- Ensures 3rd party js loads correctly after going back in browser -->
<% content_for :for_head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<%= render 'validators/welcome_banner' %>

<% unless @validators.empty? %>
  <div class="card">
    <div class="card-content pb-3">
      <%= render 'validators/sort_bar' %>
      <%= render 'validators/toggle_bar' %>
    </div>

    <%= render 'validators/table',
               batch: @batch,
               validators: @validators,
               at_33_stake_index: @at_33_stake_index,
               show_ip_and_gateway: false,
               items_per_page: @per,
               show_watchlist_btn: true %>

    <div class="card-footer">
      <p class="small text-muted">
        Score updated at <%= @batch&.scored_at || 'N/A' %> <br class="d-md-none"/>
        in batch <%= @batch&.uuid || 'N/A' %>
      </p>
      <p class="small text-muted">
        Ibrl score provided by <a href="https://ibrl.wtf/" target="_blank">ibrl.wtf</a>.
      </p>
      <%= paginate @validators %>
    </div>
  </div>
<% end %>

<% if @validators.blank? && !params[:q].blank? %>
  <%= render 'validators/no_search_results', trent_mode: false %>
<% end %>

<% if @validators.blank? && !params[:watchlist].blank? %>
  <%= render 'validators/empty_watchlist' %>
<% end %>
