<h3>
  <span class="avatar">
    <% if @validator.avatar_url %>
      <%= image_tag @validator.avatar_url, class: 'img-circle' %>
    <% else %>
      <%= image_tag 'https://keybase.io/images/no-photo/placeholder-avatar-180-x-180@2x.png', class: 'img-circle' %>
    <% end %>
  </span>
  <%= @validator.name || @validator.account %>
</h3>
<div class="row">
  <div class="col-lg-6">
    <table class='table table-striped table-borderless table-full-width'>
      <thead class="thead-dark">
        <tr>
          <th colspan="2">
            <%= params[:network].capitalize %> Validator Details
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- First Row -->
        <tr>
          <td><strong>Name:</strong></td>
          <td>
            <%= @validator.name %>
          </td>
        </tr>

        <!-- Second Row -->
        <tr>
          <td><strong>Details:</strong></td>
          <td><%= @validator.details %></td>
        </tr>

        <!-- Third Row -->
        <tr>
          <td><strong>Identity:</strong></td>
          <td><small><%= @validator.account %></small></td>
        </tr>

        <!-- Fourth Row -->
        <tr>
          <td><strong>Software:</strong></td>
          <td>
            <%=
              @validator.validator_score_v1&.software_version
            %>
          </td>
        </tr>

        <!-- Fifth Row -->
        <tr>
          <td><strong>IP:</strong></td>
          <td><%= @validator.ip_address unless @validator.validator_ips.empty? %></td>
        </tr>

        <!-- Sixth Row -->
        <tr>
          <td><strong>Data Center:</strong></td>
          <td>
              <%=
                link_to(@validator.data_center_key.to_s,
                  data_center_url(network: params[:network], key: @validator.data_center_key.gsub('/', '-slash-'))) unless @validator.data_center_key.blank?
              %>
          </td>
        </tr>

        <% unless @validator.security_report_url.blank? %>

         <!-- Seventh Row -->
         <tr>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
         </tr>
         <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-lg-6">
    <table class='table table-striped table-borderless table-full-width'>
      <thead class="thead-dark">
        <tr>
          <th colspan="2">
            <%= params[:network].capitalize %> Validator Details
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- First Row -->
        <tr>
          <td><strong>Keybase:</strong></td>
          <td><%= @validator.keybase_id %></td>
        </tr>

        <!-- Second Row -->
        <tr>
          <td><strong>Website:</strong></td>
          <td><%= @validator.www_url %></td>
        </tr>

        <!-- Third Row -->
        <tr>
          <td><strong>Vote Account:</strong></td>
          <td>
            <small>
            <%=
              link_to \
              @validator.vote_account_last&.account,
              vote_account_url(
                 network: params[:network],
                 account: @validator.vote_account_last&.account
              ) unless @validator.vote_accounts.empty? %>
              </small>
          </td>
        </tr>

        <!-- Fourth Row -->
        <tr>
          <td><strong>Active Stake:</strong></td>
          <td>
            <%= number_with_delimiter(
                  (@validator.validator_score_v1&.active_stake * 0.000000001).round
                ) rescue 'N/A' %> SOL
          </td>
        </tr>

        <!-- Fifth Row -->
        <tr>
          <td><strong>Commission:</strong></td>
          <%
            comm_class = 'text-red' \
              if params[:network] == 'mainnet' &&
                 @validator.commission.to_i == 100
          %>
          <td class="<%= comm_class %>">
            <%= @validator.commission rescue 'N/A' %> &percnt;
          </td>
        </tr>

        <% unless @validator.security_report_url.blank? %>

         <!-- Sixth Row -->
         <tr>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
         </tr>

         <!-- Seventh Row -->
         <tr>
           <td>
             <strong>Security Info:</strong>
           </td>
           <td>
             <%= link_to @validator.security_report_url, @validator.security_report_url, target: '_blank'  %>
           </td>
         </tr>
         <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class='row'>
  <div class="col-sm-8">
    <%= link_to 'Back to List of Validators', url_for(controller: 'public', action: 'index', order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]) %>
  </div>
  <div class='col-sm-4 text-right'>
    <% if params[:refresh] == 'true' %>
            <%= link_to raw('<i class="fas fa-toggle-on toggle"></i>'), url_for(order: params[:order], page: params[:page], network: params[:network], refresh: false)  %>
      <small>Refresh ON</small>
    <% else %>
      <%= link_to raw('<i class="fas fa-toggle-off toggle"></i>'), url_for(order: params[:order], page: params[:page], network: params[:network], refresh: true)  %>
      <small>Refresh OFF</small>
    <% end %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-6">
    <%= render partial: 'block_history_chart' %>
  </div>
  <div class="col-lg-6">
    <% vl = \
      if @validator.score.root_distance_history&.count.to_i < @history_limit
        @validator.score.root_distance_history&.count.to_i
      else
        @history_limit
      end
    %>
    <%= render 'validators/spark_line_block_vote',
            account: @validator.account,
            vector_block: @validator.score&.root_distance_history.to_a[-vl..-1],
            vector_vote: @validator.score&.vote_distance_history.to_a[-vl..-1]
    %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-12">
    <%= link_to 'Back to List of Validators', url_for(controller: 'public', action: 'index', order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]) %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'block_history_table' %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <%# render partial: 'ping_times_table' %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-12">
    <%= link_to 'Back to List of Validators', url_for(controller: 'public', action: 'index', order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]) %>
  </div>
</div>
