<div id="notice"><%= notice %></div>

<h3>
  <span class="avatar">
    <% if @validator.avatar_url %>
      <%= image_tag @validator.avatar_url, class: 'img-circle' %>
    <% else %>
      <%= image_tag 'https://keybase.io/images/no-photo/placeholder-avatar-180-x-180@2x.png', class: 'img-circle' %>
    <% end %>
  </span>
  <%= params[:network].capitalize %> Validator Details
</h3>
<div class="row">
  <div class="col-lg-6">
    <table class='table table-striped'>
      <tbody>
        <tr>
          <td><strong>Name:</strong></td>
          <td>

            <%= @validator.name %>
          </td>
        </tr>
        <tr>
          <td><strong>Details:</strong></td>
          <td><%= @validator.details %></td>
        </tr>
        <tr>
          <td><strong>Identity:</strong></td>
          <td><small><%= @validator.account %></small></td>
        </tr>
        <tr>
          <td><strong>Software:</strong></td>
          <td>
            <%=
              @validator.validator_score_v1&.software_version
            %>
          </td>
        </tr>
        <tr>
          <td><strong>IP:</strong></td>
          <td><%= @validator.validator_ips.last.address unless @validator.validator_ips.empty? %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
    <table class='table table-striped'>
      <tbody>
        <tr>
          <td><strong>keybase:</strong></td>
          <td><%= @validator.keybase_id %></td>
        </tr>
        <tr>
          <td><strong>Website:</strong></td>
          <td><%= @validator.www_url %></td>
        </tr>
        <tr>
          <td><strong>Vote Account:</strong></td>
          <td>
            <small>
            <%=
              link_to \
              @validator.vote_accounts.last&.account,
              vote_account_url(
                 network: params[:network],
                 account: @validator.vote_accounts.last&.account
              ) unless @validator.vote_accounts.empty? %>
              </small>
          </td>
        </tr>
        <tr>
          <td><strong>Active Stake:</strong></td>
          <td>
            <%= number_with_delimiter(
                  (@validator.validator_score_v1&.active_stake * 0.000000001).round
                ) rescue 'N/A' %> SOL
          </td>
        </tr>
        <tr>
          <td><strong>Commission:</strong></td>
          <td>
            <%= @validator.validator_score_v1&.commission rescue 'N/A' %> &percnt;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class='row'>
  <div class="col-sm-12">
    <%= link_to 'Back to List of Validators', validators_path %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'block_history_chart' %>
  </div>

</div>

<div class='row'>
  <div class="col-sm-12">
    <%= link_to 'Back to List of Validators', validators_path %>
  </div>
</div>

<div class="row validator-block-history-table">
  <div class="col-sm-12">
    <%= render partial: 'ping_times_table' %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-12">
    <%= link_to 'Back to List of Validators', validators_path %>
  </div>
</div>
<div class="row validator-block-history-table">
  <div class="col-sm-12">
    <%= render partial: 'block_history_table' %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-12">
    <%= link_to 'Back to List of Validators', validators_path %>
  </div>
</div>
