<%
=begin%>
 <section class="page-header">
  <div class='page-header-name'>
    <% if @validator.private_validator? %>
      <div class="img-circle-private img-circle-medium">
        <span class='fas fa-users-slash' title="Private Validator"></span>
      </div>
    <% elsif @validator.avatar_url %>
      <%= image_tag @validator.avatar_url, class: 'img-circle-medium' %>
    <% else %>
      <%= image_tag 'https://keybase.io/images/no-photo/placeholder-avatar-180-x-180@2x.png', class: 'img-circle-medium' %>
    <% end %>

    <h1 class="word-break"><%= @validator.name || @validator.account %></h1>
  </div>

  <div class="d-flex justify-content-between flex-wrap gap-3">
    <% unless @validator.private_validator? || !@validator.active? %>
      <div class="d-flex flex-wrap gap-3">
        <%= link_to 'Delegate on Solstake.io',
                    solstake_url(@validator.vote_account_active&.account),
                    title: 'Delegate SOL to this validator on SolStake.io',
                    class: "btn btn-sm btn-secondary",
                    target: :blank %>
        <%= link_to 'Delegate on Staking.kiwi',
                    staking_kiwi_url(@validator.vote_account_active&.account),
                    title: 'Delegate SOL to this validator on Staking.kiwi',
                    class: "btn btn-sm btn-secondary",
                    target: :blank %>
        <%= link_to 'Liquid Stake through BlazeStake',
                    blazestake_url(@validator.vote_account_active&.account),
                    title: 'Delegate SOL to this validator on BlazeStake',
                    class: "btn btn-sm btn-secondary",
                    target: :blank %>
      </div>
    <% end %>
    <div class="d-flex flex-wrap gap-3">
      <% if @validator.private_validator? %>
        <div class="btn btn-sm btn-danger" title="Validator has 100% commission.">private</div>
      <% end %>
      <% if @validator.delinquent? %>
        <div class="btn btn-sm btn-danger" title="Validator is delinquent.">delinquent</div>
      <% end %>
      <% unless @validator.active? %>
        <div class="btn btn-sm btn-danger" title="Validator is inactive.">inactive</div>
      <% end %>

      <% if @validator.admin_warning %>
        <%= link_to '/faq#admin-warning', title: "#{@validator.admin_warning}" do %>
          <div class="btn btn-sm btn-danger me-2">admin warning</div>
        <% end %>
      <% end %>
      <% if @validator.score.authorized_withdrawer_score == -2 %>
        <%= link_to '/faq#withdraw-authority-warning', title: "Withdrawer matches validator identity." do %>
          <div class="btn btn-sm btn-warning me-2">withdrawer authority</div>
        <% end %>
      <% end %>
      <% if @validator.score.consensus_mods_score == -2 %>
        <%= link_to '/faq#score', title: "Validator appears to use unproven software modifications." do %>
          <div class="btn btn-sm btn-warning me-2">mods</div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>


<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="card h-100">
      <div class="card-content pb-0">
        <h2 class="h4 card-heading">Validator Details</h2>
      </div>

      <table class='table table-block-sm mb-0'>
        <tbody>
        <tr>
          <td class="column-lg"><strong>Name:</strong></td>
          <td>
            <%= @validator.name %>
          </td>
        </tr>

        <tr>
          <td><strong>Details:</strong></td>
          <td class="text-break"><%= @validator.details %></td>
        </tr>

        <tr>
          <td><strong>Identity:</strong></td>
          <td><small class="word-break"><%= @validator.account %></small></td>
        </tr>

        <tr>
          <td><strong>Software:</strong></td>
          <td>
            <%= @validator&.score&.software_version %>
          </td>
        </tr>

        <tr>
          <td><strong>IP:</strong></td>
          <td><%= @validator.validator_ip_active.address if @validator.validator_ip_active %></td>
        </tr>

        <tr>
          <td><strong>Data Center:</strong></td>
          <td>
            <%=
              link_to(@validator.dch_data_center_key.to_s,
                      data_center_url(network: params[:network], key: @validator.dch_data_center_key.gsub('/', '-slash-'))) unless @validator.dch_data_center_key.blank?
            %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-6 mb-4">
    <div class="card h-100">
      <div class="card-content pb-0">
        <h2 class="h4 card-heading">Validator Details</h2>
      </div>
      <table class='table table-block-sm mb-0'>
        <tbody>
        <tr>
          <td class="column-lg"><strong>Keybase:</strong></td>
          <td><%= @validator.keybase_id %></td>
        </tr>

        <tr>
          <td><strong>Website:</strong></td>
          <td><%= link_to_validator_website(@validator.www_url) %></td>
        </tr>

        <tr>
          <td>
            <strong>Vote Account:</strong>
          </td>
          <td>
            <small class="word-break">
              <%=
                link_to @validator.vote_account_active&.account,
                  validator_vote_account_path(
                    account: @validator.account,
                    vote_account: @validator.vote_account_active&.account,
                    network: params[:network]
                  ) unless @validator.vote_accounts.empty?
              %>
            </small>
          </td>
        </tr>

        <tr>
          <td><strong>Active Stake:</strong></td>
          <td>
            <%= number_with_delimiter(
                  (@val_history&.active_stake * 0.000000001).round
                ) rescue 'N/A' %> SOL
          </td>
        </tr>

        <tr>
          <td><strong>Commission:</strong></td>
          <%
            comm_class = 'text-danger' \
              if params[:network] == 'mainnet' &&
              @validator.commission.to_i == 100
          %>
          <td class="<%= comm_class %>" data-turbolinks="false">
            <%= @validator.commission rescue 'N/A' %>&percnt;
            <% if @commission_histories %>
              <%= link_to '(See commission changes)',
                          commission_histories_path(network: params[:network], validator_id: @validator.id),
                          class: 'small'%>
            <% end %>
          </td>
        </tr>

        <% unless @validator.security_report_url.blank? %>
          <tr>
            <td>
              <strong>Security Info:</strong>
            </td>
            <td>
              <%= link_to @validator.security_report_url, @validator.security_report_url, target: '_blank' %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td>
              <strong>Scores:</strong>
            </td>
            <td>
              <% if @validator.scorable? %>
                <%= render 'validators/scores', validator: @validator %>
              <% else %>
                Inactive or zero-stake node. No score available
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-9 col-lg-10">
    <%= link_to 'Back to All Validators',
                validators_path(order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]),
                class: 'btn btn-sm btn-secondary mb-3' %>
  </div>

  <div class='col-md-3 col-lg-2 toggle-container pt-2'>
    <% if params[:refresh] == 'true' %>
      <%= link_to raw('<i class="fas fa-toggle-on toggle"></i>'), url_for(order: params[:order], page: params[:page], network: params[:network], refresh: false) %>
      <p class="small text-muted toggle-label">REFRESH ON</p>
    <% else %>
      <%= link_to raw('<i class="fas fa-toggle-off toggle"></i>'), url_for(order: params[:order], page: params[:page], network: params[:network], refresh: true) %>
      <p class="small text-muted toggle-label">REFRESH OFF</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-content pb-0">
        <h2 class="h4 card-heading mb-3">Block History</h2>
      </div>
      <div class="pb-3 px-3">
        <canvas id="root_distance_history"
                data-data="<%= @root_blocks.to_json %>"
                data-labels="<%= @root_blocks.map{ |block| block[:x] } %>">
        </canvas>
        <%= render 'validators/validator_large_chart',
                   chart_name: "root_distance_history",
                   records_count: "#{@root_blocks.count}",
                   label: 'Block Diff'
        %>

      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-content pb-0">
        <h2 class="h4 card-heading mb-3">Vote History</h2>
      </div>
      <div class="pb-3 px-3">
        <canvas id="vote_distance_history"
                data-data="<%= @vote_blocks.to_json %>"
                data-labels="<%= @vote_blocks.map{ |block| block[:x] } %>">
        </canvas>
        <%= render 'validators/validator_large_chart',
                   chart_name: "vote_distance_history",
                   records_count: "#{@vote_blocks.count}",
                   label: 'Vote Diff'
        %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-content pb-0">
        <h2 class="h4 card-heading mb-3">Skipped Slots History</h2>
      </div>
      <div class="pb-3 px-3">
        <canvas id="skipped_slots_large_chart"
                data-labels="<%= @data.map { |k, v| v[:label] } %>">
        </canvas>
        <%= render partial: 'skipped_slots_large_chart' %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back to All Validators',
            validators_path(order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]),
            class: 'btn btn-sm btn-secondary mb-4' %>

<div class="card mb-4">
  <%= render partial: 'block_history_table' %>
</div>


<%= link_to 'Back to All Validators',
            validators_path(order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]),
            class: 'btn btn-sm btn-secondary' %> 
<%
=end%>

<%= javascript_pack_tag "validators/validator_details.js" %>

<div id="validator-details" 
     validator=<%= @validator.to_json(methods: [:dch_data_center_key, :vote_account_active]) %> 
     score=<%= @score.to_json(methods: [:displayed_total_score]) %>
     root_blocks=<%= @root_blocks.to_json %>
     vote_blocks=<%= @vote_blocks.to_json %>
     skipped_slots=<%=@data.to_json %>>
</div>
