<div class="page-header with-image">
  <% if @validator.private_validator? %>
    <div class="img-circle-private">
      <span class='fas fa-users-slash' title="Private Validator"></span>
    </div>
  <% elsif @validator.avatar_url %>
    <%= image_tag @validator.avatar_url, class: 'img-circle' %>
  <% else %>
    <%= image_tag 'https://keybase.io/images/no-photo/placeholder-avatar-180-x-180@2x.png', class: 'img-circle' %>
  <% end %>
  <h1 class="word-break">
    <%= @validator.name || @validator.account %>
  </h1>
  <% unless @validator.private_validator? %>
    <h5 class="mt-2">
      Delegate SOL to this validator:
      <%= link_to 'SolStake.io',
                  solstake_url(@validator.vote_account_last&.account),
                  target: :blank %>
    </h5>
  <% end %>
  <% if @validator.private_validator? %>
    <h5 class="text-danger mt-2">(Private Validator)</h5>
  <% end %>
  <% if @validator.delinquent? %>
    <h5 class="text-danger mt-2">(delinquent)</h5>
  <% end %>
</div>


<div class="row">
  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-content pb-0">
        <h2 class="card-heading">Validator Details</h2>
      </div>

      <table class='table table-block-sm mb-0'>
        <tbody>
        <tr>
          <td class="category-column"><strong>Name:</strong></td>
          <td>
            <%= @validator.name %>
          </td>
        </tr>

        <tr>
          <td><strong>Details:</strong></td>
          <td><%= @validator.details %></td>
        </tr>

        <tr>
          <td><strong>Identity:</strong></td>
          <td><small class="word-break"><%= @validator.account %></small></td>
        </tr>

        <tr>
          <td><strong>Software:</strong></td>
          <td>
            <%=
              @validator.validator_score_v1&.software_version
            %>
          </td>
        </tr>

        <tr>
          <td><strong>IP:</strong></td>
          <td><%= @validator.ip_address unless @validator.validator_ips.empty? %></td>
        </tr>

        <tr>
          <td><strong>Data Center:</strong></td>
          <td>
            <%=
              link_to(@validator.data_center_key.to_s,
                      data_center_url(network: params[:network], key: @validator.data_center_key.gsub('/', '-slash-'))) unless @validator.data_center_key.blank?
            %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-content pb-0">
        <h2 class="card-heading">Validator Details</h2>
      </div>
      <table class='table table-block-sm mb-0'>
        <tbody>
        <tr>
          <td class="category-column"><strong>Keybase:</strong></td>
          <td><%= @validator.keybase_id %></td>
        </tr>

        <tr>
          <td><strong>Website:</strong></td>
          <td><%= @validator.www_url %></td>
        </tr>

        <tr>
          <td><strong>Vote Account:</strong></td>
          <td>
            <small class="word-break">
              <%=
                link_to \
              @validator.vote_account_last&.account,
              vote_account_url(
                network: params[:network],
                account: @validator.vote_account_last&.account
              ) unless @validator.vote_accounts.empty? %>
            </small>
          </td>
        </tr>

        <tr>
          <td><strong>Active Stake:</strong></td>
          <td>
            <%= number_with_delimiter(
                  (@validator.validator_score_v1&.active_stake * 0.000000001).round
                ) rescue 'N/A' %> SOL
          </td>
        </tr>

        <tr>
          <td><strong>Commission:</strong></td>
          <%
            comm_class = 'text-danger' \
              if params[:network] == 'mainnet' &&
              @validator.commission.to_i == 100
          %>
          <td class="<%= comm_class %>">
            <%= @validator.commission rescue 'N/A' %>&percnt;
            <%= link_to '(See commission changes)',
                        commission_histories_path(network: params[:network], validator_id: @validator.id),
                        class: 'small' %>
          </td>
        </tr>

        <% unless @validator.security_report_url.blank? %>
          <tr>
            <td>
              <strong>Security Info:</strong>
            </td>
            <td>
              <%= link_to @validator.security_report_url, @validator.security_report_url, target: '_blank' %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td>
              <strong>Scores:</strong>
            </td>
            <td>
              <%= render 'validators/scores', validator: @validator %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-9 col-lg-10">
    <%= link_to 'Back to List of Validators',
                url_for(controller: 'public', action: 'index', order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]),
                class: 'btn btn-sm btn-secondary mb-3' %>
  </div>

  <div class='col-md-3 col-lg-2 toggle-container pt-2'>
    <% if params[:refresh] == 'true' %>
      <%= link_to raw('<i class="fas fa-toggle-on toggle"></i>'), url_for(order: params[:order], page: params[:page], network: params[:network], refresh: false) %>
      <p class="small muted toggle-label">REFRESH ON</p>
    <% else %>
      <%= link_to raw('<i class="fas fa-toggle-off toggle"></i>'), url_for(order: params[:order], page: params[:page], network: params[:network], refresh: true) %>
      <p class="small muted toggle-label">REFRESH OFF</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-content">
        <!-- Block History Chart -->
        <% vl = if @validator.score.root_distance_history&.count.to_i < @history_limit
                  @validator.score.root_distance_history&.count.to_i
                else
                  @history_limit
                end
           line_color = chart_line_color(@validator.score.root_distance_score)
           fill_color = chart_fill_color(@validator.root_distance_score)
        %>
        <%= render 'validators/spark_line_block',
                   account: @validator.account,
                   vector_block: @validator.score&.root_distance_history.to_a[-vl..-1],
                   line_color: line_color,
                   fill_color: fill_color
        %>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-content">
        <!-- Vote History Chart -->
        <% vl = if @validator.score.root_distance_history&.count.to_i < @history_limit
                  @validator.score.root_distance_history&.count.to_i
                else
                  @history_limit
                end
           line_color = chart_line_color(@validator.score.vote_distance_score)
           fill_color = chart_fill_color(@validator.vote_distance_score)
        %>
        <%= render 'validators/spark_line_vote',
                   account: @validator.account,
                   vector_vote: @validator.score&.vote_distance_history.to_a[-vl..-1],
                   line_color: line_color,
                   fill_color: fill_color
        %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-content">
        <!-- Skipped Slot History -->
        <%= render partial: 'block_history_chart' %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back to List of Validators',
            url_for(controller: 'public', action: 'index', order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]),
            class: 'btn btn-sm btn-secondary mb-4' %>

<div class="card mb-4">
  <%= render partial: 'block_history_table' %>
</div>


<%= link_to 'Back to List of Validators',
            url_for(controller: 'public', action: 'index', order: params[:order], page: params[:page], network: params[:network], refresh: params[:refresh]),
            class: 'btn btn-sm btn-secondary' %>
