<div class="card pb-3 pl-3 pr-3">
  <div class="card-content">
    <h3 class="card-heading mb-3">Sol Token Prices</h3>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#menu1">CoinGecko</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">FTX</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="menu1">
      <p>Average price of Sol Token from the last 100 days, powered by <a href="https://www.coingecko.com/en">CoinGecko</a>.</p>
      <canvas id="myChart"
        width="200px"
        height="100px"
        data-labels="<%= @coin_gecko_labels %>"
        data-data="<%= @coin_gecko_data %>" 
        data-backgroundcolor="<%= SPARK_LINE_3_TRANSPARENT %>"
        data-bordercolor="<%= SPARK_LINE_3 %>"
      >
      </canvas>
    </div>

    <div class="tab-pane fade" id="menu2">
      <p>Open, high, low and close price of Sol Token from the last 100 days, powered by <a href="https://ftx.com/">FTX Exchange</a>.</p>
      <canvas id="myChart2"
        width="200px"
        height="100px"
        data-data="<%= @ftx_data.to_json %>"
        data-backgroundcolor="<%= SPARK_LINE_3_TRANSPARENT %>"
        data-bordercolor="<%= SPARK_LINE_3 %>"
      >
      </canvas>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'sol_prices_charts' %>
