<div class="card">
  <div class="card-content">
    <h3 class="card-heading mb-4">Sol Token Prices</h3>

    <div class="d-inline-block mb-4">
      <a class="btn btn-xs btn-secondary mr-1 solPricesChartTabButton <%= active_button?(:coin_gecko) %>" href="#coinGeckoChartTab">
        CoinGecko
      </a>
      <a class="btn btn-xs btn-secondary solPricesChartTabButton <%= active_button?(:ftx) %>" href="#ftxChartTab">
        FTX
      </a>
    </div>

    <div class="d-inline-block mb-4 float-md-right">
      <%= create_filter_links %>
    </div>

    <!-- Tab panes -->
    <div class="tab-content" id='sol-prices-tab-content'>
      <div class="tab-pane solPriceChartTab <%= active_tab?(:coin_gecko) %>" id="coinGeckoChartTab">
        <%= render 'coin_gecko_chart' %>
      </div>

      <div class="tab-pane solPriceChartTab <%= active_tab?(:ftx) %>" id="ftxChartTab">
        <%= render 'ftx_chart' %>
      </div>
    </div>
  </div>
</div>
