<hr />
<h3><%= @chart_data.network.capitalize %> Epoch <%= @chart_data.payload.first['epoch'] %></h3>

<canvas id="chart_home_page"></canvas>

<script type="text/javascript">
  var ctx = document.getElementById('chart_home_page').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        // x-axis labels
        labels: <%= @chart_data.payload.reverse.map { |p| p['end_slot'] }%>,
        // An Array of JSON hashes for each dataset to plot. The y-axis is
        // dynamicly calculated. Look for othe options to control the y-axis if
        // desired.
        datasets: [
          {
            label: 'Average Skipped Slot %',
            fill: false,
            backgroundColor: 'rgb(85, 239, 196)',
            borderColor: 'rgb(85, 239, 196)',
            radius: 0,
            data: <%= @chart_data.payload.reverse.map { |p| p['total_skipped_percent'] * 100.0  } %>
          },
          {
            label: 'Median Skipped Slot %',
            fill: false,
            backgroundColor: 'rgb(129, 236, 236)',
            borderColor: 'rgb(129, 236, 236)',
            radius: 0,
            data: <%= @chart_data.payload.reverse.map { |p| p['median_skipped_percent'] * 100.0  } %>
          }
        ]
    },

    // Configuration options go here
    options: {
      scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Slot'
					}
				}],
				yAxes: [{
					display: true,
          ticks: { min: 0},
					scaleLabel: {
						display: true,
						labelString: 'Percent'
					}
				}]
			}
    }
  });
</script>
<hr />
