<%= form_with model: @contact_request,
              class: 'form',
              method: 'POST',
              local: true,
              url: "/contact-us?locale=#{params[:locale]}" do |f| %>
  <% if @contact_request.errors.any? %>
    <div class="form-errors">
        <h4> <%= t('error', count: @contact_request.errors.count) %> <%= t('public.contact_us.form.errors') %></h4>
        <% @contact_request.errors.full_messages.each do |msg| %>
          <ul>
            <li><%= msg %></li>
          </ul>
        <% end %>
    </div>
  <% end %>
  <div class='form-group col-md-6'>
    <%= label(:contact_request, :name, class: 'required') %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class='form-group col-md-6'>
    <%= label(:contact_request, :email_address, nil, class: 'required') %>
    <%= f.text_field :email_address, class: 'form-control', required: true %>
  </div>
  <div class='form-group col-md-6'>
    <%= label(:contact_request, :telephone) %>
    <%= f.text_field :telephone, class: 'form-control' %>
  </div>
  <div class='form-group col-md-6'>
    <%= label(:contact_request, :comments) %>
    <%= f.text_area :comments, class: 'form-control', placeholder: t('public.contact_us.form.comments.placeholder') %>
  </div>
  <%= submit_tag t('public.contact_us.form.submit'), class: 'btn btn-primary' %>
<% end %>
