<table class='table table-striped'>
  <thead class="thead-dark">
    <tr>
      <th>Account</th>
      <th>Skipped<br />After</th>
      <th>Percent</th>
      <th>Max Ping<br />Time (ms)</th>
    </tr>
  </thead>
  <tbody>
    <% if histories.nil? %>
      <tr>
        <td colspan="4">No data</td>
      </tr>
    <% else %>
      <% histories.each do |val| %>
      <% validator = Validator.where(account: val['account']).first %>
      <%
        link_text = if validator && validator.name
          validator.name
        else
          shorten_key(val['account'])
        end
      %>
        <tr>
          <td>
            <span class="avatar">
              <% if validator && validator.avatar_url %>
                <%= image_tag validator.avatar_url, class: 'img-circle-small' %>
              <% else %>
                <%= image_tag 'https://keybase.io/images/no-photo/placeholder-avatar-180-x-180@2x.png',
                              class: 'img-circle-small' %>
              <% end %>
            </span>
            <%= link_to link_text, validator_url(network: params[:network], account: val['account'])  %>
          </td>
          <td><%= val['skipped_slots_after'] %></td>
          <td><%= number_to_percentage val['skipped_slots_after_percent'].to_f * 100.0 %></td>
          <td>
             <%= val['ping_time'].nil? ? 'N/A' : val['ping_time'] %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>
