<table class='table table-striped'>
  <thead class="thead-dark">
    <tr>
      <th>Account</th>
      <th>Root<br />Block</th>
      <th>Behind<br />Leader</th>
      <th>Active<br />Stake</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if validators.nil? %>
      <tr>
        <td colspan="5">No data</td>
      </tr>
    <% else %>
      <% validators.each do |val| %>
        <tr>
          <td>
            <% if @show_full_account %>
              <%= link_to val['account'], validator_url(network: params[:network], account: val['account'])  %>
            <% else %>
              <%= link_to shorten_key(val['account']), validator_url(network: params[:network], account: val['account'])  %>
            <% end %>
          </td>
          <td><%= number_with_delimiter val['root_block'] %></td>
          <td><%= number_with_delimiter val['blocks_behind_leader'] %></td>
          <td>
             <%= number_with_delimiter(lamports_to_sol(val['active_stake'])) %>
          </td>
          <td>
            <%= 'Delinquent' if val['delinquent'] %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>
