<section class="page-header">
  <h1>API Documentation</h1>
  <p>
    Our API provides several different endpoints to query the validators database. You must have a verified account
    in order to make requests against the JSON API. Your user account and an API token are used to secure this API.
    You can create a <%= link_to 'New Account', new_user_registration_path %> or
    <%= link_to 'Sign In', new_user_session_path %> to see your API token.
  </p>
</section>


<h2 class="h3">Quick Reference</h2>
<ul class="list-large list-no-bullets">
  <li><a href="#auhentication">Authentication</a></li>
  <li><a href="#ping">Server Ping</a></li>
  <li><a href="#ping-times">Ping Times</a></li>
  <li><a href="#ping-time-stats">Ping Time Stats</a></li>
  <li><a href="#validators-list">Validators List</a></li>
  <li><a href="#validator-detail">Validator Details</a></li>
  <li><a href="#validator-block">Validator Block Production History</a></li>
  <li><a href="#epoch-index">Epochs</a></li>
  <li><a href="#commission-change-index">Commission Changes</a></li>
  <li><a href="#stake-pools">Stake Pools</a></li>
  <li><a href="#stake-accounts">Stake Pools Stake Accounts</a></li>
  <li><a href="#stake-explorer">Stake Explorer</a></li>
  <li><a href="#ping-thing">Ping Thing Post</a></li>
  <li><a href="#ping-thing-batch">Ping Thing Batch</a></li>
  <li><a href="#ping-thing-list">Ping Thing List</a></li>
  <li><a href="#ping-thing-stats">Ping Thing Stats</a></li>
  <li><a href="#sol-prices">Sol Prices</a></li>
  <li><a href="#gossip-nodes">Gossip Nodes</a></li>
  <li><a href="#account-authorities">Authorities Changes</a></li>
  <li><a href="#last-blocks">Last Blocks</a></li>
  <li><a href="#block-votes">Block Votes</a></li>
  <li><a href="#policies-index">Yellowstone Shield Policies</a></li>
  <li><a href="#policies-show">Yellowstone Shield Policy Details</a></li>
  <li><a href="#error-codes">Error Codes</a></li>
  <li><a href="#limits">Requests Limits</a></li>
  <li><a href="#notes">Notes</a></li>
</ul>

<hr />

<h2 class="h4" id="auhentication">Authentication</h2>
<p>Pass your API token in as the Token header, like in this curl example:</p>
<pre>$ curl -H "Token: secret-api-token" '<%= @api_path %>/ping.json'</pre>
<p>
  Examples in this API guide are demonstrated using curl, but you can use an HTTP library of your choice.
  All responses are JSON.
</p>

<hr />

<h2 class="h4" id="ping">Server Ping</h2>
<p>The ping endpoint will allow you to test your connection to the server.</p>
<h3 class="h6">Request:</h3>
<pre>$ curl -H "Token: secret-api-token" '<%= @api_path %>/ping.json'</pre>
<h3 class="h6">Response:</h3>
<pre>{"answer":"pong"}</pre>

<hr />

<h2 class="h4" id="collector">Ping Times Collector</h2>
<p>
  Collector endpoint is used to gather ping times from participating validators.
</p>
<h3 class="h6">Request:</h3>
<pre>curl -X POST -H "Token: secret-api-token" -H "Content-Type: application/json" -d '{"payload_type": "ping_times",  "payload_version": 1, "payload": [{"network":"testnet","from_account":"ABCD","from_ip":"123.123.123.123","to_account":"IJKL","to_ip":"10.10.10.10","min_ms":1.881,"avg_ms":2.238,"max_ms":3.428,"mdev":1.597}] }' <%= @api_path %>/collector</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`payload_type=string`</strong> = ping_times</p>
<p><strong class="text-muted">`payload_version=NN`</strong> = 1</p>
<p><strong class="text-muted">`payload=string(json)`</strong> json containing array with all ping details (see example above).</p>
<p>Reqired payload fields: <%= CollectorLogic::REQUIRED_PAYLOAD_FIELDS.join(", ")%></p>

<h3 class="h6">Response:</h3>
<pre>{"status":"Accepted"}</pre>

<hr />

<h2 class="h4" id="ping-times">Ping Times</h2>
<p>
  The ping-times endpoint will return recent ping times as reported by the participating validators. By default, the most recent 1,000 ping times will be returned.
  You can include a `limit` parameter to request more or fewer ping times. In the examples below, replace `:network` with 'testnet' or 'mainnet' as desired.
</p>
<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/ping-times/:network.json'</pre>
<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`limit=NN`</strong> will limit the results to NN entries, defaults to 1_000 (max 9_999).</p>

<h3 class="h6">Response:</h3>
<p>An Array of ping times.</p>
<pre>
[
  {
    "id":614598,
    "batch_uuid":"baf5c581-7ca3-471f-9a86-17a4f3c904a3",
    "network":"testnet",
    "from_account":"71bhKKL89U3dNHzuZVZ7KarqV6XtHEgjXjvJTsguD11B",
    "from_ip":"165.227.100.142",
    "to_account":"HrTZp96AjUbgxFyaJUcWPLe93441D4TuEN1hC14TNTuJ",
    "to_ip":"95.217.226.153",
    "min_ms":"101.706",
    "avg_ms":"101.778",
    "max_ms":"101.872",
    "mdev":"0.396",
    "observed_at":"2020-06-19T12:54:50.000Z",
    "created_at":"2020-06-19T12:54:50.559Z",
    "updated_at":"2020-06-19T12:54:50.559Z"
  },
  ...
]
</pre>

<hr />

<h2 class="h4" id="ping-time-stats">Ping Time Stats</h2>
<p>
  The ping-time-stats endpoint will return overall stats for the ping times as reported by the participating validators. By default the most recent 100 ping time stats will be used.
</p>
<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/ping-time-stats/:network.json'</pre>
<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`limit=NN`</strong> will limit the results to NN entries, defaults to 100 (max 9_999).</p>

<h3 class="h6">Response:</h3>
<p>An Array of ping time stats.</p>
<pre>
[
  {
    "batch_uuid": "baf5c581-7ca3-471f-9a86-17a4f3c904a3",
    "overall_min_time": 101.778,
    "overall_max_time": 101.872,
    "overall_average_time": 101.803,
    "observed_at": "2024-12-18 10:34:06.984608000 +0000",
    "created_at": "2024-12-18 10:34:26.984608000 +0000",
    "updated_at": "2024-12-18 10:34:26.984608000 +0000",
    "network": "testnet"
  },
  ...
]
</pre>

<hr />

<h2 class="h4" id="validators-list">Validators List</h2>
<p>
  The Validators List endpoint will return a list of validators for the requested network. In the example below,
  replace `:network` with either 'testnet', 'mainnet' or 'pythnet' as desired.
</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/validators/:network.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`order=[score, name, stage]`</strong> will sort the results by score descending, name, or stake.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/validators/:network.json?order=score'</pre>
<p><strong class="text-muted">`limit=NN`</strong> will limit the results to NN entries, defaults to 9_999.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/validators/:network.json?order=score&limit=50'</pre>
<p><strong class="text-muted">`page=NN`</strong> will return the results from passed page, defaults to 1. Can be combined with limit param.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/validators/:network.json?order=score&page=1&limit=50'</pre>
<p><strong class="text-muted">`active_only=[true, false]`</strong> will exclude validators delinquent for more than 24h. Defaults to true.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/validators/:network.json?order=score&page=1&limit=50&active_only=false'</pre>
<p>
  <strong class="text-muted">`q=query`</strong> will limit the results to entries containing query.
  The query value is compared against validator's name, account and score data center key.
</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/validators/:network.json?order=score&q=query'</pre>

<h3 class="h6">Response:</h3>
<p>An Array of validators.</p>
<pre>
[
  {
    "network":"testnet",
    "account":"12345j84ecQEKUvQ7gYMKxKwKF6PbYXxXxxXXXXXxXXX",
    "name":"Example Name",
    "keybase_id":null,
    "www_url":"https://www.example.com",
    "details":"Example validator located anywhere.",
    "avatar_url":"www.avatar_url.com",
    "created_at":"2020-05-24T19:07:38.222Z",
    "updated_at":"2020-05-24T19:07:38.222Z",
    "admin_warning":"This validator has open RPC ports",
    "jito":true,
    "jito_commission":200,
    "stake_pools_list":["Jito", "Marinade"],
    "is_active":true,
    "is_dz":false,
    "active_stake":100000,
    "authorized_withdrawer_score":0,
    "commission":10,
    "data_center_concentration_score":0,
    "delinquent":false,
    "published_information_score":0,
    "root_distance_score:2,
    "security_report_score":0,
    "skipped_slot_score":2,
    "skipped_after_score":2,
    "software_version":"1.2.3 devbuild",
    "software_version_score":2,
    "stake_concentration_score":0,
    "consensus_mods_score":0,
    "total_score":10,
    "vote_distance_score":2,
    "software_client": "Agave",
    "software_client_id":3,
    "ip": 123.123.123.123,
    "data_center_key":"24940-FI-Helsinki",
    "autonomous_system_number":24940,
    "latitude": "48.8582",
    "longitude": "2.3387",
    "data_center_host":"host-name",
    "vote_account":"123JiW1rwJ4JM5BxYqFkBi6wQJ52pt6qUH88JDqrtU9i",
    "epoch_credits": 263538,
    "epoch":668,
    "skipped_slots":664,
    "skipped_slot_percent":"0.5155",
    "ping_time":"205.703",
    "url":"<%= @api_path %>/validators/testnet/12345j84ecQEKUvQ7gYMKxKwKF6PbYXxXxxXXXXXxXXX.json",
  },
  ...
]
</pre>

<hr />

<h2 class="h4" id="validator-detail">Validator Details</h2>
<p>
  The Validator Details endpoint will return a single validator for the requested network and account. In the example
  below, replace `:network` with either 'testnet', 'mainnet' or 'pythnet' as desired. Replace `:account` with the desired account ID.
</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/validators/:network/:account.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p>
  <strong class="text-muted">`with_history=true`</strong> will return history fields for validator
  (root_distance_history, vote_distance_history, skipped_slot_history, skipped_vote_history,
  skipped_slot_moving_average_history, stake_concentration and software_version).
</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/validators/:network/:account.json?with_history=true'</pre>

<h3 class="h6">Response:</h3>
<pre>
{
  "network":"testnet",
  "account":"12345j84ecQEKUvQ7gYMKxKwKF6PbYXxXxxXXXXXxXXX",
  "name":"Example Name",
  "keybase_id":null,
  "www_url":"https://www.example.com",
  "details":"Example validator located anywhere.",
  "avatar_url":"www.avatar_url.com",
  "created_at":"2020-05-24T19:07:38.222Z",
  "updated_at":"2020-05-24T19:07:38.222Z",
  "admin_warning":"This validator has open RPC ports",
  "jito":true,
  "jito_commission":200,
  "stake_pools_list":["Jito", "Marinade"],
  "is_active":true,
  "is_dz":false,
  "active_stake":100000,
  "authorized_withdrawer_score":0,
  "commission":10,
  "data_center_concentration_score":0,
  "delinquent":false,
  "published_information_score":0,
  "root_distance_score:2,
  "security_report_score":0,
  "skipped_slot_score":2,
  "skipped_after_score":2,
  "software_version":"1.2.3",
  "software_version_score":2,
  "stake_concentration_score":0,
  "consensus_mods_score":0,
  "total_score":10,
  "vote_distance_score":2,
  "software_client": "Agave",
  "software_client_id":3,
  "ip": 123.123.123.123,
  "data_center_key":"24940-FI-Helsinki",
  "autonomous_system_number":24940,
  "latitude": "48.8582",
  "longitude": "2.3387",
  "data_center_host":"host-name",
  "vote_account":"123JiW1rwJ4JM5BxYqFkBi6wQJ52pt6qUH88JDqrtU9i",
  "epoch_credits": 263538,
  "epoch":668,
  "skipped_slots":664,
  "skipped_slot_percent":"0.5155",
  "ping_time":"205.703",
  "url":"<%= @api_path %>/validators/testnet/12345j84ecQEKUvQ7gYMKxKwKF6PbYXxXxxXXXXXxXXX.json",
}
</pre>

<hr />

<h2 class="h4" id="validator-block">Validator Block Production History</h2>
<p>
  The Validator Block History endpoint will return a history of block production stats for the requested network
  and account. In the example below, replace `:network` with either 'testnet', 'mainnet' or 'pythnet' as desired. Replace `:account`
  with the desired account ID. You can also include a `limit` parameter to request more or fewer datapoints.
</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/validator-block-history/:network/:account.json?limit=100'</pre>

<h3 class="h6">Response:</h3>
<pre>
[
  {
    "epoch":143,
    "leader_slots":2188,
    "blocks_produced":2036,
    "skipped_slots":152,
    "skipped_slot_percent":"0.0695",
    "created_at":"2021-01-24T17:12:23.098Z",
    "batch_uuid":"015ccead-e713-4412-a1f4-e2365d956809"
  },
  ...
]
</pre>

<hr />

<h2 class="h4" id="epoch-index">Epochs</h2>
<p>The Epochs endpoint will return all epoch data. Replace `:network` with either 'testnet', 'mainnet' or 'pythnet' as desired. </p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/epochs/:network.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`per=NN`</strong> will limit the results to NN entries per page, defaults to 50.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/epochs/:network.json?per=50'</pre>
<p><strong class="text-muted">`page=NN`</strong> will return the results from passed page, defaults to 1.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/epochs/:network.json?per=50&page=1'</pre>

<h3 class="h6">Response:</h3>
<pre>
{
  epochs: [
    {
      "epoch": 472,
      "starting_slot": 203904008,
      "slots_in_epoch": 432000,
      "network": "mainnet",
      "created_at": "2023-07-07T07:44:56.000Z",
      "total_rewards": 181321548661377,
      "total_active_stake": 390383623782551636
    },
    ...
  ],
  epochs_count: 169
}
</pre>

<hr />

<h2 class="h4" id="commission-change-index">Commission Changes</h2>
<p>
  The Commission Changes endpoint will return all the changes in commission for a given period of time.
  Replace `:network` with either 'testnet', 'mainnet' or 'pythnet' as desired.
</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/commission-changes/:network.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p>
  <strong class="text-muted">`date_from=%year-%month-%dayT%hour:%minute:%second`</strong> beginning of a search period,
  defaults to 30 days ago.
</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/commission-changes/:network.json?date_from=2021-07-01T11:02:12'</pre>
<p>
  <strong class="text-muted">`date_to=%year-%month-%dayT%hour:%minute:%second`</strong> end of a search period,
  defaults to now.
</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/commission-changes/:network.json?date_to=2021-07-28T11:02:12'</pre>
<p><strong class="text-muted">`per=NN`</strong> will limit the results to NN entries per page, defaults to 25.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/commission-changes/:network.json?per=50'</pre>
<p><strong class="text-muted">`page=NN`</strong> will return the results from passed page, defaults to 1.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/commission-changes/:network.json?page=2'</pre>
<p>
  <strong class="text-muted">`query=%account-or-key`</strong> returns data only for validators matching by name,
  pubkey or vote account.
</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/commission-changes/:network.json?query=12345j84ecQEKUvQ7gYMKxKwKF6PbYXxXxxXXXXXxXXX'</pre>

<h3 class="h6">Response:</h3>
<pre>
[
  {
    "created_at": "2023-01-31T22:27:13.791Z",
    "commission_before": 100.0,
    "commission_after": 10.0,
    "epoch": 406,
    "network": "mainnet",
    "epoch_completion": 0.05,
    "batch_uuid": "18d35532-7b13-4696-baec-269ac4e0cc9f",
    "account": "12345j84ecQEKUvQ7gYMKxKwKF6PbYXxXxxXXXXXxXXX",
    "name": "Example Name",
    "source_from_rewards": true
  },
  ...
]
</pre>

<hr />

<h2 class="h4" id="stake-pools">Stake Pools</h2>
<p>
  The Stake Pools endpoint will return all the stake pools. Replace `:network` with either 'testnet',
  'mainnet' or 'pythnet' as desired.
</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-pools/:network.json'</pre>

<h3 class="h6">Response:</h3>
<pre>
{ "stake_pools":
  [
    {
      "id": 72,
      "authority": "authority",
      "average_apy": 12,
      "average_lifetime": 22,
      "average_score": 7,
      "average_skipped_slots": 12,
      "average_uptime": 1,
      "average_validators_commission": 2,
      "manager_fee": 0,
      "deposit_fee": 0,
      "withdrawal_fee": 0,
      "name": "TestName",
      "network": "testnet",
      "ticker": 'ticker',
      "validators_count": 0,
      "total_stake": 0,
      "average_stake": 0,
      "delinquent_count": 0
    },
    ...
  ]
}
</pre>

<hr />

<h2 class="h4" id="stake-accounts">Stake Pools Stake Accounts</h2>
<p>
  The Stake Accounts endpoint will return all the stake accounts delegated to stake pools grouped by vote accounts. Replace `:network`
  with either 'testnet', 'mainnet' or 'pythnet' as desired.
</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-accounts/:network.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p>
  <strong class="text-muted">`filter_[account|staker|withdrawer|validator]=`</strong> filters by chosen value.
</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-accounts/:network.json?filter_account=7hTEVqbQmt3UPQQKcavaxzzakt1FWbwVXyE8MZGadhW6'</pre>
<p>
  <strong class="text-muted">`sort_by=[epoch_|withdrawer_|staker_|stake_]`</strong> will sort the results by epoch,
  withdrawer, staker or stake. NOTE: after underscore add `asc` or `desc`, example below.
</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-accounts/:network.json?sort_by=epoch_desc'</pre>
<p><strong class="text-muted">`per=NN`</strong> will limit the results to NN entries per page, defaults to 25.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-accounts/:network.json?per=50'</pre>
<p><strong class="text-muted">`page=NN`</strong> will return the results from passed page, defaults to 1.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-accounts/:network.json?page=1'</pre>

<h3 class="h6">Response:</h3>
<pre>
{
  "stake_accounts": [
    {
      "3X6FsQ8awkcU4iXTF82T4RtnTJx9LTY5D3dHK6zDE1Tp": [
        {
          "created_at": "2021-11-17T15:53:25.266Z",
          "activation_epoch": 232,
          "active_stake": 2000001000000,
          "delegated_stake": 2000001000000,
          "network": "testnet",
          "delegated_vote_account_address": "5HNvXiPTUKPtPxz1Y4cUj9BMDbhupi5Bd6mp7AqJhSGN",
          "id": 16,
          "stake_pubkey": "5eJuknGqijkJJzR3Yt35Kr71WrHqDivEhtSeSm3tTYCy",
          "batch_uuid": "4aac4a2c-3312-4189-9433-d535d1908754",
          "stake_pool_id": 5,
          "staker": "25jjjw9kBPoHtCLEoWu2zx6ZdXEYKPUbZ6zweJ561rbT",
          "withdrawer": "25jjjw9kBPoHtCLEoWu2zx6ZdXEYKPUbZ6zweJ561rbT",
          "pool_name": "Jpool",
          "validator_name": "linap",
          "validator_account": "3X6FsQ8awkcU4iXTF82T4RtnTJx9LTY5D3dHK6zDE1Tp"
        }
      ]
    },
  ...
}
</pre>

<hr />

<h2 class="h4" id="stake-explorer">Stake Explorer</h2>
<p>
  The Explorer Stake Accounts endpoint will return all the stake accounts according to provided criteria. Only mainnet network
  is available for this query.
</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-explorer/mainnet.json'</pre>

<h3 class="h6">Parameter Options (note that at least one of below parameters is required):</h3>

<p><strong class="text-muted">`staker=string`</strong> will output all the stake accounts by staker </p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-explorer/mainnet.json?staker=mpa4abUkjQoAvPzREkh5Mo75hZhPFQ2FSH6w7dWKuQ5'</pre>
<p><strong class="text-muted">`withdrawer=string`</strong> will output all the stake accounts by withdrawer.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-explorer/mainnet.json?withdrawer=4ZJhPQAgUseCsWhKvJLTmmRRUV74fdoTpQLNfKoekbPY'</pre>
<p><strong class="text-muted">`stake_pubkey=string`</strong> will output stake account with the given pubkey.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-explorer/mainnet.json?stake_pubkey=G4R85Eyqrrf5giV3Uino7KjQqMGujJX5wgByvRwQA9En'</pre>
<p><strong class="text-muted">`vote_account=string`</strong> will output stake accounts delegated to a given vote account.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-explorer/mainnet.json?vote_account=6559KMdiUseNSAkRcK9WcFcNTppoj6jWtKVedpMkBYCn'</pre>

<p><strong class="text-muted">`per=NN`</strong> will limit the results to NN entries per page, defaults to 25, max 999</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-explorer/mainnet.json?per=50'</pre>
<p><strong class="text-muted">`page=NN`</strong> will return the results from passed page, defaults to 1.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/stake-explorer/mainnet.json?page=1'</pre>

<h3 class="h6">Response:</h3>
<pre>
{
  "explorer_stake_accounts": [
    {
      "account_balance": 43841611667953,
      "activation_epoch": 368,
      "active_stake": 43840438767889,
      "credits_observed": 170222984,
      "deactivating_stake": null,
      "deactivation_epoch": null,
      "delegated_stake": 43840438767889,
      "delegated_vote_account_address": "6559KMdiUseNSAkRcK9WcFcNTppoj6jWtKVedpMkBYCn",
      "rent_exempt_reserve": 2282880,
      "stake_pubkey": "G4R85Eyqrrf5giV3Uino7KjQqMGujJX5wgByvRwQA9En",
      "stake_type": "Stake",
      "staker": "mpa4abUkjQoAvPzREkh5Mo75hZhPFQ2FSH6w7dWKuQ5",
      "withdrawer": "4ZJhPQAgUseCsWhKvJLTmmRRUV74fdoTpQLNfKoekbPY",
      "network": "mainnet",
      "epoch": 511,
      "created_at": "2023-09-26T10:21:30.044Z",
      "updated_at": "2023-09-26T10:21:30.044Z"
    },
    ...
  ],
  total_count: 100
}
</pre>

<hr />

<h2 class="h4" id="ping-thing">Ping Thing Post</h2>
<p>The Ping Thing Post endpoint allows you to push information about transaction times.</p>

<h3 class="h6">Request:</h3>
<pre>curl -X POST -H "Token: secret-api-token" -H "Content-Type: application/json" -d '{"application": "mango",  "commitment_level": "finalized", "signature": "signature", "success": true, "time": "NN", "transaction_type": "transfer", "slot_sent": "NN", "slot_landed": "NN", "reported_at": "2021-07-01T11:02:12", "priority_fee_percentile": "NN", "priority_fee_micro_lamports": "NN", "pinger_region": "reg"}' <%= @api_path %>/ping-thing/:network.json</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`application: string`</strong> Application type.</p>
<p><strong class="text-muted">`commitment_level: string`</strong> Possible values: 'processed' OR 'confirmed' OR 'finalized'.</p>
<p><strong class="text-muted">`signature: string`</strong> Transaction signature.</p>
<p><strong class="text-muted">`reported_at: %year-%month-%dayT%hour:%minute:%second`</strong> Optional. Transaction creation time.</p>
<p>
  <strong class="text-muted">`success: boolean`</strong> Optional, true or false, default true, if empty success will
  be set to true. Only false value sets `success` field to false.
</p>
<p><strong class="text-muted">`time: NN`</strong> Confirmation time in miliseconds.</p>
<p>
  <strong class="text-muted">`transaction_type: string`</strong> A string to describe the type of transaction,
  e.g. 'transfer', 'defi-swap', 'nft-mint', or anything meaningful to the sender.
</p>
<p><strong class="text-muted">`slot_sent: NN`</strong> Number of slot in which transaction has been started.</p>
<p><strong class="text-muted">`slot_landed: NN`</strong> Number of slot in which transaction has been finished.</p>
<p><strong class="text-muted">`priority_fee_percentile: NN`</strong> Percentile of priority fee. Must be a number between 0 and 100.</p>
<p><strong class="text-muted">`priority_fee_micro_lamports: NN`</strong> Priority fee in micro lamports.</p>
<p><strong class="text-muted">`pinger_region: string`</strong> Region of the pinger as a 2-3 letter symbol. Available regions are: <%= PingThing::PINGER_REGIONS.join(', ') %>.</p>

<h3 class="h6">Response:</h3>
<pre>{"status":"created"}</pre>

<hr />

<h2 class="h4" id="ping-thing-batch">Ping Thing Post Batch</h2>
<p>The Ping Thing Batch endpoint allows you to push multiple transaction informations at once.</p>

<h3 class="h6">Request:</h3>
<pre>curl -X POST -H "Token: secret-api-token" -H "Content-Type: application/json" -d '{"transactions": [{"time": "NN", "signature": "signature", "transaction_type": "transfer", "slot_sent": "NN", "slot_landed": "NN", "reported_at": "2021-07-01T11:02:12", "priority_fee_percentile": "NN", "priority_fee_micro_lamports": "NN", "pinger_region": "reg"}, { ... }, ...]}' <%= @api_path %>/ping-thing-batch/:network.json</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`application: string`</strong> Application type.</p>
<p><strong class="text-muted">`commitment_level: string`</strong> Possible values: 'processed' OR 'confirmed' OR 'finalized'.</p>
<p><strong class="text-muted">`signature: string`</strong> Transaction signature.</p>
<p><strong class="text-muted">`reported_at: %year-%month-%dayT%hour:%minute:%second`</strong> Optional. Transaction creation time.</p>
<p>
  <strong class="text-muted">`success: boolean`</strong> Optional, true or false, default true, if empty success will
  be set to true. Only false value sets `success` field to false.
</p>
<p><strong class="text-muted">`time: NN`</strong> Confirmation time in miliseconds.</p>
<p>
  <strong class="text-muted">`transaction_type: string`</strong> A string to describe the type of transaction,
  e.g. 'transfer', 'defi-swap', 'nft-mint', or anything meaningful to the sender.
</p>
<p><strong class="text-muted">`slot_sent: NN`</strong> Number of slot in which transaction has been started.</p>
<p><strong class="text-muted">`slot_landed: NN`</strong> Number of slot in which transaction has been finished.</p>
<p><strong class="text-muted">`priority_fee_percentile: NN`</strong> Percentile of priority fee.</p>
<p><strong class="text-muted">`priority_fee_micro_lamports: NN`</strong> Priority fee in micro lamports.</p>
<p><strong class="text-muted">`pinger_region: string`</strong> Region of the pinger as a 2-3 letter symbol. Available regions are: <%= PingThing::PINGER_REGIONS.join(', ') %>.</p>

<h3 class="h6">Response:</h3>
<pre>{"status":"created"}</pre>

<hr />

<h2 class="h4" id="ping-thing-list">Ping Thing List</h2>
<p>
  This Ping Thing List endpoint will return a list of pings for the requested network. In the example below,
  replace `:network` with either 'testnet', 'mainnet' or 'pythnet' as desired.
</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/ping-thing/:network.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p>
  <strong class="text-muted">`limit=NN`</strong>
  will limit the results to NN entries, defaults to 120.
</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/ping-thing/:network.json?limit=10'</pre>
<p>
  <strong class="text-muted">`page=NN`</strong>
  will return the results from passed page, defaults to 1. Can be combined with limit param.
</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/ping-thing/:network.json?page=1'</pre>

<h3 class="h6">Response:</h3>
<pre>
[
  {
    "application": "mango",
    "commitment_level": "finalized",
    "created_at": "2022-02-10T13:37:42.097Z",
    "network": "testnet",
    "response_time": 396,
    "signature": "01234567891a3f80dc8a266cd867f766b73d9c80feea36524dfd074068bdef9221e356c192ac6ac71b71404d",
    "success": true,
    "transaction_type": "transfer",
    "slot_sent": 120,
    "slot_landed": 123,
    "reported_at": "2022-02-10T13:31:55.000Z",
    "pinger_region": "nyc",
    "priority_fee_micro_lamports": 1000,
    "priority_fee_percentile": 90,
    "username": "sample_user"
  },
  ...
]
</pre>

<hr />

<h2 class="h4" id="ping-thing-stats">Ping Thing Stats</h2>
<p>
  This Ping Thing Stats endpoint will return a ping thing stats. In the example below,
  replace `:network` with either 'testnet', 'mainnet' or 'pythnet' as desired.
</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/ping-thing-stats/:network.json?interval=1'</pre>

<h3 class="h6">Parameter Options:</h3>
<p>
  <strong class="text-muted">`interval=NN`</strong>
  Possible values: 1, 3, 12, 24. Will return stats with passed interval.
</p>

<h3 class="h6">Response:</h3>
<pre>
[
  {
    "interval"=>1,
    "max"=>120.0,
    "median"=>82.0,
    "min"=>50.0,
    "network"=>"testnet",
    "num_of_records"=>10,
    "time_from"=>"2022-04-21T13:41:00.000Z",
    "average_slot_latency":2,
    "tps": 3567
  },
  ...
]
</pre>

<hr />

<h2 class="h4" id="sol-prices">Sol Prices</h2>
<p>The Sol Prices endpoint will return prices.</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/sol-prices.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`from=%year-%month-%dayT%hour:%minute:%second`</strong> will return results starting from a given time, defaults to 30 days ago. </p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/sol-prices.json?from=2022-01-01T00:00:00'</pre>
<p><strong class="text-muted">`to=%year-%month-%dayT%hour:%minute:%second`</strong> will return results until a given time, defaults to today. </p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/sol-prices.json?to=2022-01-01T00:00:00'</pre>

<h3 class="h6">Response:</h3>
<pre>
[
  {
    "id": 631,
    "currency": "usd",
    "epoch_mainnet": null,
    "epoch_testnet": null,
    "volume": "1380634374.482357",
    "datetime_from_exchange": "2022-01-01T00:00:00.000Z",
    "created_at": "2022-03-08T07:33:01.426Z",
    "updated_at": "2022-03-08T07:33:01.426Z",
    "average_price": "170.1966082645718"
  },
  ...
]
</pre>

<hr />

<h2 class="h4" id="gossip-nodes">Gossip Nodes</h2>
<p>Gossip Nodes endpoint will return all nodes visible in Gossip, including RPC nodes, with basic information & geo coordinates for mapping.</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/gossip-nodes/:network.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`staked=(true | false)`</strong> will limit the results only to staked / unstaked nodes. Omit this parameter for all nodes.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/gossip-nodes/:network.json?staked=true'</pre>
<p><strong class="text-muted">`per=NN`</strong> will limit the results to NN entries per page, defaults to 100.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/gossip-nodes/:network.json?per=50'</pre>
<p><strong class="text-muted">`page=NN`</strong> will return the results from provided page, defaults to 1.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/gossip-nodes/:network.json?per=50&page=1'</pre>

<h3 class="h6">Response:</h3>
<pre>
[
  {
    "account": "DDnAqxJVFo2GVTujibHt5cjevHMSE9bo8HJaydHoshdp",
    "ip": "74.118.139.6",
    "network": "mainnet",
    "staked": true,
    "software_version": "1.10.35",
    "created_at": "2022-08-22T06:47:57.008Z",
    "updated_at": "2022-08-24T12:04:21.546Z",
    "avatar_url": "https://s3.amazonaws.com/keybase_processed_uploads/3af995d21a8fe4cec4d6e83104f87205_360_360.jpg",
    "details": "Experienced validator located in Boulder, CO. Creator/Maintainer of www.validators.app",
    "keybase_id": "brianlong",
    "name": "Block Logic | BL",
    "www_url": "https://www.blocklogic.net",
    "admin_warning": null,
    "country_name": "Netherlands",
    "data_center_key": "20326-NL-Amsterdam",
    "latitude": "52.3716",
    "longitude": "4.8883"
  },
  ...
]

</pre>

<hr />

<h2 class="h4" id="account-authorities">Authorities Changes</h2>
<p>Authorities Changes endpoint will return changes in authorities for validators in a given network.</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/account-authorities/:network.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`validator=identity`</strong> will return results only for a given validator.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/account-authorities/:network.json?validator=:identity'</pre>
<p><strong class="text-muted">`vote_account=account`</strong> will return results only for a given vote account.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/account-authorities/:network.json?vote_account=:account'</pre>
<p><strong class="text-muted">`per=NN`</strong> will limit the results to NN entries per page, defaults to 100.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/account-authorities/:network.json?per=50'</pre>
<p><strong class="text-muted">`page=NN`</strong> will return the results from provided page, defaults to 1.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/account-authorities/:network.json?per=50&page=1'</pre>

<h3 class="h6">Response:</h3>
<pre>
[
  {
    "authority_changes": {
      "authorized_withdrawer_before": null,
      "authorized_withdrawer_after": "4hEF3wqsyr1NxXf2SYec3Qs8yk24vWsT7o7Cw7HsTLej",
      "authorized_voters_before": null,
      "authorized_voters_after": {
        "432": "DDnAqxJVFo2GVTujibHt5cjevHMSE9bo8HJaydHoshdp"
      },
      "network": "mainnet",
      "created_at": "2023-04-05T11:24:51.593Z",
      "vote_account_address": "9GJmEHGom9eWo4np4L5vC6b6ri1Df2xN8KFoWixvD1Bs"
    },
    "total_count": 100
  }
]

</pre>

<hr />

<h2 class="h4" id="last-blocks">Last Blocks</h2>
<p>Last Blocks endpoint will return the last blocks for a given network.</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/last-blocks/:network.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`limit=NN`</strong> will limit the results to NN entries, defaults to 100.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/last-blocks/:network.json?limit=10'</pre>

<h3 class="h6">Response:</h3>
<pre>
[
  {
    "block_time": 1740480207,
    "blockhash": "DYrEknEkgEvKC1nRaT2cyGVFDhszHn51F88zf6NmBJfs",
    "epoch": 747,
    "height": 301248247,
    "parent_slot": 322981103,
    "slot_number": 322981104
  },
  ...
]
</pre>

<hr />

<h2 class="h4" id="block-votes">Block Votes</a></h2>
<p>Block Votes endpoint will return votes for a given block.</p>

<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/block-votes/:network/:block_hash.json'</pre>

<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`limit=NN`</strong> will limit the results to NN entries, defaults to 100.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/block-votes/:network/:block_hash.json?limit=10'</pre>
<p><strong class="text-muted">`page=NN`</strong> will return the results from provided page, defaults to 1.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/block-votes/:network/:block_hash.json?limit=50&page=1'</pre>

<h3 class="h6">Response:</h3>
<pre>
{
  "block_time": 1740480207,
  "blockhash": "DN8iqbSo1BLxJBSRZSyTE1DjeA1GpJowmmQk4WPCJnLF",
  "epoch": 747,
  "height": 301248246,
  "parent_slot": 322981102,
  "slot_number": 322981103,
  "transactions": [
    {
      "slot_number": 322981103,
      "fee": 5000,
      "account_key_1": "ATd7yhK41qadD5V9eiq7UXQtRf5pidaR6fyKbYtKkbvz",
      "account_key_2": "8oGhRavfRf13fBdp257nitq8VVgXhRAZxR9fR5Q4oKhH",
      "account_key_3": "Vote111111111111111111111111111111111111111",
      "epoch": 747,
      "pre_balances": [
        11486323078,
        7530954819,
        1
      ],
      "post_balances": [
        11486318078,
        7530954819,
        1
      ]
    },
    ...
  ]
}
</pre>

<hr />

<h2 class="h4" id="policies-index">Yellowstone Shield Policies</h2>
<p>
  The Yellowstone Shield Policies endpoint returns a list of all available policies. In the example below, replace `:network` with either 'testnet', 'mainnet' or 'pythnet' as desired.
</p>
<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/policies/:network.json'</pre>
<h3 class="h6">Parameter Options:</h3>
<p><strong class="text-muted">`query=string`</strong> Optional. Filter policies by name, pubkey, or validator identity.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/policies/:network.json?query=9M69sfTJHjTDY62crfDTWrezoTWvSxg1jdeLXSufZHty'</pre>
<p><strong class="text-muted">`page=NN`</strong> will return the results from passed page, defaults to 1. Can be combined with limit param.</p>
<p><strong class="text-muted">`limit=NN`</strong> will limit the results to NN entries, defaults to 25.</p>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/policies.json?page=2&limit=25'</pre>
<h3 class="h6">Response:</h3>
<p>An array of policy objects.</p>
<pre>
{
  "policies": [
    {
      "pubkey": "9M69sfTJHjTDY62crfDTWrezoTWvSxg1jdeLXSufZHty",
      "owner": "b1ockYL7X6sGtJzueDbxRVBEEPN4YeqoLW276R3MX8W",
      "strategy": "Allow",
      "executable": false,
      "network": "mainnet",
      "url": "https://gateway.irys.xyz/CdxWAuxk483JsqJdbE8cSKkZEMTJ1EKpDsUWmqGTaFu8",
      "mint": "Dj5iQS3Ms4TSheDZaLTcNNSmayNmeJe26athqiKTUeh3",
      "name": "Top 25 Validators by Stake",
      "symbol": "TV25",
      "description":"A Yellowstone Shield policy of the top 25 validators by stake.",
      "image":"https://gateway.irys.xyz/Hhdy76nXVpNBCg1pVLtpctaZXbpnSufWggbyiMFUoCTh",
      "additional_metadata":[],
      "identities_count": 25
    },
    ...
  ],
  "total_count": 25
}

</pre>

<hr />

<h2 class="h4" id="policies-show">Yellowstone Shield Policy Details</h2>
<p>
  The Yellowstone Shield Policy Details endpoint returns detailed information for a single policy by its pubkey.
</p>
<h3 class="h6">Request:</h3>
<pre>curl -H "Token: secret-api-token" '<%= @api_path %>/policies/:network/:pubkey.json'</pre>
<p>Replace <code>:pubkey</code> with the policy's public key.</p>
<h3 class="h6">Response:</h3>
<pre>
{
  "pubkey": "9M69sfTJHjTDY62crfDTWrezoTWvSxg1jdeLXSufZHty",
  "owner": "b1ockYL7X6sGtJzueDbxRVBEEPN4YeqoLW276R3MX8W",
  "strategy": "Allow",
  "network": "mainnet",
  "url": "https://gateway.irys.xyz/CdxWAuxk483JsqJdbE8cSKkZEMTJ1EKpDsUWmqGTaFu8",
  "mint": "Dj5iQS3Ms4TSheDZaLTcNNSmayNmeJe26athqiKTUeh3",
  "name": "Top 25 Validators by Stake",
  "description": "A Yellowstone Shield policy of the top 25 validators by stake.",
  "image":"https://gateway.irys.xyz/Hhdy76nXVpNBCg1pVLtpctaZXbpnSufWggbyiMFUoCTh",
  "additional_metadata": [],
  "identities_count": 25,
  "validators": [
    "HEL1USMZKAL2odpNBj2oCjffnFGaYwmbGmyewGv1e2TU",
    ...
  ],
  total_validators: 25,
  "other_identities": [
    "DRpbCBMxVnDK7maPM5tGv6MvB3v1sRMC86PZ8okm21hy",
    ...
  ]
}
</pre>

<hr />

<h2 class="h4" id="error-codes">Error Codes:</h2>
<dl class="row">
  <dt class="col-2 col-sm-1">400</dt>
  <dd class="col-10 col-sm-11">Parameter Missing</dd>
  <dt class="col-2 col-sm-1">401</dt>
  <dd class="col-10 col-sm-11">Unauthorized</dd>
  <dt class="col-2 col-sm-1">404</dt>
  <dd class="col-10 col-sm-11">Record Not Found</dd>
  <dt class="col-2 col-sm-1">429</dt>
  <dd class="col-10 col-sm-11">Too Many Requests</dd>
  <dt class="col-2 col-sm-1">500</dt>
  <dd class="col-10 col-sm-11">Server Error (Admin has been notified)</dd>
</dl>

<hr />

<h2 class="h4" id="limits">Requests Limits:</h2>
<p>
  Requests limit to our API is <%= @high_limit %> or <%= @low_limit %> requests per <%= @reset_period %> minutes, depending
  on the endpoint. Higher limit is available for data that changes more often: <a href="#ping-thing-list">Ping Thing</a>,
  <a href="#ping-thing-stats">Ping Thing Stats</a> and <a href="#commission-change-index">Commission Changes</a> endpoints.
</p>
<p>
  After exceeding the limit, your will get <strong>429 Too Many Requests</strong> error.
</p>
Limits are automatically reset after <%= @reset_period %> minutes. See RateLimit-Reset header to check how much time is
left (in seconds) until the limit resets.

<hr />

<h2 class="h4" id="notes">NOTES:</h2>
<p>Active stake is shown in Lamports.</p>
<p>Commision is shown in percent. e.g. 10&percnt;.</p>
<p>
  Our database uses null values when there is no data. You should expect to see `null` as a possible return value
  for any attribute. If an attribute is missing from the output, then you can also assume the value is null.
</p>
<p>
  Besides JSON format, our API provides CSV format as well. For this case please change .json suffix into .csv
  in url when making up a request call. E.g: '<%= @api_path %>/ping.csv'.
</p>
<p class="text-muted">Version 1 of this API is still in development. Check back here to see updates!</p>
