<!-- Vue templates -->
<%= javascript_pack_tag 'commission_histories/index' %>

<section class="page-header">
  <h1>Commission Changes</h1>
  <% if @validator %>
    <h4 class="word-break"><%= @validator.name || @validator.account %></h4>
  <% end %>
  <p>
    Be careful if you see that a validator raises commission to 100% just before the end of an epoch (to get 100%
    of the rewards), and then lowers it again just after the new epoch. See our
    <%= link_to 'FAQ page', faq_path(anchor: 'choosing-validator') %> to learn more.
  </p>
  <p>
    <%= link_to "Sign up", new_user_registration_path %> for e-mail notifications about commission changes.
  </p>
</section>

<% if @validator %>
  <div
    id='commission-histories-index-vue'
    query=<%= @validator.account%>
    network=<%= params[:network] %>
  >
  </div>
  <%= link_to 'Back to Validator Details',
              validator_url(network: params[:network], account: @validator.account),
              class: 'btn btn-sm btn-secondary' %>
<% else %>
  <div
    id='commission-histories-index-vue'
    network=<%= params[:network] %>
  >
  </div>
  <%= link_to 'Back to All Validators',
              validators_path(network: params[:network]),
              class: 'btn btn-sm btn-secondary' %>
<% end %>
