<div class="page-header">
  <h1>Commission Changes</h1>
  <% if @validator %>
    <h4 class="word-break"><%= @validator.name || @validator.account %></h4>
  <% end %>
  <div class="text-danger">This feature is work-in-progress. Please use the chat widget below to notify us of problems.</div>
</div>

<div class="card mb-4">
  <div class="table-responsive-lg">
    <table class='table mb-0'>
      <thead>
        <tr>
          <% unless @validator %>
            <th>Validator</th>
          <% end %>
          <th class="narrow-column">
            Epoch<br />
            <small>(completion %)</small>
          </th>
          <th class="wider-column">Batch</th>
          <th class="wider-column text-center">Before<i class="fas fa-long-arrow-alt-right px-2"></i>After</th>
          <th class="narrow-column">Timestamp</th>
        </tr>
      </thead>

      <tbody>
        <% @commission_histories.each do |ch| %>
          <tr>
            <% unless @validator %>
              <td>
                <%= link_to validator_path(network: params[:network], account: ch.validator.account) do %>
                  <%= validator_display_name(ch.validator) %>
                <% end %>
              </td>
            <% end %>
            <td>
              <%= ch.epoch %>
              <small>(<%= number_to_percentage(ch.epoch_completion, precision: 2) %>)</small>
            </td>
            <td><%= ch.batch_uuid %></td>
            <td class="text-center">
              <%= number_to_percentage(ch.commission_before, precision: 0) %><i class="fas fa-long-arrow-alt-right px-2"></i><%= number_to_percentage(ch.commission_after, precision: 0) %>
              <%= render 'public/commission_changed_indicator',
                         before: ch.commission_before,
                         after: ch.commission_after %>
            </td>
            <td class="narrow-column"><%= ch.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pt-2 px-3">
      <%= paginate @commission_histories %>
    </div>
  </div>
</div>

<% if @validator %>
  <%= link_to 'Back to Validator page',
              validator_url(network: params[:network], account: @validator.account),
              class: 'btn btn-sm btn-secondary' %>
<% else %>
  <%= link_to 'Back to List of Validators',
              validators_path(network: params[:network]),
              class: 'btn btn-sm btn-secondary' %>
<% end %>
