<h1 class="page-header"><%= t('public.contact_us.title') %></h1>

<h2 class="h5">By US Mail:</h2>
<p class="lead mb-4">
  <%= FMA_LLC.capitalize %><br />
  <%= OUR_STREET_ADDRESS %><br />
  <%= OUR_CITY_STATE_ZIP %>
</p>

<h2 class="h5">By Phone:</h2>
<p class="lead mb-4"><%= OUR_TELEPHONE %></p>

<h2 class="h5">Social Media:</h2>
<p class="lead">
  See validator-dashboards channel on <%= link_to 'Solana Tech Discord', 'https://discord.com/invite/solana', target: '_blank' %>
  or <%= link_to 'Brian Long on X', 'https://x.com/brianlong', target: '_blank' %>.
</p>
<p class="lead">
  Check out also our <%= link_to 'FAQ page', faq_path %> - answers to your questions might be
  already there!
</p>
