<h1 class="page-header"><%= t('public.contact_us.title') %></h1>

<h2 class="h5">By US Mail:</h2>
<p class="lead mb-4">
  <%= FMA_LLC %><br />
  <%= OUR_STREET_ADDRESS %><br />
  <%= OUR_CITY_STATE_ZIP %>
</p>

<h2 class="h5">By Phone:</h2>
<p class="lead mb-4"><%= OUR_TELEPHONE %></p>

<h2 class="h5">By Chat:</h2>
<p class="lead">Please use the chat tool in the lower right corner for all other communications.</p>
<p class="lead">
  Check out also our <%= link_to 'FAQ page', faq_path %> - answers to your questions might be
  already there!
</p>
