<h1><%= t('public.contact_us.title') %></h1>

<div class="row">
  <div class="col-md-12 pl-md-12">
    <h4>By US Mail:</h4>
    <p class="lead mb-4">
      <%= FMA_LLC.capitalize %><br />
      <%= OUR_STREET_ADDRESS %><br />
      <%= OUR_CITY_STATE_ZIP %>
    </p>
    <h4>By Phone:</h4>
    <p class="lead mb-4"><%= OUR_TELEPHONE %></p>
    <h4>By Chat:</h4>
    <p class="lead">Please use the chat tool in the lower right corner for all other communications.</p>
  </div>
</div>
