<h1>Cookie Policy</h1>
<p>This website is owned and operated by <%= FMA_LLC %>. As stated in our <%= link_to 'Privacy Policy', privacy_policy_path %>, We believe in the values of privacy and transparency. To that end, we’ve created this Cookie Policy as a clear reference guide to the use of cookies on our sites. This Cookie Polucy explains how we use cookies (and other locally stored data technologies), how we use third-party cookies, and how you can manage your cookie options. For more information on our privacy practices, please visit our <%= link_to 'Privacy Policy', privacy_policy_path %>.</p>
<p><%= FMA_LLC %>, the organization that hosts this site, actively collects some types of information with a variety of commonly-used technologies. These generally include tracking pixels, JavaScript, and a variety of "locally stored data" technologies, such as cookies and local storage.</p>
<hr />
<h3>What is a cookie?</h3>
<p>A “cookie” is a tiny data file that we transfer onto your computer, mobile phone, or any other device that you use to access the <%= FMA_LLC %> sites, and is generally used for authentication and tracking. Every cookie expires after a certain period of time, but that period varies depending on what the cookie is used for and how your browser is configured.</p>
<p>Cookies are often categorized based on how long they remain active before they expire. A “session” cookie is one that generally expires when you close your web browser or mobile application. A “persistent” cookie is one that remains in your device, even after you close your browser or mobile application.  A persistent cookie expires according to the duration set by us, or when you delete it manually. You can learn more about <%= link_to 'cookies on Wikipedia.', 'https://en.wikipedia.org/wiki/HTTP_cookie', target: '_blank' %>.</p>
<p>You may remove or disable cookies through your browser settings. For more information on how to manage your cookie options, please see 'What are my Cookie Options?' of this Cookie Policy below.</p>
<p>For more information on this and other key terms that may be relevant, please read through our <%#= link_to 'Glossary', glossary_path %>.</p>
<hr />
<h3>What types of cookies does this site use and for what purposes?</h3>
<p>Cookies are not required in order to read or edit the this site. We use the information we receive from cookies and other locally-stored data technologies to make your experience with the sites safer and better, to gain a greater understanding of user preferences and interactions with this site, and to generally improve our services. Cookies are required in order to edit and manage your privacy requests. Cookies are also required in order to login and for your edits to be associated to an optional user account; without cookies, your edits will be anonymous and unassociated with an account.</p>
<p>We use cookies, JavaScript, tracking pixels, and other locally-stored data technologies to accomplish different purposes. Below is a list of the categories of cookies we use and what they are used for.</p>
<h4>Functionality</h4>
<p>These cookies help the site work and are essential in order to enable you to move around the site and use its features. These cookies are useful for remembering your username in the login field, maintaining your session and remembering previous actions, keeping you logged in (if selected), and more.</p>
<h4>Preferences</h4>
<p>These cookies store your preferences, so that they can be remembered the next time you use the site, for a more customized experience.  These cookies are useful for recognizing and maintaining your language preference, remembering changes you have made to text size, fonts and other display preferences, so we can provide you with the look and feel that you want, and more.</p>
<h4>Performance and Analysis</h4>
<p>These cookies count the number of visitors and collect information about how you use the site. This allows us to better understand your user experience on the site and helps us improve them for you and other users — for instance, by making sure users are finding what they need easily. Other examples include:</p>
<ul>
  <li>remembering pages visited, and actions taken on the site so we can optimize the pages;</li>
  <li>remembering if users get error messages from web pages;</li>
  <li>storing your most recently read pages directly on your device, so they can be retrieved quickly;</li>
  <li>remembering the topics searched so that we can optimize the search results we deliver to you;</li>
</ul>
<h4>Third-Party</h4>
<p>We will never use third-party cookies on our pages unless we get your permission to do so. These cookies would allow us to render services provided by third parties, such as “like” and “share” buttons. When a third party provides these kinds of services, they may require the use of a cookie in order to provide their services.</p>
<p>If you ever come across a third-party cookie transferred to your device during your access of this site, where you did not take any action to authorize the use and/or transfer of that cookie  (such as one that may have been mistakenly placed by another user or administrator), please report that cookie to us on our <%#= link_to 'Contact Us', contact_us_path %> page.</p>
<hr />
<h3>What are my cookie options?</h3>
<p>While this is not a comprehensive list, below are some of the things that you can do to limit use of cookies and other locally-stored data technologies on your device. While cookies and other locally-stored data technologies may not be necessary to use our sites, some features may not function properly if you disable them.</p>
<p>You can:</p>
<ul>
  <li>remove or disable specific locally-stored data on your browser’s settings (you can reset your web browser to refuse all cookies or to indicate when a cookie is being sent);</li>
  <li>use a browser that can block third-party cookies; or</li>
  <li>install a plug-in to block locally-stored data, if one is available.</li>
</ul>
<p>Turning off the browser’s cookies will prevent tracking pixels from tracking your specific activity. A tracking pixel may still record an anonymous visit from your IP address, but unique information will not be recorded. If you do not want to receive tracking pixels, you will need to disable HTML images in your browser-based email client, and that may affect your ability to view images in other emails that you receive.</p>
<hr />
<h3>Where can I find more information?</h3>
<p>Please read through our <%#= link_to 'Glossary', glossary_path %> and <%= link_to 'Privacy Policy', privacy_policy_path %> for more information. If you have any further questions, please <%#= link_to 'Contact Us', contact_us_path %>.</p>
<p>Thanks!</p>
<hr />
<p>The text for this Cookie Policy is available under the <%= link_to 'Creative Commons Attribution-ShareAlike License', 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License', target: '_blank' %>; additional terms may apply. This text has been adapted from the <%= link_to 'Wikipedia Cookie Statement', 'https://foundation.wikimedia.org/wiki/Cookie_statement', target: '_blank' %>.</p>
