<section class="page-header">
  <h1>Getting Started</h1>

  <p class="lead">
    We did our best to include on this page all the&nbsp;necessary information to get you started with staking on Solana.
    If you have any more questions or think there should be any additional info here please keep in mind that
    you can use our chat in the&nbsp;bottom right corner.
  </p>
</section>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="card-heading"><i class="fa-solid fa-sliders me-1"></i> Basics</h2>
        <ul class="list-large list-no-bullets text-center">
          <li><a href="#staking">What is staking</a></li>
          <li><a href="#timeline">Staking timeline</a></li>
          <li><a href="#choosing-validator">Choosing the&nbsp;right validator</li>
          <li><a href="#data-centers">Data Centers</a></li>
          <li><a href="#score">How Does the&nbsp;Validator Score V1 Work?</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="card-heading">
          <%= image_tag 'solana_logo_white.png', height: '22', class: 'me-1' %> FAQ - validators</h2>
        <ul class="list-large list-no-bullets text-center">
          <li><a href="#new-validator">How to become a&nbsp;validator?</a></li>
          <li><a href="#personal-data">How is my Personal Data protected?</a></li>
          <li><a href="#private-validator">Why is my validator marked "private"?</a></li>
          <li><a href="#withdraw-authority-warning">Why do I see <span class="text-warning">withdrawer</span> warning next to my validator?</a></li>
          <li><a href="#admin-warning">Why do I see <span class="text-danger">admin warning</span> next to my validator?</a></li>
          <li><a href="#avatar">How can I change my avatar (validator logo)?</a></li>
          <li><a href="#validator-not-visible">Why can't I see my validator on main page?</a></li>
          <li><a href="#old-software-version">Why do I see old software version of my node?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="card-heading"><i class="fa-solid fa-spell-check me-1"></i> Dictionary</h2>
        <ul class="list-large list-no-bullets text-center">
          <li><a href="#commission">Commission</a></li>
          <li><a href="#epoch">Epoch</a></li>
          <li><a href="#root-distance">Root Distance</a></li>
          <li><a href="#vote-distance">Vote Distance</a></li>
          <li><a href="#skipped-vote">Skipped Slot &percnt;</a></li>
          <li><a href="#delinquency">Delinquency</a></li>
          <li><a href="#stake-concentration">Stake Concentration</a></li>
          <li><a href="#stake-pool">Stake Pool</a></li>
          <li><a href="#roi">Gross ROI</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="card-heading">
          <i class="fa-solid fa-dollar-sign me-1"></i> FAQ - investors</h2>
        <ul class="list-large list-no-bullets text-center">
          <li><a href="#investing">How do I start investing?</a></li>
          <li><a href="#best-validator">How to find the&nbsp;best validator?</a></li>
          <li><a href="#change-validator">How often can I change the&nbsp;validator?</a></li>
          <li><a href="#staking-rewards">How often are the&nbsp;staking rewards paid out?</a></li>
          <li><a href="#apy">Where can I find the&nbsp;APY?</a></li>
          <li><a href="#fav">Can I add a validator to my favourites?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr />

<h2 class="mb-5">Basics</h2>

<h3 class="h5" id="staking">What is staking</h3>
<div class="mb-5">
  <p>
    <strong>Staking</strong> is the&nbsp;process of delegating your SOL tokens to one or more validators, who process
    transactions and keep the&nbsp;network secure. Validators earn rewards for their services and delegators then get
    a&nbsp;proportional amount of the&nbsp;rewards less the&nbsp;validator's <a href="#commission">commission</a>.
  </p>
  <p>
    In order to delegate your SOL tokens, you need to&nbsp;create a&nbsp;separate stake account and choose
    a&nbsp;validator to delegate&nbsp;to. You can do it either from <a href="https://docs.solana.com/cli">command line interface</a>
    or by using one of the&nbsp;<a href="https://docs.solana.com/wallet-guide">supported wallets</a>.
  </p>
</div>

<h3 class="h5" id="timeline">Staking timeline</h3>
<div class="mb-5">
  <p>
    After you delegate your SOL tokens, you need to&nbsp;wait until the&nbsp;next <a href="#epoch">epoch</a> for
    the&nbsp;changes to take effect. Throughout the&nbsp;epoch validator is voting and generates new transactions
    according to the&nbsp;leader schedule and only after one entire epoch ends, the&nbsp;reward is added to your staking
    pool and is automatically delegated to the&nbsp;same validator.
  </p>
  <p>
    Please note that during the&nbsp;pending epoch your tokens cannot be withdrawn.
  </p>
  <p>
    If you wish to undelegate your tokens from the&nbsp;validator, you need to wait untill the&nbsp;end of the&nbsp;epoch.
    In this case your last reward will be added to your stake account and will no longer be delegated.
  </p>
</div>

<h3 class="h5" id="choosing-validator">Choosing the&nbsp;right validator</h3>
<div class="mb-5">
  <p>
    There are a&nbsp;couple of things to consider while choosing the&nbsp;right validator to delegate your
    stake&nbsp;to. In order to be able to vote properly and create new transactions it needs to have constant high
    speed network access and good overall performance. Another important thing is the&nbsp;<a href="#commission">commission</a>
    validator takes to cover it's costs - the&nbsp;less the&nbsp;better. You should also check if validator is credible
    and operates in a&nbsp;transparent manner.
  </p>
  <p>
    <strong>Performance</strong> - we're gathering some statistical data to&nbsp;determine how well the&nbsp;validator operates
    within solana network. <a href="#root-distance">Root block distance</a> and <a href="#vote-distance">vote distance</a>
    show how far behind it is from the&nbsp;top of the&nbsp;blockchain while <a href="#skipped-vote">the&nbsp;skipped slot &percnt;</a>
    measures the&nbsp;percent of the&nbsp;time that a&nbsp;leader fails to produce a&nbsp;block during their
    allocated slots.
  </p>
  <p>
    <strong>Commission</strong> - the&nbsp;important thing to&nbsp;notice here is that commissions can be changed in any
    moment, so it's crucial to&nbsp;check for particular validators
    <%= link_to "commission change history", commission_histories_path(network: params[:network]) %> and see if
    there's no malicious behaviour there. Some of the&nbsp;validators are offering 0% commission as an&nbsp;introductory
    offer. It's a&nbsp;good idea to contact them to see when the&nbsp;offer expires and the&nbsp;new rate
    at that time.
    <br />
    We can help you track commission changes of the validators.
    To get email notifications, <%= link_to 'create an account', new_user_registration_path %> and add the validator
    to your favourites.
  </p>
  <p>
    <strong>Reliability</strong> - if the&nbsp;validator has all the&nbsp;information filled up, has its own website and
    no malicious behaviour in the&nbsp;past is detected it is more likely that it cares about reliability and thus is
    more trustworthy.
  </p>
</div>

<h3 class="h5" id="data-centers">Data Centers</h3>
<p class="mb-5">
  For the&nbsp;security reasons it is recommended that the&nbsp;validators in solana cluster are spread among as many
  locations as possible. It reduces the&nbsp;possibility of network collapse in case of a&nbsp;data center breakage.
  On our <%= link_to "data centers", data_centers_url(network: params[:network])%> page you can examine the&nbsp;validators
  distribution between data centers and organisations Autonomous System Numbers (ASN).
</p>

<h3 class="h5" id="score">How Does the&nbsp;Validator Score V1 Work?</h3>
<div class="mb-5">
  <p>
    We track validator performance over several dimensions and assign a&nbsp;score in the&nbsp;range of (0..2) for each.
    the&nbsp;scores also correlate with colored icons: <i class="fa-solid fa-circle score-2"></i> is excellent,
    <i class="fa-solid fa-circle score-1"></i> is OK, and <i class="fa-solid fa-circle score-0"></i> means there is room for
    improvement. The&nbsp;scored dimensions are:
  </p>

  <ol class="list-with-numbers">
    <li>
      <strong>Root Block Distance</strong> <br />
      <i class="fa-solid fa-circle score-2 me-1"></i> (2 points) means that the&nbsp;validator median block distance is at,
      or below, the&nbsp;cluster median.<br />
      <i class="fa-solid fa-circle score-1 me-1"></i> (1 point) means that the&nbsp;validator average block distance is at,
      or below, the&nbsp;cluster average.<br />
      <i class="fa-solid fa-circle score-0 me-1"></i> (0 points) means that the&nbsp;validator average is higher than
      the&nbsp;cluster average.<br />
      The&nbsp;medians and averages are calculated over a&nbsp;trailing 2-day period and do not reset with each epoch.
    </li>
    <li>
      <strong>Vote Distance</strong> the&nbsp;scoring rules are the&nbsp;same as Root Block Distance above.
    </li>
    <li>
      <strong>Skipped Slot &percnt;</strong> <br />
      For this metric, we track a&nbsp;trailing 24-hour moving average of the&nbsp;skip rate. The&nbsp;moving average (MA) is
      then compared to the&nbsp;cluster median(MA) and cluster average(MA). On the&nbsp;charts, a&nbsp;dotted line shows
      the&nbsp;spot reading that resets with every epoch. The&nbsp;solid line shows the&nbsp;24-hour moving average.<br />
      <i class="fa-solid fa-circle score-2 me-1"></i> (2 points) means that the&nbsp;validator skipped slot &percnt; is at, or below,
      the&nbsp;cluster median.<br />
      <i class="fa-solid fa-circle score-1 me-1"></i> (1 point) means that the&nbsp;skipped slot &percnt; is at, or below,
      the&nbsp;cluster average.<br />
      <i class="fa-solid fa-circle score-0 me-1"></i> (0 points) means that the&nbsp;validator average is higher than
      the&nbsp;cluster average.<br />
      The&nbsp;moving averages reflect the&nbsp;previous 24-hours, and the&nbsp;spot reading resets with each new epoch.
    </li>
    <li>
      <strong>Published Information</strong><br />
      Investors or delegators want to know who is running a&nbsp;node. The&nbsp;Published Information Score measures
      the&nbsp;contact information that the&nbsp;validator has posted to the&nbsp;blockchain using the
      `solana validator-info` feature.<br />
      <i class="fa-solid fa-circle score-2 me-1"></i> (2 points) means that the&nbsp;validator has published all four data
      elements (Name, Keybase ID, Website URL, and Details).<br />
      <i class="fa-solid fa-circle score-1 me-1"></i> (1 point) means that the&nbsp;validator has published two or three parts.<br />
      <i class="fa-solid fa-circle score-0 me-1"></i> (0 points) means that the&nbsp;validator has published only one, or zero,
      pieces of contact data.
    </li>
    <li>
      <strong>Software Version</strong><br />
      This score is based on the&nbsp;Solana software version currently in use on this node.<br />
      <i class="fa-solid fa-circle score-2 me-1"></i> (2 points) means that the&nbsp;validator is using the&nbsp;correct major,
      minor, & patch versions.<br />
      <i class="fa-solid fa-circle score-1 me-1"></i> (1 point) means that the&nbsp;validator is using the&nbsp;correct major,
      & minor versions (but not patch).<br />
      <i class="fa-solid fa-circle score-0 me-1"></i> (0 points) means that the&nbsp;validator is only using the&nbsp;current
      major version (or less).<br />
      This score is updated as soon as the&nbsp;validator starts voting with a&nbsp;new software update.
    </li>
    <li>
      <strong>Bonus Point</strong><br />
      Security and operations are a&nbsp;critical component of a&nbsp;well-run validator. I am assigning one (1) point
      when a&nbsp;validator has provided me with a&nbsp;URL to their web page related to security policies. Please
      be aware that I am not evaluating the&nbsp;content on that web page. I will merely confirm that the&nbsp;web page
      discusses security or operating procedures before posting the&nbsp;link to this site. Validators that use mods
      with an&nbsp;unproven effect on consensus are always assigned with bonus point 0.<br />
      <i class="fa-solid fa-circle score-1 me-1"></i> (1 point) means that the&nbsp;validator has provided a&nbsp;valid URL.<br />
      <i class="fa-solid fa-circle score-0 me-1"></i> (0 points) means that the&nbsp;validator has not published a&nbsp;description
      of their security policies, or validator uses software modifications.<br />
      Validators, please directly <%= link_to 'contact Brian Long', contact_us_path %> to provide the&nbsp;URL.
    </li>
    <li>
      <strong>Stake Concentration</strong> is a&nbsp;contra-score and will DEDUCT points from a&nbsp;validator's total score:<br />
      <i class="fa-solid fa-circle-minus text-warning me-1"></i> (-2 points) means that this validator is one of
      the&nbsp;top 33&percnt; active stake holders.<br />
      The&nbsp;concentration of stake is a&nbsp;bad thing on a&nbsp;decentralized proof-of-stake blockchain. There is
      no deduction of points, and no icon, if the&nbsp;validator controls less than 3%. If you are an investor who is
      delegating stake, please consider high performing nodes without high stake concentrations.
    </li>
    <li>
      <strong>Data Center Concentration</strong><br />
      This is another contra-score that will DEDUCT points from validators located in data centers that host a&nbsp;high
      percentage of other Solana validators. A&nbsp;high data center concentration means that a&nbsp;problem with
      the&nbsp;hosting provider could take many of the&nbsp;nodes offline.<br />
      <i class="fa-solid fa-circle-minus text-danger me-1"></i> (-2 points) means that this validator is in a&nbsp;data center
      with a&nbsp;very high percent of the&nbsp;active stake.<br />
      <i class="fa-solid fa-circle-minus text-warning me-1"></i> (-1 point) means that this validator is in a&nbsp;data center
      with a&nbsp;high percent of the&nbsp;active stake.<br />
      If you are an investor who is delegating stake, please consider high performing nodes without a&nbsp;high data
      center concentration.
    </li>
    <li>
      <strong>Authorized Withdrawer Score</strong><br />
      Validator identity matching authorized withdrawer is a&nbsp;serious security risk, eg. if someone hacks into your
      validator, they can steal from the&nbsp;vote account. Keep the&nbsp;withdraw authority key offline
      to minimize the&nbsp;risk.<br />
      <i class="fa-solid fa-circle-minus text-warning me-1"></i> (-2 points) means that this validator identity is
      the&nbsp;same as the&nbsp;authorized withdrawer identity.<br />
    </li>
    <li>
      <strong>Consensus Mods Score</strong><br />
      This is another contra-score that will DEDUCT points from validators that appear to use software modifications
      with an&nbsp;unproven effect on consensus. A&nbsp;validator's most important job is to form an agreement about
      the&nbsp;validity of the&nbsp;blockchain. If over 34% of validators are using non-standard consensus logic,
      the&nbsp;cluster can stall if the&nbsp;validators cannot reach a&nbsp;majority consensus. In such an event,
      the&nbsp;only way to resume is to restart after slashing the&nbsp;stake of the&nbsp;validators with modified
      software. Stakeholders who delegate to these validators should be aware of a&nbsp;small risk that they can lose funds.<br />
      <i class="fa-solid fa-circle-minus text-warning me-1"></i> (-2 points) means that this validator appears to use unproven
      software modifications. Validators that use mods with an&nbsp;unproven effect on consensus are also assigned
      with bonus point 0.
    </li>
  </ol>

  <p>
    The&nbsp;maximum score is currently eleven (11) points:
    <small class="text-nowrap">
      <i class="fa-solid fa-circle score-2"></i>
      <i class="fa-solid fa-circle score-2"></i>
      <i class="fa-solid fa-circle score-2"></i>
      <i class="fa-solid fa-circle score-2"></i>
      <i class="fa-solid fa-circle score-2"></i>
      <i class="fa-solid fa-circle score-1"></i>
    </small>
  </p>
</div>

<hr />

<h2 class="mb-5">Dictionary</h2>

<h3 class="h5" id="commission">Commission</h3>
<p class="mb-5">
  Commission is a&nbsp;percentage value set by a&nbsp;validator to determine how much of the&nbsp;rewards earned
  does it collect in order to incur the&nbsp;costs. It's automatically deducted from your rewards pay outs. It
  can be set anywhere between 0% and 100% and can be changed in any moment.
  <%= link_to "Click here", commission_histories_path(network: params[:network])%> if you want to know
  more about current commissions.
</p>

<h3 class="h5" id="epoch">Epoch</h3>
<p class="mb-5">
  Time determined by number of slots, for which the&nbsp;leader schedule is valid.
</p>

<h3 class="h5" id="root-distance">Root Distance</h3>
<p class="mb-5">
  Measures the&nbsp;median & average distance in block height between the&nbsp;validator and the&nbsp;tower's highest
  block. Smaller numbers mean that the&nbsp;validator is near the&nbsp;top of the&nbsp;tower.
</p>

<h3 class="h5" id="vote-distance">Vote Distance</h3>
<p class="mb-5">
  Is very similar to the&nbsp;Root Block Distance score above. Lower numbers mean that the&nbsp;node is voting near
  the&nbsp;front of the&nbsp;group.
</p>

<h3 class="h5" id="skipped-vote">Skipped Slot&nbsp;&percnt;</h3>
<p class="mb-5">
  Measures the&nbsp;percent of the&nbsp;time that a&nbsp;leader fails to produce a&nbsp;block during their allocated
  slots. A&nbsp;lower number means that the&nbsp;leader is making blocks at a&nbsp;very high rate.
</p>

<h3 class="h5" id="delinquency">Delinquency</h3>
<p class="mb-5">
  If the&nbsp;validator is not active in the&nbsp;solana network it is considered to be delinquent. Short-time
  delinquencies are considered acceptable, since it occurs while software updates or temporary internet outages.
</p>

<h3 class="h5" id="stake-concentration">Stake Concentration</h3>
<p class="mb-5">
  Solana is a&nbsp;decentralized proof-of-stake blockchain. It is best for the&nbsp;network and for those who uses it,
  that the&nbsp;total stake is divided among as many validators as possible. Keep this in mind while choosing
  a&nbsp;validator to delegate&nbsp;to.
</p>

<h3 class="h5" id="roi">Gross ROI</h3>
<p>
  Gross Return of Interest is a percentage value that represents total return from Solana network to both 
  validators and stakers. It is calculated as follows:
</p>
<pre>
  (stake_account_rewards + vote_account_rewards / total_active_stake) * number_of_epochs_per_year
</pre>
<p>
  Where number_of_epochs_per_year is calculated as follows: seconds_in_year / duration_of_last_epoch_in_seconds. 
  This gives the number of epochs in a year assuming all epochs were as long as the last epoch.
</p>
<p class="mb-5">
  And stake_account_rewards and vote_account_rewards are the average reward per epoch based on last 3 epochs.
</p>

<h5 id="stake-pool">Stake Pool</h5>
<p class="mb-5">
  Stake pools are an alternative method of earning staking rewards. This program allows SOL holders
  to stake and earn rewards without managing stakes. Read more about the&nbsp;program on
  <%= link_to "Solana website", "https://spl.solana.com/stake-pool/overview" %>.
</p>

<hr />

<h2 id="questions" class="mb-5">FAQ</h2>

<h3 class="h5" id="new-validator">How to become a&nbsp;validator?</h3>
<p class="mb-5">
  Please take a&nbsp;look at this detailed guide on Solana website:
  <%= link_to "https://docs.solana.com/running-validator", "https://docs.solana.com/running-validator" %>.
</p>

<h3 class="h5" id="personal-data">How is my Personal Data protected?</h3>
<p class="mb-5">
  All Consumer Personal Information is encrypted in transit via HTTPS. You can see our secure certificate by
  clicking the&nbsp;lock icon in your browser location bar. We also encrypt all Personal Information at rest when it is
  stored within our database.
</p>

<h3 class="h5" id="private-validator">Why is my validator marked "private"?</h3>
<p class="mb-5">
  It's based on commission rate. 100% commission means that you are not looking for delegations, so we mark you
  as "private". Private validators are always assigned with total score 0, despite their performance.
</p>

<h3 class="h5" id="withdraw-authority-warning">
  Why do I see <span class="text-warning">withdrawer</span> warning next to my validator?
</h3>
<p class="mb-5">
  It informs visitors that your validator identity matches the&nbsp;withdraw authority on your vote account. It is
  a&nbsp;serious security risk, eg. if someone hacks into your validator, they can steal from the&nbsp;vote account.
  Keep the&nbsp;withdraw authority key offline to minimize the&nbsp;risk. Once you fix it, the&nbsp;warning will be
  taken off automatically within few hours.
</p>

<h3 class="h5" id="admin-warning">
  Why do I see <span class="text-danger">admin warning</span> warning next to my validator?
</h3>
<p class="mb-5">
  It informs visitors that validator's actions are malicious or harmful to the&nbsp;cluster. Hover your mouse over
  the&nbsp;warning symbol next to validator's name to see the&nbsp;details. Validators with red warnings are always
  assigned with total score 0, despite their performance.
</p>

<h3 class="h5" id="avatar">How can I change my avatar (validator logo)?</h3>
<p class="mb-5">
  the&nbsp;images come from the&nbsp;validator's Keybase profile. Once you change it on Keybase, we'll update avatar
  in our system automatically within 24 hours.
</p>

<h3 class="h5" id="validator-not-visible">Why can't I see my validator on main page?</h3>
<p>
  There are several possible causes.<br />
  First, please double check and confirm that you're searching in the&nbsp;correct network.<br />
  Then, please make sure your validator is active and voting. Make sure your validator is visible
  in the&nbsp;output of the&nbsp;following CLI command:
</p>
<pre>solana validators -u t | grep validator-pubkey</pre>
<p class="mb-5">
  Also confirm that there are some SOL delegated to your validator. We suppress all nodes with zero stake. You
  should see the&nbsp;node appear on our site as soon as you have some stake. If you fixed all the&nbsp;above and still
  cannot see your validator, please <%= link_to 'contact us', contact_us_path %>.
</p>

<h3 class="h5" id="old-software-version">Why do I see old software version of my node?</h3>
<p class="mb-5">
  Software versions are updated once every 24 hours. Please wait 24 hours before checking the&nbsp;validators.app website
  after software version upgrade. If you still cannot see the&nbsp;new version after this time please
  <%= link_to 'contact us', contact_us_path %>.
</p>

<h3 class="h5" id="investing">How do I start investing?</h3>
<p class="mb-5">
  First, you'll need some SOLs. You can buy them on <%= link_to "Coinbase", "https://www.coinbase.com/" %>. Then send
  them to your web wallet, such as <%= link_to "Phantom", "https://phantom.app/" %> or
  <%= link_to "Solflare", "https://solflare.com/" %>. For other options check out
  <%= link_to "Solana web wallets", "https://docs.solana.com/wallet-guide/web-wallets" %> or
  <%= link_to "Solana mobile wallets", "https://docs.solana.com/wallet-guide/apps" %>. You are ready to stake! To learn
  more about staking see <%= link_to "Solana staking docs", "https://docs.solana.com/staking" %>. Then check out
  our advice on <%= link_to "how to choose the right validator", "#choosing-validator" %>.
</p>

<h3 class="h5" id="best-validator">How to find the&nbsp;best validator?</h3>
<p class="mb-5">
  To find a&nbsp;good validator, please start at the&nbsp;top of the&nbsp;'Score' view on the&nbsp;home page and click through
  to see validator details. Then read <%= link_to "Choosing Validator", "#choosing-validator" %> section on this
  page to find out what you should watch out&nbsp;for.
</p>

<h3 class="h5" id="change-validator">How often can I change the&nbsp;validator? Is there a&nbsp;minimum period?</h3>
<p class="mb-5">
  It usually takes 1&nbsp;epoch for stake to warm up or cool down. Try to split your stake across several validators.
  Please also read our advice on <%= link_to "how to choose the right validator", "#choosing-validator" %> and check out
  Solana <%= link_to "stake pool", "https://spl.solana.com/stake-pool/overview" %> program.
</p>

<h3 class="h5" id="staking-rewards">How often are the&nbsp;staking rewards paid out?</h3>
<p class="mb-5">
  It usually takes 1&nbsp;epoch for stake to warm up or cool down. After that, you should see rewards in your wallet.
  For better results, try to split your stake across several validators. Please also read our advice on
  <%= link_to "how to choose the right validator", "#choosing-validator" %> or check out Solana
  <%= link_to "stake pool", "https://spl.solana.com/stake-pool/overview" %> program.
</p>

<h3 class="h5" id="apy">Where can I find the&nbsp;APY?</h3>
<p class="mb-5">
  We do not show nodes APY on validators.app. See <%= link_to "https://www.stakeview.app", "https://www.stakeview.app" %>
  for a&nbsp;good look at APY. We do show APY for stake pools hovewer. You can find them
  <%= link_to "on this site", stake_pools_path, data: { turbolinks: false } %>.
</p>

<h3 class="h5" id="fav">Can I add a validator to my favourites?</h3>
<p class="mb-5">
  You need to <%= link_to 'create user account', new_user_registration_path %> or <%= link_to 'sign in to your user account', new_user_session_path %>
  first. Then you can create your own watchlist by clicking on star <i class="fa-solid fa-star text-warning"></i> icon next to each validator on the list.
</p>
