<h1>Getting Started</h1>

<p class="lead mb-5">
  We did our best to include on this page all the necessary information to get you started with staking on Solana.
  If you have any more questions or think there should be any additional info here please keep in mind that
  you can use our chat in the bottom right corner.
</p>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="card-heading"><i class="fas fa-sliders-h mr-1"></i> Basics</h2>
        <ul class="list-large list-no-bullets text-center">
          <li><a href="#staking">What is staking</a></li>
          <li><a href="#timeline">Staking timeline</a></li>
          <li><a href="#choosing-validator">Choosing the&nbsp;right validator</li>
          <li><a href="#score">How Does the&nbsp;Validator Score V1 Work?</a></li>
          <li><a href="#score-v2">How Does the&nbsp;Validator Score V2 Work?</a></li>
          <li><a href="#data-centers">Data Centers</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="card-heading">
          <%= image_tag 'solana_logo_white.png', height: '22', class: 'mr-1' %> FAQ - validators</h2>
        <ul class="list-large list-no-bullets text-center">
          <li><a href="#new-validator">How to become a validator?</a></li>
          <li><a href="#personal-data">How is my Personal Data protected?</a></li>
          <li><a href="#private-validator">Why is my validator marked "private"?</a></li>
          <li><a href="#withdraw-authority-warning">Why do I see <i class="fas fa-exclamation-triangle text-warning mx-1"></i> warning next to my validator?</a></li>
          <li><a href="#admin-warning">Why do I see <i class="fas fa-exclamation-triangle text-danger mx-1"></i> warning next to my validator?</a></li>
          <li><a href="#avatar">How can I change my avatar (validator logo)?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="card-heading"><i class="fas fa-spell-check mr-1"></i> Dictionary</h2>
        <ul class="list-large list-no-bullets text-center">
          <li><a href="#commission">Commission</a></li>
          <li><a href="#epoch">Epoch</a></li>
          <li><a href="#root-distance">Root Distance</a></li>
          <li><a href="#vote-distance">Vote Distance</a></li>
          <li><a href="#skipped-vote">Skipped Slot &percnt;</a></li>
          <li><a href="#delinquency">Delinquency</a></li>
          <li><a href="#stake-concentration">Stake Concentration</a></li>
          <li><a href="#stake-pool">Stake Pool</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="card-heading">
          <i class="fas fa-dollar-sign mr-1"></i> FAQ - investors</h2>
        <ul class="list-large list-no-bullets text-center">
          <li><a href="#investing">How do I start investing?</a></li>
          <li><a href="#best-validator">How to find the best validator?</a></li>
          <li><a href="#change-validator">How often can I change the validator?</a></li>
          <li><a href="#staking-rewards">How often are the staking rewards paid out?</a></li>
          <li><a href="#apy">Where can I find the APY?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr />

<h2 class="mb-5">Basics</h2>

<h3 class="h5" id="staking">What is staking</h3>
<div class="mb-5">
  <p>
    <strong>Staking</strong> is the process of delegating your SOL tokens to one or more validators, who process transactions and keep the network secure. Validators earn rewards for their services and delegators then get a proportional amount of the rewards less the validator's <a href="#commission">commission</a>.
  </p>
  <p>
    In order to delegate your SOL tokens, you need to create a separate stake account and choose a validator to delegate to. You can do it either from <a href="https://docs.solana.com/cli">command line interface</a>
    or by using one of the <a href="https://docs.solana.com/wallet-guide">supported wallets</a>.
  </p>
</div>

<h3 class="h5" id="timeline">Staking timeline</h3>
<div class="mb-5">
  <p>
    After you delegate your SOL tokens, you need to wait until the next <a href="#epoch">epoch</a> for
    the changes to take effect. Throughout the epoch validator is voting and generates new transactions
    according to the leader schedule and only after one entire epoch ends, the reward is added to your staking pool
    and is automatically delegated to the same validator.
  </p>
  <p>
    Please note that during the pending epoch your tokens cannot be withdrawn.
  </p>
  <p>
    If you wish to undelegate your tokens from the validator, you need to wait untill the end of the epoch.
    In this case your last reward will be added to your stake account and will no longer be delegated.
  </p>
</div>

<h3 class="h5" id="choosing-validator">Choosing the right validator</h3>
<div class="mb-5">
  <p>
    There are a couple of things to consider while choosing the right validator to delegate your
    stake to. In order to be able to vote properly and create new transactions it needs to have constant high
    speed network access and good overall performance. Another important thing is the <a href="#commission">commission</a>
    validator takes to cover it's costs - the less the better. You should also check if validator is credible
    and operates in a transparent manner.
  </p>
  <p>
    <strong>Performance</strong> - we're gathering some statistical data to determine how well the validator operates
    within solana network. <a href="#root-distance">Root block distance</a> and <a href="#vote-distance">vote distance</a>
    show how far behind it is from the top of the blockchain while <a href="#skipped-vote">the skipped slot &percnt;</a>
    measures the percent of the time that a leader fails to produce a block during their
    allocated slots.
  </p>
  <p>
    <strong>Commission</strong> - The important thing to notice here is that commissions can be changed in any
    moment, so it's crucial to check for particular validators
    <%= link_to "commission change history", commission_histories_path(network: params[:network]) %> and see if
    there's no malicious behaviour there. Some of the validators are offering 0% commission as an introductory
    offer. It's a good idea to contact them to see when the offer expires and the new rate
    at that time.
  </p>
  <p>
    <strong>Reliability</strong> - if the validator has all the information filled up, has its own website and
    no malicious behaviour in the past is detected it is more likely that it cares about reliability and thus is
    more trustworthy.
  </p>
</div>

<h3 class="h5" id="score">How Does the Validator Score V1 Work?</h3>
<div class="mb-5">
  <p>
    We track validator performance over several dimensions and assign a score in the range of (0..2) for each.
    The scores also correlate with colored icons: <i class="fas fa-circle score-2"></i> is excellent,
    <i class="fas fa-circle score-1"></i> is OK, and <i class="fas fa-circle score-0"></i> means there is room for
    improvement. The scored dimensions are:
  </p>

  <ol class="list-with-numbers">
    <li>
      <strong>Root Block Distance</strong> <br />
      <i class="fas fa-circle score-2 mr-1"></i> (2 points) means that the validator median block distance is at,
      or below, the cluster median.<br />
      <i class="fas fa-circle score-1 mr-1"></i> (1 point) means that the validator average block distance is at,
      or below, the cluster average.<br />
      <i class="fas fa-circle score-0 mr-1"></i> (0 points) means that the validator average is higher than
      the cluster average.<br />
      The medians and averages are calculated over a trailing 2-day period and do not reset with each epoch.
    </li>
    <li>
      <strong>Vote Distance</strong> The scoring rules are the same as Root Block Distance above.
    </li>
    <li>
      <strong>Skipped Slot &percnt;</strong> <br />
      For this metric, we track a trailing 24-hour moving average of the skip rate. The moving average (MA) is
      then compared to the cluster median(MA) and cluster average(MA). On the charts, a dotted line shows
      the spot reading that resets with every epoch. The solid line shows the 24-hour moving average.<br />
      <i class="fas fa-circle score-2 mr-1"></i> (2 points) means that the validator skipped slot &percnt; is at, or below,
      the cluster median.<br />
      <i class="fas fa-circle score-1 mr-1"></i> (1 point) means that the skipped slot &percnt; is at, or below,
      the cluster average.<br />
      <i class="fas fa-circle score-0 mr-1"></i> (0 points) means that the validator average is higher than
      the cluster average.<br />
      The moving averages reflect the previous 24-hours, and the spot reading resets with each new epoch.
    </li>
    <li>
      <strong>Published Information</strong><br />
      Investors or delegators want to know who is running a node. The Published Information Score measures
      the contact information that the validator has posted to the blockchain using the
      `solana validator-info` feature.<br />
      <i class="fas fa-circle score-2 mr-1"></i> (2 points) means that the validator has published all four data
      elements (Name, Keybase ID, Website URL, and Details).<br />
      <i class="fas fa-circle score-1 mr-1"></i> (1 point) means that the validator has published two or three parts.<br />
      <i class="fas fa-circle score-0 mr-1"></i> (0 points) means that the validator has published only one, or zero,
      pieces of contact data.
    </li>
    <li>
      <strong>Software Version</strong><br />
      This score is based on the Solana software version currently in use on this node.<br />
      <i class="fas fa-circle score-2 mr-1"></i> (2 points) means that the validator is using the correct major,
      minor, & patch versions.<br />
      <i class="fas fa-circle score-1 mr-1"></i> (1 point) means that the validator is using the correct major,
      & minor versions (but not patch).<br />
      <i class="fas fa-circle score-0 mr-1"></i> (0 points) means that the validator is only using the current
      major version (or less).<br />
      This score is updated as soon as the validator starts voting with a new software update.
    </li>
    <li>
      <strong>Security Report</strong><br />
      Security and operations are a critical component of a well-run validator. I am assigning one (1) point
      when a validator has provided me with a URL to their web page related to security policies. Please
      be aware that I am not evaluating the content on that web page. I will merely confirm that the web page
      discusses security or operating procedures before posting the link to this site.<br />
      <i class="fas fa-circle score-1 mr-1"></i> (1 point) means that the validator has provided a valid URL.<br />
      <i class="fas fa-circle score-0 mr-1"></i> (0 points) means that the validator has not published a description
      of their security policies.<br />
      (Validators, please directly <%= link_to 'contact Brian Long', contact_us_path %> to provide the URL.)
    </li>
    <li>
      <strong>Stake Concentration</strong> is a contra-score and will DEDUCT points from a validator's total score:<br />
      <i class="fas fa-minus-circle text-warning mr-1"></i> (-2 points) means that this validator is one of
      the top 33&percnt; active stake holders.<br />
      The concentration of stake is a bad thing on a decentralized proof-of-stake blockchain. There is
      no deduction of points, and no icon, if the validator controls less than 3%. If you are an investor who is
      delegating stake, please consider high performing nodes without high stake concentrations.
    </li>
    <li>
      <strong>Data Center Concentration</strong><br />
      This is another contra-score that will DEDUCT points from validators located in data centers that host a high
      percentage of other Solana validators. A high data center concentration means that a problem with
      the hosting provider could take many of the nodes offline.<br />
      <i class="fas fa-minus-circle text-danger mr-1"></i> (-2 points) means that this validator is in a data center
      with a very high percent of the active stake.<br />
      <i class="fas fa-minus-circle text-warning mr-1"></i> (-1 point) means that this validator is in a data center
      with a high percent of the active stake.<br />
      If you are an investor who is delegating stake, please consider high performing nodes without a high data
      center concentration.
    </li>
    <li>
      <strong>Authorized Withdrawer Score</strong><br />
      Validator identity matching authorized withdrawer is a security risk.<br />
      <i class="fas fa-minus-circle text-danger mr-1"></i> (-2 points) means that this validator identity is the same as the authorized withdrawer identity.<br />
      <i class="fas fa-circle score-0 mr-1"></i> (0 point) means that that this validator identity is different than the authorized withdrawer identity.<br />
    </li>
  </ol>

  <p>
    The maximum score is currently eleven (11) points:
    <span class="text-nowrap">
      <i class="fas fa-circle score-2" title="Root Distance Score"></i>
      <i class="fas fa-circle score-2" title="Vote Distance Score"></i>
      <i class="fas fa-circle score-2" title="Skipped Slot Score"></i>
      <i class="fas fa-circle score-2" title="Published Information Score"></i>
      <i class="fas fa-circle score-2" title="Software Version Score"></i>
      <i class="fas fa-circle score-1" title="Security Report Score"></i>
    </span>
  </p>
</div>

<h3 class="h5" id="score-v2">How Does the&nbsp;Validator Score V2 Work?</h3>
<div class="mb-5">
  <p>The V2 Score system works similar to V1, with the following exceptions:</p>
  <ol class="list-with-numbers">
    <li>
      <strong>Root Block Distance</strong> <br />
      Validators are divided into <%= @groups_number %> equal groups, depending on their
      performance in&nbsp;current epoch:<br />
      <% score = @max_score %>
      <% @groups_number.times do |index| %>
        <% if index == 0 %>
          <i class="fas fa-circle score-<%= score %> mr-1"></i> (<%= score %> points) means that the&nbsp;validator is in
          the group of 1/<%= @groups_number %> best validators in current epoch.<br />
        <% elsif index == (@max_score) %>
          <i class="fas fa-circle score-<%= score %> mr-1"></i> (<%= score %> points) means that the&nbsp;validator is in
          the last group.
        <% else %>
          <i class="fas fa-circle score-<%= score %> mr-1"></i> (<%= score %> points) means that the&nbsp;validator is in
          the middle group.<br />
        <% end %>

        <% score -= 1 %>
      <% end %>
    </li>
    <li>
      <strong>Vote Distance</strong> <br />
      The&nbsp;scoring rules are the&nbsp;same as Root Block Distance above. The validators are divided into <%= @groups_number %>
      equal groups based on their performance.<br />
      <i class="fas fa-circle score-<%= @max_score %> mr-1"></i> (<%= @max_score %> points) is the&nbsp;highest possible score in this category.<br />
      <i class="fas fa-circle score-0 mr-1"></i> (0 points) is the&nbsp;lowest possible score in this category.
    </li>
    <li>
      <strong>Skipped Slot &percnt;</strong> <br />
      For this metric, we track a&nbsp;trailing 24-hour moving average of the&nbsp;skip rate. Validators are then divided into
      <%= @groups_number %> equal groups based on their moving average and the&nbsp;scores are assigned in the&nbsp;same manner
      as for Root Distance Score above.<br />
      <i class="fas fa-circle score-<%= @max_score %> mr-1"></i> (<%= @max_score %> points) is the&nbsp;highest possible score in this category.<br />
      <i class="fas fa-circle score-0 mr-1"></i> (0 points) is the&nbsp;lowest possible score in this category.
    </li>
  </ol>
  <p>Other metrics remain unchanged.</p>
  <p>
    The maximum score is currently <%= @max_total_score.humanize %> (<%= @max_total_score %>) points:
    <span class="text-nowrap">
      <i class="fas fa-circle score-<%= @max_score %>" title="Root Distance Score"></i>
      <i class="fas fa-circle score-<%= @max_score %>" title="Vote Distance Score"></i>
      <i class="fas fa-circle score-<%= @max_score %>" title="Skipped Slot Score"></i>
      <i class="fas fa-circle score-2" title="Published Information Score"></i>
      <i class="fas fa-circle score-2" title="Software Version Score"></i>
      <i class="fas fa-circle score-1" title="Security Report Score"></i>
    </span>
  </p>
</div>

<h3 class="h5" id="data-centers">Data Centers</h3>
<p class="mb-5">
  For the security reasons it is recommended that the validators in solana cluster are spread among as many
  locations as possible. It reduces the possibility of network collapse in case of a data center breakage.
  On our <%= link_to "data centers", data_centers_url(network: params[:network])%> page you can examine the validators
  distribution between data centers and organisations Autonomous System Numbers (ASN).
</p>

<hr />

<h2 class="mb-5">Dictionary</h2>

<h3 class="h5" id="commission">Commission</h3>
<p class="mb-5">
  Commission is a percentage value set by a validator to determine how much of the rewards earned
  does it collect in order to incur the costs. It's automatically deducted from your rewards pay outs. It
  can be set anywhere between 0% and 100% and can be changed in any moment.
  <%= link_to "Click here", commission_histories_path(network: params[:network])%> if you want to know
  more about current commissions.
</p>

<h3 class="h5" id="epoch">Epoch</h3>
<p class="mb-5">
  Time determined by number of slots, for which the leader schedule is valid.
</p>

<h3 class="h5" id="root-distance">Root Distance</h3>
<p class="mb-5">
  Measures the median & average distance in block height between the validator and the tower's highest
  block. Smaller numbers mean that the validator is near the top of the tower.
</p>

<h3 class="h5" id="vote-distance">Vote Distance</h3>
<p class="mb-5">
  Is very similar to the Root Block Distance score above. Lower numbers mean that the node is voting near
  the front of the group.
</p>

<h3 class="h5" id="skipped-vote">Skipped Slot &percnt;</h3>
<p class="mb-5">
  Measures the percent of the time that a leader fails to produce a block during their allocated
  slots. A lower number means that the leader is making blocks at a very high rate.
</p>

<h3 class="h5" id="delinquency">Delinquency</h3>
<p class="mb-5">
  If the validator is not active in the solana network it is considered to be delinquent. Short-time
  delinquencies are considered acceptable, since it occurs while software updates or temporary internet outages.
</p>

<h3 class="h5" id="stake-concentration">Stake Concentration</h3>
<p class="mb-5">
  Solana is a decentralized proof-of-stake blockchain. It is best for the network and for those who uses it,
  that the total stake is divided among as many validators as possible. Keep this in mind while choosing
  a validator to delegate to.
</p>

<h5 id="stake-pool">Stake Pool</h5>
<p class="mb-5">
  Stake pools are an alternative method of earning staking rewards. This program allows SOL holders
  to stake and earn rewards without managing stakes. Read more about the program on
  <%= link_to "Solana website", "https://spl.solana.com/stake-pool/overview" %>.
</p>

<hr />

<h2 id="questions" class="mb-5">FAQ</h2>

<h3 class="h5" id="new-validator">How to become a validator?</h3>
<p class="mb-5">
  Please take a look at this detailed guide on Solana website:
  <%= link_to "https://docs.solana.com/running-validator", "https://docs.solana.com/running-validator" %>.
</p>

<h3 class="h5" id="personal-data">How is my Personal Data protected?</h3>
<p class="mb-5">
  All Consumer Personal Information is encrypted in transit via HTTPS. You can see our secure certificate by
  clicking the lock icon in your browser location bar. We also encrypt all Personal Information at rest when it is
  stored within our database.
</p>

<h3 class="h5" id="private-validator">Why is my validator marked "private"?</h3>
<p class="mb-5">
  It's based on commission rate. 100% commission means that you are not looking for delegations, so we mark you
  as "private". Private validators are always assigned with total score 0, despite their performance.
</p>

<h3 class="h5" id="withdraw-authority-warning">
  Why do I see <i class="fas fa-exclamation-triangle text-warning mx-1"></i> warning next to my validator?
</h3>
<p class="mb-5">
  It informs visitors that your validator identity matches the withdraw authority on your vote account. It is
  a serious security risk, eg. if someone hacks into your validator, they can steal from the vote account.
  Keep the withdraw authority key offline to minimize the risk. Once you fix it, the warning will be
  taken off automatically within few hours.
</p>

<h3 class="h5" id="admin-warning">
  Why do I see <i class="fas fa-exclamation-triangle text-danger mx-1"></i> warning next to my validator?
</h3>
<p class="mb-5">
  It informs visitors that validator's actions are malicious or harmful to the cluster. Hover your mouse over
  the warning symbol next to validator's name to see the details. Validators with red warnings are always
  assigned with total score 0, despite their performance.
</p>

<h3 class="h5" id="avatar">How can I change my avatar (validator logo)?</h3>
<p class="mb-5">
  The images come from the validator's Keybase profile. Once you change it on Keybase, we'll update avatar in our
  system automatically within 24 hours.
</p>


<h3 class="h5" id="investing">How do I start investing?</h3>
<p class="mb-5">
  First, you'll need some SOLs. You can buy them on <%= link_to "Coinbase", "https://www.coinbase.com/" %>. Then send
  them to your web wallet, such as <%= link_to "Phantom", "https://phantom.app/" %> or
  <%= link_to "Solflare", "https://solflare.com/" %>. For other options check out
  <%= link_to "Solana web wallets", "https://docs.solana.com/wallet-guide/web-wallets" %> or
  <%= link_to "Solana mobile wallets", "https://docs.solana.com/wallet-guide/apps" %>. You are ready to stake! To learn
  more about staking see <%= link_to "Solana staking docs", "https://docs.solana.com/staking" %>. Then check out
  our advice on <%= link_to "how to choose the right validator", "#choosing-validator" %>.
</p>

<h3 class="h5" id="best-validator">How to find the best validator?</h3>
<p class="mb-5">
  To find a good validator, please start at the top of the 'Score' view on the home page and click through
  to see validator details. Then read <%= link_to "Choosing Validator", "#choosing-validator" %> section on this
  page to find out what you should watch out for.
</p>

<h3 class="h5" id="change-validator">How often can I change the validator? Is there a minimum period?</h3>
<p class="mb-5">
  It usually takes 1 epoch for stake to warm up or cool down. Try to split your stake across several validators. Please
  also read our advice on <%= link_to "how to choose the right validator", "#choosing-validator" %> and check out Solana
  <%= link_to "stake pool", "https://spl.solana.com/stake-pool/overview" %> program.
</p>

<h3 class="h5" id="staking-rewards">How often are the staking rewards paid out?</h3>
<p class="mb-5">
  It usually takes 1 epoch for stake to warm up or cool down. After that, you should see rewards in your wallet. For
  better results, try to split your stake across several validators. Please also read our advice on
  <%= link_to "how to choose the right validator", "#choosing-validator" %> or check out Solana
  <%= link_to "stake pool", "https://spl.solana.com/stake-pool/overview" %> program.
</p>

<h3 class="h5" id="apy">Where can I find the APY?</h3>
<p class="mb-5">
  We do not show APY on validators.app. See <%= link_to "https://www.stakeview.app", "https://www.stakeview.app" %>
  for a good look at APY.
</p>
