<%= javascript_pack_tag "validators/validators_map.js" %>
<%= javascript_pack_tag 'transactions/transactions_stats_component' %>
<%= javascript_pack_tag 'epochs/epoch_stats_component' %>
<%= javascript_pack_tag 'validators/circulating_supply.js' %>
<%= javascript_pack_tag 'software_versions/software_versions_component.js' %>
<%= javascript_pack_tag 'clusters/cluster_numbers_component.js' %>
<%= javascript_pack_tag 'clusters/cluster_performance_stats_component.js' %>

<% if @network == "mainnet" %>
  <%= render "validators/ping_stats_banner" %>
<% end %>

<div id="validators-map">
  <validators-map network="<%= @network %>"/>
</div>

<!--
<section class="row">
    <%#= javascript_pack_tag 'leaders/leaders_stats_component.js' %>
    <div id="leader-stats-component"></div>
</section>
-->

<div id="epoch-stats-component"></div>

<section class="row">
  <div id="cluster-numbers-component"></div>

  <div id="circulating-supply-component"></div>

  <div id="transactions-stats-component"></div>

  <% unless @network == "pythnet" %>
    <%= javascript_pack_tag 'sol_prices/sol_price_component' %>
    <div id="sol-price-component"></div>
    <div class="col-md-8 mb-4">
      <%= render 'validators/watchlist_info_banner' %>
    </div>
  <% end %>
</section>

<div id="distance-stats-component"></div>

<section class="row">
  <% if @network == "pythnet" %>
    <div class="col-lg-6 mb-4">
      <%= render 'validators/watchlist_info_banner' %>
    </div>
    <div id="software-versions-component"></div>
  <% else %>
    <%= render 'validators/stake_pools_banner' %>
    <div id="software-versions-component"></div>
  <% end %>
</section>
