<h1><%= t('public.index.title') %></h1>
<div class='row'>
  <div class="col-sm-12">
    <p>
    This website is collecting time-series data to help Solana validators track the performance of their nodes over time. Every minute, we are sampling validator and vote account activity such as block production, active stake, skipped slot percentage, etc. Here you will find historical data and trend reports.</p>
  </div>
</div>
<div class='row'>
  <div class="col-sm-12">
    <p>
      The app is still under construction, but you are welcome to click around and see the current progress. Start at the <%= link_to "#{params[:network].capitalize} Validators", validators_url(network: params[:network]) %> page to find your Account. Special thanks to <%= link_to 'Staking Facilities', 'https://stakingfacilities.com/', target: '_blank' %> for their support!
    </p>
  </div>
</div>
<% if @chart_data %>
  <div class="row">
    <div class="col-sm-12">
        <%= render 'chart_home_page' %>
        Data through <%= @chart_data.created_at %>.
    </div>
  </div>
<% end %>



<% if @tower_report  %>
  <hr />
  <div class="row">
      <div class="col-lg-6">
        <h3>Tower Leaders</h3>
        <p>
          The <%= params[:network] %> validators who have highest root blocks in epoch <%= @block_history_stat.epoch %>.
        </p>
        <p>
          <%= render 'tower_table', validators: @tower_leaders %>
          Data through <%= @tower_report.created_at %>. See the full <%= link_to 'Tower Report', tower_url(network: params[:network]) %>.
        </p>
      </div>
      <div class="col-lg-6">
        <h3>Tower laggards</h3>
        <p>
          The <%= params[:network] %> validators who have lowest root blocks in epoch <%= @block_history_stat.epoch %>.
        </p>
        <p>
          <%= render 'tower_table', validators: @tower_laggards %>
          Data through <%= @tower_report.created_at %>. See the full <%= link_to 'Tower Report', tower_url(network: params[:network]) %>.
        </p>
      </div>
  </div>
  <hr />
<% end %>

<% if @skipped_slots_report %>
  <div class='row'>
    <div class="col-md-12">
      <p>
        Top and bottom performing validators for epoch <%= @block_history_stat.epoch %> appear in the tables below. The &quot;Skipped Slot&quot; stats show how many slots were skipped by each leader. The &quot;Skipped After&quot; stats show the performance by the leader AFTER the designated node. Poor performance in the &quot;Skipped After&quot; category may indicate that your validator is slow to propagate blocks to the next leader. Slow handoffs from one leader to the next will result in more forks and missed slots by the rest of the cluster.
      </p>
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class="col-lg-6">
      <h3>Skipped Slots &percnt; Leaders</h3>
      <p>The <%= params[:network] %> validators who have skipped the lowest percentage of their slots in epoch <%= @block_history_stat.epoch %>.</p>
      <p>
        <%= render 'skipped_slots_table', histories: @skipped_slots_top %>
        Data through <%= @skipped_slots_report.created_at %>.
      </p>
    </div>
    <div class="col-lg-6">
      <h3>Skipped After &percnt; Leaders</h3>
      <p>The <%= params[:network] %> validators with the best performance in the slots AFTER their turn as leader in epoch <%= @block_history_stat.epoch %>.</p>
      <p>
        <%= render 'skipped_after_table', histories: @skipped_after_top %>
        Data through <%= @skipped_after_report.created_at %>.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class="col-lg-6">
      <h3>Skipped Slots &percnt; Laggards</h3>
      <p>The <%= params[:network] %> validators who have skipped the highest percentage of their slots in epoch <%= @block_history_stat.epoch %>.</p>
      <p>
        <%= render 'skipped_slots_table', histories: @skipped_slots_bottom %>
        Data through <%= @skipped_slots_report.created_at %>.
      </p>
    </div>
    <div class="col-lg-6">
      <h3>Skipped After &percnt; Laggards</h3>
      <p>The <%= params[:network] %> validators with the worst performance in the slots AFTER their turn as leader in epoch <%= @block_history_stat.epoch %>.</p>
      <p>
        <%= render 'skipped_after_table', histories: @skipped_after_bottom %>
        Data through <%= @skipped_after_report.created_at %>.
      </p>
    </div>
  </div>
  <hr />
<% end %>

<div class='row'>
  <div class="col-sm-12">
    <p>
      We are also gathering ping data from participating cluster nodes so we can create a map of the network latency of the cluster. Please contribute ping times from your node! You can see details and download the client script at the <%= link_to 'Client Scripts', 'https://github.com/brianlong/www.validators.app/tree/master/client_scripts', target: '_blank' %> page of our Github repo.
    </p>
  </div>
</div>

<div class='row'>
  <div class="col-sm-12">
    <p>
      I hope you find the time-series data useful. Please send feedback in the Solana Discord group. You are also welcome to create issues on my <%= link_to 'Github Repo', 'https://github.com/brianlong/www.validators.app', target: '_blank' %>.
    </p>
  </div>
</div>

<div class='row'>
  <div class="col-sm-12">
    <p>
      Thanks! -- Brian Long
    </p>
  </div>
</div>

<div class='row'>
  <div class="col-sm-12">
    <p>
      P.S. I will work to make the site look prettier in the future. Right now, I am focused on the data and API features ;-)
    </p>
  </div>
</div>
