<div class="container">
<div class="row">
  <h1>Privacy Policy</h1>
   <p class="col-12">
    <%= FMA_LLC %>, on behalf of its subsidiaries and affiliates (collectively, “<strong><%= COMPANY_AKA %></strong>,” “<strong>us</strong>,” “<strong>we</strong>,” or “<strong>our</strong>”) has prepared this Privacy Policy (“<strong>Privacy Policy</strong>”) to describe to you, or if you represent an entity or other organization, that entity or organization (in either case, “<strong>you</strong>,” or “<strong>your</strong>”) our practices regarding the personal information that <%= COMPANY_AKA %> collects, uses, and shares on behalf of website visitors, or other individuals that may have a need for certain privacy related services (“<strong>Individuals</strong>”) and service providers that provide privacy related services to Individuals (“<strong>Service Providers</strong>,” collectively with Individuals, “<strong>Users</strong>”) of our online privacy and informational platform (the “<strong>Privacy Platform</strong>”) accessed through the website located at www.fmaprivacy.com, and any other websites operated by <%= COMPANY_AKA %>, including www.fmaprivacy.org, and donotsell.app (each, a “<strong>Site</strong>”) (and each Site shall be treated as a part of the Privacy Platform for purposes of this Privacy Policy).  Capitalized terms not defined in this Privacy Policy, shall have the meanings as defined in the <%= COMPANY_AKA %> <%= link_to 'Terms of Use', terms_of_use_path %>.
  </p>
   <p class="col-12">
  <%= COMPANY_AKA %> reserves the right, at any time, to modify this Privacy Policy.  If we make revisions that change the way we collect, use, or share personal information, we will post those changes in this Privacy Policy.  You should review this Privacy Policy periodically so that you keep up to date on our most current policies and practices.  We will note the effective date of the latest version of our Privacy Policy at the end of this Privacy Policy.  Your continued use of the Privacy Platform following posting of changes constitutes your acceptance of such changes.
  </p>
  <h3>1. COLLECTION OF INFORMATION</h3>
   <p class="col-12">
    “<strong>Personal information</strong>” means information that identifies, relates to, describes, is capable of being associated with, or could reasonably be linked to, directly or indirectly, a particular consumer or household.  The following are categories (with non-exhaustive examples) of personal information we may collect from you or about you:
  </p>
  <ol>
    <li>
      <strong>Identifier Information</strong>:  We may collect identifying information which may include your name, email, phone number, login name and password, address, payment or banking information (including related payment verification information), and contractor certifications and authorizations.
    </li>
    <li>
      <strong>Commercial Information</strong>:  We may collect information that you submit when you contact <%= COMPANY_AKA %> customer support, provide reviews, or otherwise contact <%= COMPANY_AKA %>.
    </li>
    <li>
      <strong>Internet or Network Activity</strong>:  We may collect information related to a User’s browsing history, search history, or information on an individual’s interaction with a website, application, or advertisement.
    </li>
    <li>
      <strong>Inferences Drawn from Personal Information</strong>: We may collect and create a profile reflecting a person’s preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, or aptitudes.
    </li>
  </ol>
</div>

<div class="row">
  <div class='col-12'><hr /></div>
</div>

<div class="row">
  <h3>2. USE OF PERSONAL INFORMATION</h3>

   <p class="col-12">
    <%= COMPANY_AKA %>’s primary purpose in collecting personal information is to provide privacy related services for organizations who are required to comply with certain privacy laws.  <%= COMPANY_AKA %> may also use personal information for various purposes, including without limitation:
  </p>
  <ol>
    <li>
      Fulfilling your requests for purchasing products or services.
    </li>
    <li>
      Understanding and analyzing the usage trends and preferences of our Users to make our Privacy Platform better, diagnose technical issues, prevent fraud, and develop new features and functionality.
    </li>
    <li>
      To personalize your experience on the Privacy Platform and to deliver information about products and services relevant to your interests.
    </li>
    <li>
      To provide Users with maintenance and support including responding requests for customer support or responding to your feedback.
    </li>
    <li>
      To send you materials, updates, information, special offers, and promotional material from us and from other Users and our partners.
    </li>
    <li>
      To respond to requests from law enforcement and as required by applicable law, court order, or government investigation.
    </li>
  </ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
  <h3>3. SHARING OF PERSONAL INFORMATION</h3>
   <p class="col-12">
    In addition to the specific situations discussed elsewhere in this Privacy Policy, <%= COMPANY_AKA %> may share your personal information in the following circumstances:
  </p>
  <ol>
    <li>
      <strong>Related Companies and M&A Transactions</strong>.  We may share your personal information with companies that are affiliated with us (that is, that control, are controlled by, or are under common control with us).  In addition, if we sell all or part of its business or make a sale or transfer of assets or is otherwise involved in a merger or business transfer, we may transfer your personal information to a third party as part of that transaction, including at the negotiation stage.
    </li>
    <li>
      <strong>Consent</strong>.  We may ask if you would like us to share your personal information with other unaffiliated third parties who are not described elsewhere in this Privacy Policy, and we may do so with your consent.
    </li>
    <li>
      <strong>Legal Compliance</strong>.  We may disclose personal information in response to subpoenas, warrants, or court orders, in connection with any legal process, or to comply with relevant laws.  We may also share your personal information in order to establish or exercise our rights; to defend against a legal claim; to investigate, prevent, or take action regarding possible illegal activities or fraud; to protect the safety and security of other Users; or to prevent a violation of our Terms of Use.
    </li>
    <li>
      <strong><%= COMPANY_AKA %> Service Providers</strong>. We may share your personal information with third parties who perform services on our behalf that are necessary for the orderly operation of the Privacy Platform.  Among other things service providers may help us perform website hosting, app design, maintenance services, database management, web analytics, billing, payment processing, fraud protection, credit risk reduction, marketing, or any other use set out in this Privacy Policy.  Access to your personal information by these service providers is limited to the information reasonably necessary for the service provider to perform its limited function.  We require our service providers to keep the personal information that they are provided with confidential and to comply with all applicable laws.
    </li>
    <li>
      <strong>Joint Offerings</strong>.  We may jointly offer events or offerings with other third-party product or service providers.  The personal information that you submit through an event, promotion, or other product or service offering may be combined and transmitted with the registration information related to your account.  Third-parties may collect information directly from you, which may be combined with personal information disclosed by us.  If you decide to request, enter into, or participate in an event, promotion, or other product or service offering that is offered by us and identified as a joint effort with a third-party, the information that you provide may be shared with us and with that identified third-party.
    </li>
    <li>
      <strong>Referrals</strong>.  You may recommend other Users to join the Privacy Platform or receive privacy related services by providing their contact information.
    </li>
  </ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
  <h3>4. SECURITY OF PERSONAL INFORMATION</h3>
   <p class="col-12">
    No method of transmission over the internet, or method of electronic storage, is fully secure.  While we use reasonable efforts to protect your personal information from the risks presented by unauthorized access or acquisition, we cannot guarantee the security of your personal information.  In the event that we are required by law to inform you of any unauthorized access or acquisition of your personal information we may notify you electronically, in writing, or by telephone, if permitted to do so by law.
  </p>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
  <h3>5. YOUR CHOICES</h3>
   <p class="col-12">
    <%= COMPANY_AKA %> has implemented the following methods that you may use to modify your personal information, or choose how your information is used:
  </p>
  <ol>
    <li>
      <strong>Changes to Your Personal Information</strong>.  We rely on you to update and correct the personal information contained in your account.  Note that we may keep historical information in our backup files as permitted by law.  If our Privacy Platform does not permit you to update or correct certain personal information, please contact us as described below.
    </li>
    <li>
      <strong>Promotional E-mails</strong>.  If we obtain your e-mail address for the purpose of allowing us to send newsletters, surveys, offers, and other promotional materials related to our Privacy Platform, as well as targeted offers from third parties.  You can stop receiving promotional e-mails by clicking the “unsubscribe” links in the e-mails or by contacting us as described below.  If you decide not to receive promotional e-mails, we may still send you service-related communications, such as those about your account, to fulfill orders for products and service you have requested, or deliver notifications directly to you through the Privacy Platform.
    </li>
    <li>
      <strong>Do-Not-Track</strong>.  Some web browsers and devices permit you to broadcast a preference that you not be “tracked” online.  At this time we do not modify your experience based upon whether such a signal is broadcast, except as required by law.
    </li>
  </ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
  <h3>6. Additional California Privacy Rights</h3>
   <p class="col-12">
    If you are a California resident, California law may provide you with additional rights regarding our use of your personal information.  To learn more about your California privacy rights, visit our <%= link_to 'California Privacy Policy', privacy_policy_california_path %>.
  </p>
</div>

<div class="row">
  <div class="col-12"><hr></div>
</div>

<div class="row">
  <h3>7. CONTACTING US</h3>
  <p class="col-12">
    If you have any questions or concerns about our Privacy Policy or any other privacy or security issue, please contact us at:
  </p>
  <p class="col-12">
    First Movers Advantage, LLC<br />
    Attn: Privacy Agent<br />
    2575 Pearl St, Ste 230<br />
    Boulder, CO 80302
  </p>
  <p class="col-12">Or by calling (888) 598-1101.</p>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
  <p class="col-12">Last Revised: December 31, 2019</p>
</div>
</div>
