<div class="container">
<div class="row">
  <h1>California Privacy Policy</h1>
<p class="col-12">
<%= FMA_LLC %>, on behalf of its subsidiaries and affiliates (collectively, “<strong><%= COMPANY_AKA %></strong>,” “<strong>us</strong>,” “<strong>we</strong>,” or “<strong>our</strong>”) has prepared this California Privacy Policy (“<strong>California Privacy Policy</strong>”) to describe to you, as a resident of California, or if you represent an entity or other organization located in California, that entity or organization (in either case, “<strong>you</strong>,” or “<strong>your</strong>”) our practices regarding the personal information that <%= COMPANY_AKA %> collects, uses, and shares on behalf of website visitors, or other individuals that may have a need for certain privacy related services (“<strong>Individuals</strong>”) and service providers that provide privacy related services to Individuals (“<strong>Service Providers</strong>,” collectively with Individuals, “<strong>Users</strong>”) of our online privacy and informational platform (the “<strong>Privacy Platform</strong>”) accessed through the website located at www.fmaprivacy.com, and any other websites operated by <%= COMPANY_AKA %>, including www.fmaprivacy.org and donotsell.app (each, a “<strong>Site</strong>”) (and each Site shall be treated as a part of the Privacy Platform for purposes of this California Privacy Policy). This California Privacy Policy applies solely to Users who are residents of the State of California (as defined in Section 17014 of Title 18 of the California Code of Regulations). Capitalized terms not defined in this California Privacy Policy, shall have the meanings as defined in the <%= COMPANY_AKA %> Terms of Use, located at <%= link_to 'Terms of Use', terms_of_use_url %>.
</p>
<p class="col-12">
  <%= COMPANY_AKA %> reserves the right, at any time, to modify this California Privacy Policy.  If we make revisions that change the way we collect, use, or share personal information, we will post those changes in this California Privacy Policy.  You should review this California Privacy Policy periodically so that you keep up to date on our most current policies and practices.  We will note the effective date of the latest version of our California Privacy Policy at the end of this California Privacy Policy.  Your continued use of the Privacy Platform following posting of changes constitutes your acceptance of such changes.
</p>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
<h2 class="col-12">1. COLLECTION OF PERSONAL INFORMATION</h2>
<h3 class="col-12">1.1 Personal Information</h3>
<p class="col-12">
  <strong>“Personal Information”</strong> means information that identifies, relates to, describes, is capable of being associated with, or could reasonably be linked to, directly or indirectly, a particular consumer or household.  The following are categories (with non-exhaustive examples) of personal information we may collect about you:
</p>
<table class="table">
  <thead>
    <tr>
      <th>Categories</th>
      <th>Examples</th>
      <th>Processing Purpose</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A. Individual Identifiers and Demographic Information</td>
      <td>A name, email, phone number, login name and password, address, payment or banking information (including related payment verification information), and contractor certifications and authorizations</td>
      <td>
        <ol>
          <li>To provide our products and services.</li>
          <li>To improve our products and services.</li>
          <li>To understand your interests.</li>
          <li>To respond to your requests or questions.</li>
          <li>To determine your eligibility and set up your account.</li>
          <li>To secure the Privacy Platform.</li>
          <li>To communicate with you.</li>
          <li>To Market Products or Services.</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>B. Commercial Information</td>
      <td>Records of products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies. This information may also include information that you submit when you contact <%= COMPANY_AKA %> customer support, provide reviews, or otherwise contact <%= COMPANY_AKA %>.</td>
      <td>
        <ol>
          <li>To provide our products and services.</li>
          <li>To improve our products and services.</li>
          <li>To understand your interests.</li>
          <li>To respond to your requests or questions.</li>
          <li>To Market Products or Services.</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>C. Internet or Network Activity</td>
      <td>Browsing history, search history, information on an individual’s interaction with a website, application, or advertisement.</td>
      <td>
        <ol>
          <li>To provide our products and services.</li>
          <li>To improve our products and services.</li>
          <li>To understand your interests.</li>
          <li>To Market Products or Services.</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>D. Inferences Drawn from Personal Information</td>
      <td>Profile reflecting a person’s preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, or aptitudes.</td>
      <td>
        <ol>
          <li>To provide our products and services.</li>
          <li>To improve our products and services.</li>
          <li>To understand your interests.</li>
          <li>To Market Products or Services.</li>
        </ol>
      </td>
    </tr>
  </tbody>
</table>
<p class="col-12">Personal information does not include:</p>
<ol>
  <li><strong>Publicly Available</strong> - Publicly available information from government records.</li>
  <li><strong>Deidentified or Aggregate information</strong> – “<strong>Deidentified Information</strong>” means information that cannot reasonably identify, relate to, describe, be capable of being associated with, or be linked, directly or indirectly, to a particular individual, and for which <%= COMPANY_AKA %> has implemented technical safeguards and business processes that prohibit reidentification of the individual.  “<strong>Aggregate Information</strong>” means information that relates to a group or category of individuals, from which individual identities have been removed, that is not linked or reasonably linkable to any individual or household, including via a device.</li>
  <li><strong>Excluded Information</strong> – Certain laws require separate privacy notices or are exempt from general personal information privacy policy disclosure requirements.  Such laws include information covered by the Fair Credit Reporting Act (FCRA).</li>
</ol>
<h3 class="col-12">1.2 Sources of Personal Information.</h3>
<p class="col-12">We obtain the categories of personal information listed above on or through our Privacy Platform from the following categories of sources:</p>
<ol>
  <li><strong>Personal Information You Provide.</strong> <%= COMPANY_AKA %> collects personal information when you voluntarily submit it to us.  For example, we may collect or receive personal information from Users if a User creates a User account; edits registration information; signs up to receive promotional communications; uses or accesses a service or content available through the Privacy Platform; participates in one of our surveys; posts a review; submits a request to our customer service team; interacts with our social media pages; or otherwise interact with us through the Privacy Platform.</li>
  <li><strong>Automatically Collected Personal Information.</strong> <%= COMPANY_AKA %> indirectly collects other information from you automatically through the Privacy Platform. For example, we receive personal information from Users when a User visits and navigates our Privacy Platform on any device. <%= COMPANY_AKA %> collects some personal information automatically using Cookies or other online tracking technologies.</li>
  <li><strong>Personal Information Obtained from Third Parties.</strong> <%= COMPANY_AKA %> may obtain or receive personal information about you from other third party sources.  For example, we receive personal information from our business partners, or companies that provide personal information to supplement what we already know about Users.</li>
</ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
<h2 class="col-12">2. USE OF PERSONAL INFORMATION</h2>
<p class="col-12"><%= COMPANY_AKA %> may use personal information for various purposes, including without limitation:</p>
<ol>
  <li><strong>To Provide Our Products and Services.</strong> This could include fulfilling your requests for products or services. It could also include processing purchases or other transactions.  For example, if you share your personal information to request a price quote or ask a question about our products or services, we will use that personal information to respond to your inquiry.  If you provide your personal information to purchase a product or service, we will use such information to process your payment and facilitate delivery.  We may also save your personal information to facilitate new product or service orders, or process returns.</li>
  <li><strong>To Improve Our Products and Services.</strong> We use personal information to understand and analyze the usage trends and preferences of our Users to make our Privacy Platform better, diagnose technical issues, prevent fraud, and develop new features and functionality.</li>
  <li><strong>To Understand Your Interests.</strong> We use your personal information to personalize your experience on the Privacy Platform and to deliver information about products and services relevant to your interests.</li>
  <li><strong>To Respond to Your Requests or Questions.</strong> We use personal information to provide you with support and to respond to your requests for customer support, including to investigate and address your concerns and monitor and improve our responses.  This may also include responding to your feedback.</li>
  <li><strong>To Determine Your Eligibility and Set Up Your Account.</strong> We use your personal information to verify your identity or determine your eligibility for some of our products and services.  For example, this may include verifying your name, age, date of birth, employment status, and place of residence.  If you set up an account on the Privacy Platform, we will use the registration information you provide in relation to that account creation to create, maintain, customize, and secure your account.</li>
  <li><strong>To Market Products or Services.</strong> We provide you with information about products and services.  For example, we may use direct mail postcards, Internet web browser cookies, or other online technologies to provide customized advertisements, content, and information; and monitor and analyze the effectiveness of marketing activities.  These might be third party offers from product or service providers that we think you might find interesting.  These communications may be advertising that contain information that is openly available or gathered across multiple websites, devices, or come in the form of other interest-based platforms.</li>
  <li><strong>To Secure the Privacy Platform.</strong> We use personal information to maintain the safety, security, and integrity of our Privacy Platform, products and services, databases and other technology assets, business, and other Users.</li>
  <li><strong>To Communicate with You.</strong> We may communicate with you about your account or our relationship.  We may also contact you about this California Privacy Policy or the Terms of Use.</li>
  <li><strong>As Required by Law.</strong>  We use personal information to respond to requests from law enforcement and as required by applicable law, court order, or government investigation.</li>
</ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
<h2 class="col-12">3. SHARING OF PERSONAL INFORMATION</h2>
<p class="col-12">In addition to the specific situations discussed elsewhere in this California Privacy Policy, <%= COMPANY_AKA %> may share your personal information in the following circumstances:</p>
<ol>
  <li><strong>Related Companies and M&A Transactions.</strong>  We may share your personal information with companies that are affiliated with us (that is, that control, are controlled by, or are under common control with us). In addition, if we sell all or part of its business or make a sale or transfer of assets or is otherwise involved in a merger or business transfer, we may transfer your personal information to a third party as part of that transaction, including at the negotiation </li>
  <li><strong>Consent.</strong> We may ask if you would like us to share your personal information with other unaffiliated third parties who are not described elsewhere in this California Privacy Policy, and we may do so with your consent.</li>
  <li><strong>Legal Compliance.</strong> We may disclose personal information in response to subpoenas, warrants, or court orders, in connection with any legal process, or to comply with relevant laws.  We may also share your personal information in order to establish or exercise our rights; to defend against a legal claim; to investigate, prevent, or take action regarding possible illegal activities or fraud; to protect the safety and security of other Users; or to prevent a violation of our Terms of Use.</li>
  <li><strong><%= COMPANY_AKA %> Service Providers.</strong> We may share your personal information with third parties who perform services on our behalf that are necessary for the orderly operation of the Privacy Platform.  Among other things service providers may help us perform website hosting, app design, maintenance services, database management, web analytics, billing, payment processing, fraud protection, credit risk reduction, marketing, or any other use set out in this California Privacy Policy.  Access to your personal information by these service providers is limited to the information reasonably necessary for the service provider to perform its limited function.  We require our service providers to keep the personal information that they are provided with confidential and to comply with all applicable laws.</li>
  <li>
    <strong>Joint Offerings</strong>.  We may jointly offer events or offerings with other third-party product or service providers.  The personal information that you submit through an event, promotion, or other product or service offering may be combined and transmitted with the registration information related to your account.  Third-parties may collect information directly from you, which may be combined with personal information disclosed by us.  If you decide to request, enter into, or participate in an event, promotion, or other product or service offering that is offered by us and identified as a joint effort with a third-party, the information that you provide may be shared with us and with that identified third-party.
  </li>
  <li><strong>Referrals.</strong>  You may recommend other Users to join the Privacy Platform or receive related services by providing their contact information.</li>
  <li><strong>Disclosures for a Business Purpose or Valuable Consideration.</strong>  <%= COMPANY_AKA %> must disclose whether the following categories of personal information are disclosed for a "business purpose" or “valuable consideration” as those terms are defined under California law.  Note that while a category below may be marked, that does not necessarily mean that we have personal information in that category about you.  In the proceeding twelve months, we have disclosed the following categories of personal information in the manner described.
    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Information is Disclosed for a Business Purpose</th>
          <th>Information is Disclosed for Valuable Consideration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A. Individual Identifiers and Demographic Information</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td>B. Commercial Information</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td>C. Internet or Network Activity</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td>D. Inferences Drawn from Personal Information</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>
  </li>
</ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
<h2 class="col-12">4. SECURITY OF PERSONAL INFORMATION</h2>
<p class="col-12">No method of transmission over the internet, or method of electronic storage, is fully secure.  While we use reasonable efforts to protect your personal information from the risks presented by unauthorized access or acquisition, we cannot guarantee the security of your personal information.  In the event that we are required by law to inform you of any unauthorized access or acquisition of your personal information we may notify you electronically, in writing, or by telephone, if permitted to do so by law.</p>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
<h2 class="col-12">5. YOUR CHOICES</h2>
<p class="col-12">You can make the following choices regarding your personal information:</p>
<ol>
  <li><strong>Access to Your Personal Information.</strong>  You may request access to your personal information by contacting us as described below.  We will grant you reasonable access to the data that we have about you as required by law.</li>
  <li><strong>Changes to Your Personal Information.</strong>  We rely on you to update and correct the personal information contained in your account.  Note that we may keep historical information in our backup files as permitted by law.  If our Privacy Platform does not permit you to update or correct certain personal information, please contact us as described below.</li>
  <li><strong>Deletion of Your Personal Information.</strong>  Typically, we retain your personal information for the period necessary to fulfill the purposes outlined in this California Privacy Policy, unless a longer retention period is required or permitted by law.  You may, however, request that we delete your personal information by contacting us as described below.  We will accept a request to delete information as required by law, but you should note that in most situations we must keep your personal information to comply with our legal obligations, resolve disputes, enforce our agreements, or for another one of our business purposes.  Except as provided above, we will delete, aggregate, or de-identify all of your personal information as described in this subsection within the timeframes required by law. Consistent with California Civil Code Section 1798.105 (d)(2), we will retain all Personal Information received to detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity; or prosecute those responsible for that activity.</li>
</ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">

<h2 class="col-12">6. OPTING OUT</h2>
<p class="col-12">You can make the following choices to opt out of certain activities regarding your personal information:</p>
<ol>
  <li><strong>Promotional E-mails or Mailers.</strong> If we obtain your e-mail or postal address for the purpose of allowing us to send newsletters, surveys, offers, and other promotional materials related to our Privacy Platform, as well as targeted offers from third parties.  You can stop receiving promotional e-mails by clicking the “unsubscribe” links in the e-mails or by contacting us as described below. You can stop receiving promotional mailings by contacting us at the web form below. If you decide not to receive promotional e-mails or mailings, we may still send you service-related communications, such as those about your account, to fulfill orders for products and service you have requested, or deliver notifications directly to you through the Privacy Platform.</li>
  <li><strong>Do-Not-Track.</strong>  Some web browsers and devices permit you to broadcast a preference that you not be “tracked” online.  At this time we do not modify your experience based upon whether such a signal is broadcast, except as required by law.</li>
  <li><strong>Right to Opt Out of Disclosure of Personal Information for Valuable Consideration.</strong> To the extent <%= COMPANY_AKA %> sells any of your personal information, if you are 16 years of age or older, you have the right to direct us to not sell your personal information at any time.  We do not sell the personal information of consumers we actually know are less than 16 years of age, unless we receive affirmative authorization from either the consumer who is between 13 and 16 years of age.  Consumers who opt-in to personal information sales may opt-out of future sales at any time.  To exercise the right to opt-out, you (or your authorized representative) may submit a request to us by contacting us as described below.  Once you make an opt-out request, we will wait at least twelve months before asking you to reauthorize personal information sales.  However, you may change your mind and opt back into personal information sales at any time by contacting us as described below.  You do not need to create an account with us to exercise your opt-out rights.  We will only use personal information provided in an opt-out request to review and comply with the request.</li>
  <li><strong>Notice of Disclosure for Direct Marketing.</strong>  Under California Civil Code sections 1798.83-1798.84, California residents who have an established business relationship with us are entitled to ask us for a notice describing what categories of personal information we share with third parties for their direct marketing purposes.  This notice will identify the categories of information shared with and will include a list of the third parties with which it is shared, along with their names and addresses.  If you are a California resident and would like a copy of this notice, please submit a written request to us at the addresses listed below.</li>
</ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
<h2 class="col-12">7. EXERCISING YOUR PRIVACY RIGHTS</h2>
<p class="col-12">When exercising the rights or options described in this California Privacy Policy, the following guidelines apply:</p>
<ol>
  <li><strong>No Fee Usually Required.</strong>  You will not have to pay a fee to access your personal information (or to exercise any of the other rights).  However, we may charge a reasonable fee or decline to comply with your request if your request is clearly unfounded, repetitive, or excessive.</li>
  <li><strong>What We May Need from You.</strong>  When exercising your rights or otherwise assisting you, we may need to request specific information from you to help us confirm your identity.  This is a security measure to ensure we do not disclose personal information to any person who is not entitled to receive it. We may also contact you to ask you for further information in relation to your request to speed up our response.</li>
  <li><strong>Time to Respond.</strong>  We try to respond to all legitimate requests within 45 days of your request.  Occasionally it may take us longer than 45 days to respond, for instance if your request is particularly complex or you have made a number of requests.  In this case, we will notify you of the delay, and may continue to update you regarding the progress of our response.</li>
  <li><strong>No Discrimination.</strong>  You will not be subject to discrimination as a result of exercising the rights described herein.  In some cases, when you exercise one of your rights, we will be unable to comply with the request due to legal obligations or otherwise, or we will be unable to provide you certain products or services.  These responses are not discrimination and our reasons for declining your request or ceasing services will be provided at that time.</li>
  <li><strong>Authorized Agent.</strong> You may designate an authorized agent to make a request on your behalf. In order to designate an authorized agent to make a request on your behalf, you must provide a valid power of attorney, the requester’s valid government issued identification, and the authorized agent’s valid government issued identification.</li>
</ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
<h2 class="col-12">8. Request Forms</h2>
<p class="col-12">
  To exercise your choices or opt out rights as described in this California Privacy Policy, please use the following forms:
</p>
<ol>
  <ul>
    <li>
      <%= link_to 'Do Not Sell My Personal Information', do_not_sell_my_personal_information_path %>
    </li>
    <li><%= link_to 'Disclosure of Personal Information', 'https://donotsell.app/privacy-requests/new/disclosure/fmaprivacy?locale=en', target: '_blank' %></li>
    <li><%= link_to 'Deletion of Personal Information', 'https://donotsell.app/privacy-requests/new/deletion/fmaprivacy?locale=en', target: '_blank' %></li>
    <li><%= link_to 'Mail-In Privacy Request Form', 'https://donotsell.app/privacy-request-printable?client_uuid=fmaprivacy&locale=en', target: '_blank' %></li>
  </ul>
</ol>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
<h2 class="col-12">9. CONTACTING US</h2>
<p class="col-12">If you have any questions or concerns about our California Privacy Policy or any other privacy or security issue, please contact us at:</p>
<p class="col-12">
  First Movers Advantage, LLC<br />
  Attn: Privacy Agent<br />
  2575 Pearl St, Ste 230<br />
  Boulder, CO 80302
</p>
<p class="col-12">Or by calling us at (888) 598-1101.</p>
</div>

<div class="row">
  <div class='col-12'><hr></div>
</div>

<div class="row">
<p class="col-12">Last Revised: December 31, 2019</p>
</div>
</div>
