<h1>Terms of Use</h1>
<p>These Terms of Use tell you about our services, our relationship to you as a user, and the rights and responsibilities that guide us both.</p>
<p>Please be aware that you are legally responsible for all information provided in your Consumer Requests under the laws of the United States of America and other applicable laws (which may include the laws where you live or where you view or edit content). This means it is important that you use caution to provide accurate and truthful information when making Consumer Requests. In light of this responsibility, we have some rules about what you can and cannot post, most of which is either for your own protection or for the protection of other users like yourself. Please keep in mind that the content we host is for specific purposes only, so if you need expert advice for a particular question, you should seek the help of a licensed or qualified professional. We also include other important notices and disclaimers, so please read these Terms of Use in their entirety.</p>
<h3>Our Services</h3>
<p>
  At <%= FMA_LLC %>, our role is to process Consumer Requests on behalf of businesses who wish to comply with applicable consumer privacy laws. However, we act only as a service provider, maintaining the infrastructure and organizational framework that allows consumers and our clients to securly submit, verify, and deliver Consumer Requests. Because of our unique role, there are a couple of things you should be aware of when considering our relationship to you, the site, and the our clients:
  <ol>
    <li>We do not make decisions about Consumer Requests after they have been delivered: This means that we generally do not monitor or track the status of a Consumer Request after it has been delivered to the business that you indicate.</li>
    <li>You are legally responsible for your edits and submission of Personal Information on this site, so for your own protection you should exercise caution and avoid submitting any content that may result in criminal or civil liability under any applicable laws. For clarity, applicable law includes at least the laws of the United States of America. Although we may not agree with such actions, authorities may seek to apply other country laws to you, including local laws where you live or where you view or edit content. <%= FMA_LLC %> generally cannot offer any protection, guarantee, immunity or indemnification.</li>
  </ol>
</p>
<h3>Privacy Policy</h3>
<p>We ask that you review the terms of our <%= link_to 'Privacy Policy', privacy_policy_path %>, so that you are aware of how we collect and use your information. Personal information that we collect will be stored and processed in the United States of America or any other country in which we or our agents maintain facilities. By using our services, you consent to any such transfer of information outside your country.</p>
<h3>Refraining from Certain Activities</h3>
<p>
  Certain activities, whether legal or illegal, may be harmful to other users and violate our rules, and some activities may also subject you to liability. Therefore, for your own protection and for that of other users, you may not engage in such activities on our sites. These activities include:
  <ol>
    <li>Engaging in harassment, threats, stalking, spamming, or vandalism; and</li>
    <li>Transmitting chain mail, junk mail, or spam to other users.</li>
    <li>Infringing the privacy rights of others under the laws of the United States of America or other applicable laws (which may include the laws where you live or where you view or edit content);</li>
    <li>Soliciting personally identifiable information for purposes of harassment, exploitation, violation of privacy, or any promotional or commercial purpose not explicitly approved by <%= FMA_LLC %>; and</li>
    <li>Soliciting personally identifiable information from anyone under the age of 18 for an illegal purpose or violating any applicable law regarding the health or well-being of minors.</li>
    <li>Intentionally or knowingly posting content that constitutes libel or defamation;</li>
    <li>With the intent to deceive, posting content that is false or inaccurate;</li>
    <li>Attempting to impersonate another user or individual, misrepresenting your affiliation with any individual or entity, or using the username of another user with the intent to deceive; and</li>
    <li>Engaging in fraud.</li>
    <li>Infringing copyrights, trademarks, patents, or other proprietary rights under applicable law.</li>
    <li>Posting child pornography or any other content that violates applicable law concerning child pornography;</li>
    <li>Posting or trafficking in obscene material that is unlawful under applicable law; and</li>
    <li>Using the services in a manner that is inconsistent with applicable law.</li>
    <li>Posting or distributing content that contains any viruses, malware, worms, Trojan horses, malicious code, or other device that could harm our technical infrastructure or system or that of our users;</li>
    <li>Engaging in automated uses of the site that are abusive or disruptive of the services and have not been approved by <%= FMA_LLC %>;</li>
    <li>Disrupting the services by placing an undue burden on this website or the networks or servers connected with this website;</li>
    <li>Disrupting the services by inundating this website with communications or other traffic that suggests no serious intent to use this website for its stated purpose;</li>
    <li>Knowingly accessing, tampering with, or using any of our non-public areas in our computer systems without authorization; and</li>
    <li>Probing, scanning, or testing the vulnerability of any of our technical systems or networks unless you have specific permission from <%= FMA_LLC %>.</li>
    <li>These Terms of Use prohibit engaging in deceptive activities, including misrepresentation of affiliation, impersonation, and fraud. As part of these obligations, if you are a third party acting on behalf of a consumer, you must disclose your employer, client, and affiliation with respect to any submission. Such disclosure must me made on every submission of a Consumer Request.</li>
  </ol>
</p>
<h4>Password Security</h4>
<p>You are responsible for safeguarding your own password and should never disclose it to any third party.</p>
<h4>Third-party Websites and Resources</h4>
<p>You are solely responsible for your use of any third-party websites or resources. Although this site may contain links to third-party websites and resources, we do not endorse and are not responsible or liable for their availability, accuracy, or the related content, products, or services (including, without limitation, any viruses or other disabling features), nor do we have any obligation to monitor such third-party content.</p>
<h4>Management of Website</h4>
<p>
  We reserve the right, but do not have the obligation to:
  <ol>
    <li>Investigate your use of the service (a) to determine whether a violation of these Terms of Use, or other applicable law or policy has occurred, or (b) to comply with any applicable law, legal process, or appropriate governmental request;</li>
    <li>Detect, prevent, or otherwise address fraud, security, or technical issues or respond to user support requests;</li>
    <li>Refuse, disable, or restrict access to the contribution of any user who violates these Terms of Use;</li>
    <li>Ban a user from editing or submiting Consumer Requests or block a user's account or access for actions violating these Terms of Use, including repeat copyright infringement;</li>
    <li>Take legal action against users who violate these Terms of Use (including reports to law enforcement authorities); and</li>
    <li>Manage otherwise this website in a manner designed to facilitate their proper functioning and protect the rights, property, and safety of ourselves and our users, licensors, partners, and the public.</li>
  </ol>
</p>
<p>In the interests of our users and employees, in the extreme circumstance that any individual has had his or her account or access blocked under this provision, he or she is prohibited from creating or using another account on or seeking access to any other site controlled by <%= FMA_LLC %>, unless we provide explicit permission.</p>
<p>The blocking of an account or access or the banning of a user under this provision shall be in accordance with the Termination Section of these Terms of Use.</p>
<h4>Termination</h4>
<p class="highlight-for-emphasis">Highlighted for Emphasis.</p>
<p class="highlight-for-emphasis">We hope that no serious disagreements arise involving you, but, in the event there is a dispute, we encourage you to seek resolution through the dispute resolution procedures or mechanisms provided by <%= FMA_LLC %>. If you seek to file a legal claim against us, you agree to file and resolve it exclusively in a state or federal court located in Boulder County, Colorado. You also agree that the laws of the State of Colorado and, to the extent applicable, the laws of the United States of America will govern these Terms of Use, as well as any legal claim that might arise between you and us (without reference to conflict of laws principles). You agree to submit to the personal jurisdiction of, and agree that venue is proper in, the courts located in Boulder County, Colorado, in any legal action or proceeding relating to us or these Terms of Use.</p>
<p class="highlight-for-emphasis">To ensure that disputes are dealt with soon after they arise, you agree that regardless of any statute or law to the contrary, any claim or cause of action you might have arising out of or related to use of our services or these Terms of Use must be filed within the applicable statute of limitations or, if earlier, one (1) year after the pertinent facts underlying such claim or cause of action could have been discovered with reasonable diligence (or be forever barred).</p>
<h4>Disclaimers</h4>
<p class="highlight-for-emphasis">Highlighted for Emphasis.</p>
<p class="highlight-for-emphasis">At <%= FMA_LLC %>, we do our best to provide educational and informational content to a very wide audience, but your use of our services is at your sole risk. We provide these services on an "as is" and "as available" basis, and we expressly disclaim all express or implied warranties of all kinds, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. We make no warranty that our services will meet your requirements, be safe, secure, uninterrupted, timely, accurate, or error-free, or that your information will be secure.</p>
<p class="highlight-for-emphasis">We are not responsible for the content, data, or actions of third parties, and you release us, our directors, officers, employees, and agents from any claims and damages, known and unknown, arising out of or in any way connected with any claim you have against any such third parties. No advice or information, whether oral or written, obtained by you from us or through or from our services creates any warranty not expressly stated in these Terms of Use.</p>
<p class="highlight-for-emphasis">Any material downloaded or otherwise obtained through your use of our services is done at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material. You agree that we have no responsibility or liability for the deletion of, or the failure to store or to transmit, any content or communication maintained by the service. We retain the right to create limits on use and storage at our sole discretion at any time with or without notice.</p>
<p class="highlight-for-emphasis">Some states or jurisdictions do not allow the types of disclaimers in this section, so they may not apply to you either in part or in full depending on the law.</p>
<h4>Limitation on Liability</h4>
<p class="highlight-for-emphasis">Highlighted for Emphasis.</p>
<p class="highlight-for-emphasis"><%= FMA_LLC %> will not be liable to you or to any other party for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, regardless of whether we were advised of the possibility of such damage. In no event shall our liability exceed one thousand U.S. dollars (USD 1000.00) in aggregate. In the case that applicable law may not allow the limitation or exclusion of liability or incidental or consequential damages, the above limitation or exclusion may not apply to you, although our liability will be limited to the fullest extent permitted by applicable law.</p>
<h4>Modifications to these Terms of Use</h4>
<p>Because it may be necessary to modify these Terms of Use from time to time, we will provide notice of such modifications and the opportunity to comment via this website. However, we ask that you please periodically review the most up-to-date version of these Terms of Use. Your continued use of our services after the new Terms of Use become official following the notice and review period constitutes an acceptance of these Terms of Use on your part. For the protection of <%= FMA_LLC %> and other users like yourself, if you do not agree with our Terms of Use, you cannot use our services.</p>
<h4>Other Terms</h4>
<p>These Terms of Use do not create an employment, agency, partnership, or joint venture relationship between you and us, <%= FMA_LLC %>. If you have not signed a separate agreement with us, these Terms of Use are the entire agreement between you and us. If there is any conflict between these Terms of Use and a signed written agreement between you and us, the signed agreement will control.</p>
<p>You agree that we may provide you with notices, including those regarding changes to the Terms of Use, by email, regular mail, or postings on this website.</p>
<p>If in any circumstance, we do not apply or enforce any provision of these Terms of Use, it is not a waiver of that provision.</p>
<p>You understand that, unless otherwise agreed to in writing by us, you have no expectation of compensation for any activity, contribution, or idea that you provide to us.</p>
<p>Notwithstanding any provision to the contrary in these Terms of Use, we (<%= FMA_LLC %>) and you agree not to modify the applicable terms and requirements of any free license that is employed on the site when such free license is authorized by these Terms of Use.</p>
<p>These Terms of Use were written in English (U.S.). While we hope that translations of these Terms of Use are accurate, in the event of any differences in meaning between the original English version and a translation, the original English version takes precedence.</p>
<p>If any provision or part of a provision of these Terms of Use is found unlawful, void, or unenforceable, that provision or part of the provision is deemed severable from these Terms of Use and will be enforced to the maximum extent permissible, and all other provisions of these Terms of Use will remain in full force and effect.</p>
<p>Thank You!</p>
<hr />
<h3>Version</h3>
<p>This is version 1 of our Terms of Use in effect from September 1, 2019.</p>
<hr />
<p>The text for these Terms of Use are available under the <%= link_to 'Creative Commons Attribution-ShareAlike License', 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License', target: '_blank' %>; additional terms may apply. This text has been adapted from the <%= link_to 'Wikipedia Terms of Use', 'https://foundation.wikimedia.org/wiki/Terms_of_Use/en', target: '_blank' %>.</p>
