<h1 class="page-header"><%= params[:network].capitalize %> Ping Thing</h1>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <table class='table mb-0'>
        <thead>
          <tr>
            <th class="align-middle">Created At</th>
            <th class="align-middle">Time</th>
            <th class="align-middle">Signature</th>
            <th class="align-middle">Transaction Type</th>
            <th class="align-middle">Posted by</th>
          </tr>
        </thead>
        <tbody>
          <% @ping_things.each do |pt| %>
            <tr>
              <td class="align-middle small text-muted"><%= pt.created_at %></td>
              <td class="align-middle">
                <strong class="text-success h6"><%= pt.response_time %></strong>&nbsp;ms
              </td>
              <td class="align-middle small text-muted">
                <%= pt.signature[0..15] + "..."%>
              </td>
              <td class="align-middle">
                <%= transaction_type_icon(pt.transaction_type).html_safe %>&nbsp;<%= pt.transaction_type %></td>
              <td class="align-middle text-muted"><%= pt.user.username %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
