<%= javascript_pack_tag 'navigations/network_buttons' %>

<footer>
  <% if flash[:cookie_notice] %>
    <div class="container">
      <div class="alert alert-info" role="alert">
        <%= flash[:cookie_notice] %>
        <%= link_to(t('ok'), saw_cookie_notice_path, method: :post, class: 'float-end') unless cookies[:saw_cookie_notice] %>
      </div>
    </div>
  <% end %>

  <nav class="container">
    <hr class="footer-separator"/>

    <div class="d-inline-block d-lg-flex justify-content-between">
      <div class="footer-category">
        <div class="footer-item"><%= link_to 'Validators', validators_path(network: params[:network]) %></div>
        <div class="footer-item"><%= link_to 'Commission Changes', commission_histories_path(network: params[:network]), "data-turbolinks": "false" %></div>
        <div class="footer-item"><%= link_to 'Authorities Changes', authorities_changes_path(network: params[:network]) %></div>
        <div class="footer-item"><%= link_to 'Data Centers', data_centers_url(network: params[:network]) %></div>
        <div class="footer-item"><%= link_to 'Ping Thing', ping_things_path(network: params[:network]), "data-turbolinks": "false" %></div>
      </div>
      <div class="footer-category">
        <div class="footer-item"><%= link_to "Stake Explorer", explorer_stake_accounts_path(network: params[:network]) %></div>
        <div class="footer-item"><%= link_to 'Stake Pools', stake_pools_path(network: params[:network]), "data-turbolinks": "false" %></div>
        <div class="footer-item"><%= link_to 'Sol Prices', sol_prices_path %></div>
        <div class="footer-item"><%= link_to 'Log Deep Dives', log_deep_dives_index_path %></div>
      </div>
      <div class="footer-category">
        <div class="footer-item"><%= link_to t('footer.nav_links.cookie_policy'), cookie_policy_path %></div>
        <div class="footer-item"><%= link_to t('footer.nav_links.privacy_policy'), privacy_policy_path %></div>
        <div class="footer-item"><%= link_to t('footer.nav_links.terms_of_use'), terms_of_use_path %></div>
        <div class="footer-item"><%= link_to t('footer.nav_links.contact_us'), contact_us_path %></div>
        <div class="footer-item"><%= link_to t('footer.nav_links.opt_out'), new_opt_out_request_path %></div>
      </div>
      <div class="footer-category">
        <div class="footer-item"><%= link_to 'API Docs', api_documentation_path %></div>
        <% if user_signed_in? %>
          <div class="footer-item">
            <%= link_to user_root_path do %>
              <i class="fa-solid fa-user me-2"></i> My Account
            <% end %>
          </div>
          <div class="footer-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket me-2"></i> Sign Out
            <% end %>
          </div>
        <% else %>
          <div class="footer-item"><%= link_to 'Log In', new_user_session_path %></div>
          <div class="footer-item"><%= link_to 'Sign Up', new_user_registration_path, "data-turbolinks": "false" %></div>
        <% end %>
      </div>
      <div class="footer-category">
        <div id="network-buttons"></div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="footer-disclaimer">
      <hr class="footer-separator"/>
      Block Logic, LLC ("BLOCK LOGIC") is the operator of this website. BLOCK LOGIC PROVIDES THE DATA HEREIN ON AN “AS IS”
      BASIS WITH NO WARRANTIES, AND HEREBY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING
      THE IMPLIED WARRANTIES OF MERCHANTABILITY, QUALITY, AND FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT,
      AND ANY WARRANTIES ARISING FROM A COURSE OF DEALING, COURSE OF PERFORMANCE, TRADE USAGE, OR TRADE PRACTICE. BLOCK LOGIC
      DOES NOT WARRANT THAT THE DATA WILL BE ERROR-FREE OR THAT ANY ERRORS WILL BE CORRECTED. ALL INFORMATION SHOULD
      BE INDEPENDENTLY VERIFIED BEFORE MAKING AN INVESTMENT OR DELEGATION DECISION.
    </div>

    <p>
      RPC Services powered by
      <%= link_to "https://triton.one/", target: "_blank" do %>
        <%= image_tag 'triton-logo.svg', height: '18', class: '' %>
      <% end %>
    </p>

    <div class="footer-copyright d-flex justify-content-between flex-wrap gap-3">
      <div>
        &copy; 2019<%= "-#{Date.today.year}" if Date.today.year > 2019 %>
        <%= FMA_LLC.capitalize %> <%= t('footer.copyright_text') %>
      </div>
      <div>
        <%= ENV["_APPSIGNAL_HOSTNAME"] || "www.validators.app" %>
      </div>
    </div>
  </div>
</footer>
