<footer>
  <% if flash[:cookie_notice] %>
    <div class="container">
      <div class="alert alert-info" role="alert">
        <%= flash[:cookie_notice] %>
        <%= link_to(t('ok'), saw_cookie_notice_path, method: :post, class: 'float-end') unless cookies[:saw_cookie_notice] %>
      </div>
    </div>
  <% end %>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <ul class="navbar-nav flex-wrap">
        <li class="nav-item">
          <%= link_to 'API Docs', api_documentation_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Validators', validators_path(network: params[:network]), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Data Centers', data_centers_url(network: params[:network]), class: 'nav-link' %>
        </li>
        <li class="nav-item" data-turbolinks="false">
          <%= link_to 'Commission Changes', commission_histories_path(network: params[:network]), class: 'nav-link' %>
        </li>
        <li class="nav-item" data-turbolinks="false">
          <%= link_to 'Stake Pools', stake_pools_path(network: params[:network]), class: 'nav-link' %>
        </li>
        <li class="nav-item" data-turbolinks="false">
          <%= link_to 'Ping Thing', ping_things_path(network: params[:network]), class: 'nav-link' %>
        </li>
        <li class="nav-item" data-turbolinks="true">
          <%= link_to 'Sol Prices', sol_prices_url(exchange: SolPrice::EXCHANGES[0], filtering: 7), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log Deep Dives', log_deep_dives_index_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('footer.nav_links.cookie_policy'), cookie_policy_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('footer.nav_links.privacy_policy'), privacy_policy_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('footer.nav_links.terms_of_use'), terms_of_use_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('footer.nav_links.opt_out'), new_opt_out_request_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('footer.nav_links.contact_us'), contact_us_path, class: 'nav-link' %>
        </li>

        <% if user_signed_in? && current_user.is_admin? %>
          <li class="nav-item">
            <%= link_to t('footer.nav_links.contact_requests'), contact_requests_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('footer.nav_links.opt_out_requests'), opt_out_requests_path, class: 'nav-link' %>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Dashboard", user_root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="footer-disclaimer">
      <hr class="footer-separator"/>
      Block Logic, LLC ("BLOCK LOGIC") is the operator of this website. BLOCK LOGIC PROVIDES THE DATA HEREIN ON AN “AS IS”
      BASIS WITH NO WARRANTIES, AND HEREBY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING
      THE IMPLIED WARRANTIES OF MERCHANTABILITY, QUALITY, AND FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT,
      AND ANY WARRANTIES ARISING FROM A COURSE OF DEALING, COURSE OF PERFORMANCE, TRADE USAGE, OR TRADE PRACTICE. BLOCK LOGIC
      DOES NOT WARRANT THAT THE DATA WILL BE ERROR-FREE OR THAT ANY ERRORS WILL BE CORRECTED. ALL INFORMATION SHOULD
      BE INDEPENDENTLY VERIFIED BEFORE MAKING AN INVESTMENT OR DELEGATION DECISION.
    </div>

    <p>
      RPC Services powered by
      <%= link_to "https://triton.one/", target: "_blank" do %>
        <%= image_tag 'triton-logo.svg', height: '18', class: '' %>
      <% end %>
    </p>

    <div class="footer-copyright">
      &copy; 2019<%= "-#{Date.today.year}" if Date.today.year > 2019 %>
      <%= FMA_LLC.capitalize %> <%= t('footer.copyright_text') %>
      (<%= request.env['SERVER_NAME'] %>)
    </div>
  </div>
</footer>
