<header class="container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="<%= root_url(network: params[:network]) %>">
      <%= image_tag 'VA-White-min.png', alt: t('home_page_link'), title: t('home_page') %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <% if params[:network] == 'mainnet'%>active<% end %>">
          <%= link_to 'Mainnet', root_url(network: 'mainnet'), class: "nav-link" %>
        </li>
        <li class="nav-item <% if params[:network] == 'testnet'%>active<% end %>">
          <%= link_to 'Testnet', root_url(network: 'testnet'), class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link btn btn-md btn-secondary" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link btn btn-md btn-secondary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>