<%= javascript_pack_tag 'navigations/network_buttons' %>
<%= javascript_pack_tag 'navigations/validator_searcher' %>

<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <%= link_to root_url(network: params[:network]), title: "Go to Home Page", class: "navbar-brand", "data-turbolinks": "false" do %>
        <%= image_tag 'VA-White-min.png', alt: "Link to Home Page" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Validators", validators_path(network: params[:network]), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Getting Started", faq_path, class: 'nav-link' %>
          </li>
          <div id="network-buttons"></div>
        </ul>
      </div>
    </div>
  </nav>
  <div id="validator-searcher"></div>
</header>
