<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || t('site_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% if params[:refresh] == 'true' %>
      <script type="text/javascript">
        setTimeout("location.reload();",60000);
      </script>
    <% end %>

    <!-- jQuery CDN (loaded before our JS) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&family=Vujahday+Script&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>

    <!-- Application Configuration -->
    <script type="application/json" id="app-config-data">
      <%= raw frontend_config.to_json %>
    </script>

    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="background-color"></div>
    <div class="background-image"></div>
    <%= render 'layouts/header' %>

    <main class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
