<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || t('site_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% if params[:refresh] == 'true' %>
      <script type="text/javascript">
        setTimeout("location.reload();",60000);
      </script>
    <% end %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&family=Vujahday+Script&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>

    <script>
      window.api_authorization='<%= Rails.application.credentials.api_authorization %>'
      window.google_maps_api_key='<%= Rails.application.credentials.google_maps_api_key %>'
      window.default_avatar_url='<%= asset_path('default-avatar.png') %>'
      window.agave_icon_url='<%= asset_path('agave.svg') %>'
      window.firedancer_icon_url='<%= asset_path('firedancer.svg') %>'
      window.loading_gif_url='<%= asset_path('loading.gif') %>'
      
      // Global asset path helper function
      window.asset_path_helper = function(filename) {
        // Generate asset paths with Rails digest hashes
        const assetMap = {
          'loading.gif': '<%= asset_path('loading.gif') %>',
          'default-avatar.png': '<%= asset_path('default-avatar.png') %>',
          'marinade-logo.svg': '<%= asset_path('marinade-logo.svg') %>',
          'marinade.png': '<%= asset_path('marinade.png') %>',
          'jpool-logo.svg': '<%= asset_path('jpool-logo.svg') %>',
          'jpool.png': '<%= asset_path('jpool.png') %>',
          'daopool-logo.png': '<%= asset_path('daopool-logo.png') %>',
          'daopool.png': '<%= asset_path('daopool.png') %>',
          'blazestake-logo.png': '<%= asset_path('blazestake-logo.png') %>',
          'blazestake.png': '<%= asset_path('blazestake.png') %>',
          'jito-logo.svg': '<%= asset_path('jito-logo.svg') %>',
          'jito.png': '<%= asset_path('jito.png') %>',
          'edgevana-logo.svg': '<%= asset_path('edgevana-logo.svg') %>',
          'edgevana.png': '<%= asset_path('edgevana.png') %>',
          'aero-logo.svg': '<%= asset_path('aero-logo.svg') %>',
          'aero.png': '<%= asset_path('aero.png') %>',
          'shinobi-logo.png': '<%= asset_path('shinobi-logo.png') %>',
          'shinobi.png': '<%= asset_path('shinobi.png') %>',
          'vault-logo.png': '<%= asset_path('vault-logo.png') %>',
          'vault.png': '<%= asset_path('vault.png') %>',
          'jagpool-logo.png': '<%= asset_path('jagpool-logo.png') %>',
          'jagpool.png': '<%= asset_path('jagpool.png') %>',
          'dynosol-logo.png': '<%= asset_path('dynosol-logo.png') %>',
          'dynosol.png': '<%= asset_path('dynosol.png') %>',
          'definsol-logo.png': '<%= asset_path('definsol-logo.png') %>',
          'definsol.png': '<%= asset_path('definsol.png') %>',
          'lido-logo.svg': '<%= asset_path('lido-logo.svg') %>',
          'lido.png': '<%= asset_path('lido.png') %>',
          'socean-logo.svg': '<%= asset_path('socean-logo.svg') %>',
          'socean.png': '<%= asset_path('socean.png') %>',
          'zippystake-logo.svg': '<%= asset_path('zippystake-logo.svg') %>',
          'zippystake.png': '<%= asset_path('zippystake.png') %>'
        };
        return assetMap[filename] || '/assets/' + filename;
      };
    </script>

    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="background-color"></div>
    <div class="background-image"></div>
    <%= render 'layouts/header' %>

    <main class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>

    <!-- JavaScript files for Boostrap. See https://getbootstrap.com/ -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>
